<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>主页管理</title>
		<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/templatemo-style.css}">
		<style>
			.acsCheck{
				display: inline-block;
				width: 50px;
				margin: 20px 20px;
			}
			.acsdiv{
				margin-top: 20px;
			}
		</style>
	</head>
	<body id="reportsPage">
		<div class="" id="home">
			<div class="container">
				<div class="row">
					<div class="col" style="color: white;">
						<p class="text-white mt-5 mb-5">新建角色</p>
						<p><span>角色名称</span><input type="text" class="form-control-sm" style="margin: 20px;"></p>
					</div>
				</div>
				<div class="row tm-content-row">
					<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
						<div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
							<h2 class="tm-block-title">客户管理</h2>
							<div class="tm-notification-items">
								<div class="media tm-notification-item">
									<input type="checkbox"  class="acsCheck">
									<div class="media-body acsdiv">
										<p class="mb-2">
											新增客户
										</p>
									</div>
								</div>
								<div class="media tm-notification-item">
									<input type="checkbox"  class="acsCheck">
									<div class="media-body acsdiv">
										<p class="mb-2">
											新增客户
										</p>
									</div>
								</div>
								<div class="media tm-notification-item">
									<input type="checkbox"  class="acsCheck">
									<div class="media-body acsdiv">
										<p class="mb-2">
											新增客户
										</p>
									</div>
								</div>
								<div class="media tm-notification-item">
									<input type="checkbox"  class="acsCheck">
									<div class="media-body acsdiv">
										<p class="mb-2">
											新增客户
										</p>
									</div>
								</div>
								<div class="media tm-notification-item">
									<button class="btn btn-default col-12">新增模块</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div style="margin: 0 auto;width: 50%;" class="row">
					<button class="col-8 offset-2 btn btn-primary" >新增角色</button>
				</div>
			</div>
		</div>
		<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js/moment.min.js}"></script>
		<script th:src="@{/js/Chart.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/tooplate-scripts.js}"></script>
	</body>
</html>