<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Product Page - Admin HTML Template</title>
        <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/templatemo-style.css}" />
  </head>

  <body id="reportsPage">
    <div class="container mt-5">
      <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
        	<form action="query" method="post">
	        	<input type="text" name="aname" placeholder="基地名称" class="form-group"/>
	        	<input type="text" name="pistion" placeholder="基地位置" class="form-group"/>
	        	<input type="submit" id="" style="border-radius: 30px 30px 30px 30px;width: 100px;margin-left: 20px;" class="btn-primary" value="查询" />
        	</form>
        	
          <div class="tm-bg-primary-dark tm-block tm-block-products">
            <div class="tm-product-table-container">
              <table class="table table-hover tm-table-small tm-product-table">
                <thead>
                  <tr>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">基地名称</th>
                    <th scope="col">基地位置</th>
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="item : ${list}">
                    <th scope="row"><input type="checkbox" /></th>
                     <td class=""><a href="" style="color: white;" th:text="${item.aname}"></a></td>
                    <td th:text="${item.pistion}"></td>
                    <td>
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- table container -->
            <a
              th:href="@{/xjb_areasController/toinsert}"
              class="btn btn-primary btn-block text-uppercase mb-3">新增基地</a>
            <button class="btn btn-primary btn-block text-uppercase">
            	删除基地
            </button>
          </div>
        </div>
        </div>
    </div>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <!-- https://jquery.com/download/ -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
        $(".tm-product-name").on("click", function() {
          window.location.href = "edit-product.html";
        });
    </script>
  </body>
</html>