<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Aviators - byaviators.com">

		<link rel="stylesheet" th:href="@{/css1/minified.css}">
		<link rel="shortcut icon" th:href="@{/assets/img/favicon.png}" type="image/png">
		<link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}" type="text/css">
		<link rel="stylesheet" th:href="@{/assets/css/bootstrap-responsive.css}" type="text/css">
		<link rel="stylesheet" th:href="@{/assets/libraries/chosen/chosen.css}" type="text/css">
		<link rel="stylesheet" th:href="@{/assets/libraries/bootstrap-fileupload/bootstrap-fileupload.css}" type="text/css">
		<link rel="stylesheet" th:href="@{/assets/libraries/jquery-ui-1.10.2.custom/css/ui-lightness/jquery-ui-1.10.2.custom.min.css}" type="text/css">
		<link rel="stylesheet" th:href="@{/assets/css/realia-blue.css}" type="text/css" id="color-variant-default">
		<link rel="stylesheet" href="#" type="text/css" id="color-variant">
		
		<script th:src="@{/js1/modernizr.min.js}"></script>
		<!-- PARTICULAR PAGES CSS FILES -->
		<link rel="stylesheet" th:href="@{/css1/owl.carousel.css}">
		<link rel="stylesheet" th:href="@{/css1/owl.theme.css}">
		<link th:href="@{/css1/flexslider.css}" rel="stylesheet" />
		<link rel="stylesheet" th:href="@{/css1/responsive.css}">
		<style>
			#main-content .section {
				padding-bottom: 30px;
			}
		</style>
		<title>Realia | HTML Template</title>
	</head>

	<body>
		<header id="site-header" role="banner">
		<!-- HEADER TOP -->
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-7">
						<!-- CONTACT INFO -->
						<div class="contact-info">
							<i class="iconfont-headphones round-icon"></i>
							<strong>+444 (100) 1234</strong>
							<span>(周一- 周五: 09.00 - 21.00)</span>
							</div>
						<!-- // CONTACT INFO -->
					</div>
					<div class="col-xs-12 col-sm-6 col-md-5">
						<ul class="actions unstyled clearfix" style="height: 40px;">
							<li style="height: 30px;">
								<!-- SEARCH BOX -->
								<div class="search-box">
									<form action="#" method="post">
										<div class="input-iconed prepend">
											<button class="input-icon"><i class="iconfont-search"></i></button>
											<label for="input-search" class="placeholder">在这里搜索</label>
											<input type="text" name="q" id="input-search" style="height: 30px; border-radius: 10px 10px;" class="round-input full-width" required />
										</div>
									</form>
								</div>
								<!-- // SEARCH BOX -->
							</li>
							<li data-toggle="sub-header" data-target="#sub-social">
								<!-- SOCIAL ICONS -->
								<a href="javascript:void(0);" id="social-icons">
									<i class="iconfont-share round-icon"></i>
								</a>
								
								<div id="sub-social" class="sub-header">
									<ul class="social-list unstyled text-center">
										<li><a href="#"><i class="iconfont-facebook round-icon"></i></a></li>
										<li><a href="#"><i class="iconfont-twitter round-icon"></i></a></li>
										<li><a href="#"><i class="iconfont-google-plus round-icon"></i></a></li>
										<li><a href="#"><i class="iconfont-pinterest round-icon"></i></a></li>
										<li><a href="#"><i class="iconfont-rss round-icon"></i></a></li>
									</ul>
								</div>
								<!-- // SOCIAL ICONS -->
							</li>
							<li data-toggle="sub-header" data-target="#sub-cart">
								<!-- SHOPPING CART -->
								<a href="javascript:void(0);" id="total-cart">
									<i class="iconfont-shopping-cart round-icon"></i>
								</a>
								
								<div id="sub-cart" class="sub-header">
									<div class="cart-header">
										<span>你的购物车是空的</span>
										<small><a href="cart.html">(See All)</a></small>
									</div>
									<ul class="cart-items product-medialist unstyled clearfix"></ul>
									<div class="cart-footer">
										<div class="cart-total clearfix">
											<span class="pull-left uppercase">总计</span>
											<span class="pull-right total">￥ 0</span>
										</div>
										<div class="text-right">
											<a href="cart.html" class="btn btn-default btn-round view-cart">查看</a>
										</div>
									</div>
								</div>
								<!-- // SHOPPING CART -->
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<!-- ADD TO CART MESSAGE -->
			<div class="cart-notification">
				<ul class="unstyled"></ul>
			</div>
			<!-- // ADD TO CART MESSAGE -->
		</div>
		<!-- // HEADER TOP -->
		<!-- MAIN HEADER -->
		<div class="main-header-wrapper">
			<div class="container">
				<div class="main-header">
					<!-- CURRENCY / LANGUAGE / USER MENU -->
					<div class="actions">
						<div class="center-xs">
							<!-- CURRENCY -->
							<ul class="option-list unstyled">
								<li class="active"><a href="#" data-toggle="tooltip" title="人民币">￥</a></li>
								<li><a href="#" data-toggle="tooltip" title="GBP - British Pound">£</a></li>
								<li><a href="#" data-toggle="tooltip" title="EUR - Euro">€</a></li>
							</ul>
							<!-- // CURRENCY -->
							<!-- LANGUAGES -->
							<ul class="option-list unstyled">
								<li class="active"><a href="#" data-toggle="tooltip" title="中文">CH</a></li>
								<li><a href="#" data-toggle="tooltip" title="French">FR</a></li>
								<li><a href="#" data-toggle="tooltip" title="Deutsch">DE</a></li>
							</ul>
							<!-- // LANGUAGES -->
						</div>
						<div class="clearfix"></div>
						<!-- USER RELATED MENU -->
						<nav id="tiny-menu" class="clearfix">
							<ul class="user-menu">
								<li><a href="Person.html">我的账户</a></li>
								<li><a href="Person.html">查看</a></li>
								<li><a href="login-page.html">登出</a></li>
							</ul>
						</nav>
						<!-- // USER RELATED MENU -->
					</div>
					<!-- // CURRENCY / LANGUAGE / USER MENU -->
					<!-- SITE LOGO -->
					<div class="logo-wrapper">
						<a href="index-2.html" class="logo" title="GFashion - Responsive e-commerce HTML Template">
							<img th:src="@{/images/logo2.png}" alt="Logo" />
						</a>
					</div>
					<!-- // SITE LOGO -->
					<!-- SITE NAVIGATION MENU -->
					<nav id="site-menu" role="navigation">
						<ul class="main-menu hidden-sm hidden-xs">
							<li class="active">
								<a href="pagehome.html">首页</a>
							</li>
							<li>
								<a href="productInfo.html">活动</a>
							</li>
							<li>
								<a href="menu1.html">餐饮</a>
							</li>
							<li>
								<a href="hotel.html">住宿</a>
							</li>
							
							<li>	
								<a href="Person.html">个人中心</a>
							</li>
						</ul>
						
	
					</nav>
					<!-- // SITE NAVIGATION MENU -->
				</div>
			</div>
		</div>
		<!-- // MAIN HEADER -->
	</header>

		<div id="wrapper-outer">
			<div id="wrapper">
				<div id="wrapper-inner">
					<div id="content">
						<div class="container">
							<div id="main"  style="width: 1185px;">
								<div class="row">
									<div class="span9">
										<h1 class="page-header" th:text="${room.rname}"></h1>

										<div class="carousel property">
											<div class="preview">
												<img th:src="@{/assets/img/tmp/property-large-1.jpg}" style="width:870px ;height: 420px;" alt="">
											</div>
											<!-- /.preview -->

											<div class="content">

												<a class="carousel-prev" href="#">Previous</a>
												<a class="carousel-next" href="#">Next</a>
												<ul>
													<li class="active" th:each="iitem : ${room.imgs}">
														<img th:src="${iitem.url}" alt="" style="width:155px ;height: 75px;">
													</li>
												</ul>
											</div>
											<!-- /.content -->
										</div>
										<!-- /.carousel -->

										<div class="property-detail" style="height: 260px;">
											<div class="pull-left overview">
												<div class="row">
													<div class="span3">
														<h2>概观</h2>

														<table>
															<tr>
																<th>价钱:</th>
																<td th:text="${room.price}"></td>
															</tr>
															<tr>
																<th>合同类型：</th>
																<td>出租 </td>
															</tr>
															<tr>
																<th>类型:</th>
																<td><span th:if="${room.typeid==1}" th:text="单人间"></span><span th:if="${room.typeid==2}" th:text="双人间"></span><span th:if="${room.typeid==3}" th:text="总统套房"></span></td>
															</tr>
															<tr>
																<th>位置:</th>
																<td  th:text="${room.location}"></td>
															</tr>
															<tr>
																<th>浴室:</th>
																<td>3</td>
															</tr>
															<tr>
																<th>卧室:</th>
																<td>3</td>
															</tr>
															<tr>
																<th>区域:</th>
																<td>750米<sup>2</sup></td>
															</tr>
														</table>
													</div>
													<!-- /.span2 -->
												</div>
												<!-- /.row -->
											</div>

											<p th:text="${room.introduce}"> </p>

										</div>

									</div>
									<div class="sidebar span3">
										<div class="widget our-agents">

										</div>
										<!-- /.our-agents -->
										<div class="widget contact">

										</div>
										<!-- /.widget -->
										<div class="widget properties last">
											<div class="title">
												<h2>火爆物业</h2>
											</div>
											<!-- /.title -->

											<div class="content">
												<div class="property" th:each="oitem,ostack : ${olist}">
														<div class="image">
															<a href="detail.html"></a>
															<img th:if="${oitem.rooms.url !=null}" th:src="${oitem.rooms.url}" style="width: 100px;height: 80px;" alt="">
														</div>
														<!-- /.image -->

														<div class="wrapper">
															<div class="title">
																<h3>
                        						<a href="detail.html" th:text="${oitem.rooms.rname}"></a>
                    </h3>
															</div>
															<!-- /.title -->
															<div class="location"><span th:if="${oitem.rooms.typeid==1}" th:text="单人间"></span><span th:if="${oitem.rooms.typeid==2}" th:text="双人间"></span><span th:if="${oitem.rooms.typeid==3}" th:text="总统套房"></span></div>
															<!-- /.location -->
															<div class="price" th:text="'$'+${oitem.rooms.price}" style="font-size: 20px ;color: red;"></div>
															<!-- /.price -->
														</div>
														<!-- /.wrapper -->
													</div>
													<!-- /.property -->
												<div>
													<h2>预订房间</h2>
													<div>
														已被预订时间段：
														<ol class="list-group" style="margin-left: 0px;">
															<li class="list-group-item" th:each="ditem : ${dlist}"><span th:text="${#dates.format(ditem.begintime, 'yyyy-MM-dd')}"></span>到<span th:text="${#dates.format(ditem.endtime, 'yyyy-MM-dd')}"></span><span style="color: red;"></span></li>
														</ol>
													</div>
													<div class="input-group">
														选择开始时间<input type="date" class="ks form-control" style="height: 30px"><br/> 
														选择结束时间<input type="date"  class="jss form-control" style="height: 30px">
													</div>
													<!-- /input-group -->
													<div>
														<input type="submit" id="yd" value="预订" class="btn btn-primary btn-block text-uppercase">
													</div>
													<input type="hidden" th:value="${room.id}" id="id">
												</div>
											</div>
											<!-- /.content -->
										</div>
										<!-- /.properties -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /#content -->
				</div>
				<!-- /#wrapper-inner -->

			</div>
			<!-- /#wrapper -->
		</div>
		<div class="palette">
			<div class="toggle">
				<a href="#">Toggle</a>
			</div>
			<!-- /.toggle -->

			<div class="inner">
				<div class="headers">

				</div>
				<!-- /.headers -->

				<a href="#" class="btn btn-primary reset">Reset default</a>
			</div>
			<!-- /.inner -->
		</div>
		<!-- /.palette -->
						<script type="text/javascript" th:src="@{/assets/js/jquery.js}"></script>
						<script type="text/javascript" th:src="@{/assets/js/jquery.ezmark.js}"></script>
						<script type="text/javascript" th:src="@{/assets/js/jquery.currency.js}"></script>
						<script type="text/javascript" th:src="@{/assets/js/jquery.cookie.js}"></script>
						<script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"></script>
						<script type="text/javascript" th:src="@{/assets/js/carousel.js}"></script>
						<script type="text/javascript" th:src="@{/assets/libraries/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js}"></script>
						<script type="text/javascript" th:src="@{/assets/libraries/chosen/chosen.jquery.min.js}"></script>
						<script type="text/javascript" th:src="@{/assets/libraries/iosslider/_src/jquery.iosslider.min.js}"></script>
						<script type="text/javascript" th:src="@{/assets/libraries/bootstrap-fileupload/bootstrap-fileupload.js}"></script>
						<script type="text/javascript" th:src="@{/assets/js/realia.js}"></script>
	</body>
		<script type="text/javascript">
			$(function(){
				$("#yd").click(function(){
					var kdate=$(".ks").val();
					var jdate=$(".jss").val();
					if(kdate==''||jdate==''){
						alert("请选择时间");
						return false;
					}
					var roomId=$("#id").val();
					$.ajax({
						url:"/room/queryByroomdestineid",
						data:{
							"roomid":roomId,
							"begintime":kdate,
							"endtime":jdate,
						},
						type:"post",
						dataType:"text",
						success:function(result){
							alert(result);
							window.location.reload();
						}
					})
				})
			})
													
		</script>
</html>