<!DOCTYPE html>
<html lang="en-US">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Aviators - byaviators.com">

		<link rel="shortcut icon" href="assets/img/favicon.png" type="image/png">
		<link rel="stylesheet" href="assets/css/bootstrap.css" type="text/css">
		<link rel="stylesheet" href="assets/css/bootstrap-responsive.css" type="text/css">
		<link rel="stylesheet" href="assets/libraries/chosen/chosen.css" type="text/css">
		<link rel="stylesheet" href="assets/libraries/bootstrap-fileupload/bootstrap-fileupload.css" type="text/css">
		<link rel="stylesheet" href="assets/libraries/jquery-ui-1.10.2.custom/css/ui-lightness/jquery-ui-1.10.2.custom.min.css" type="text/css">
		<link rel="stylesheet" href="assets/css/realia-blue.css" type="text/css" id="color-variant-default">
		<link rel="stylesheet" href="#" type="text/css" id="color-variant">
		<link rel="stylesheet" href="css1/minified.css">
		<script>
			window.jQuery || document.write('<script src="js1/jquery.min.js"><\/script>');
		</script>
		<script src="js1/modernizr.min.js"></script>
		<!-- PARTICULAR PAGES CSS FILES -->
		<link rel="stylesheet" href="css1/owl.carousel.css">
		<link rel="stylesheet" href="css1/owl.theme.css">
		<link href="css1/flexslider.css" rel="stylesheet" />
		<!-- // PARTICULAR PAGES CSS FILES -->
		<link rel="stylesheet" href="css1/responsive.css">
		<style>
			#main-content .section {
				padding-bottom: 30px;
			}
		</style>
		<title>Realia | HTML Template</title>
	</head>

	<body>
		<header id="site-header" role="banner">
		<!-- HEADER TOP -->
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-7">
						<!-- CONTACT INFO -->
						<div class="contact-info">
							<i class="iconfont-headphones round-icon"></i>
							<strong>+444 (100) 1234</strong>
							<span>(周一- 周五: 09.00 - 21.00)</span>
							</div>
						<!-- // CONTACT INFO -->
					</div>
					<div class="col-xs-12 col-sm-6 col-md-5">
						<ul class="actions unstyled clearfix" style="height: 40px;">
							<li style="height: 30px;">
								<!-- SEARCH BOX -->
								<div class="search-box">
									<form action="#" method="post">
										<div class="input-iconed prepend">
											<button class="input-icon"><i class="iconfont-search"></i></button>
											<label for="input-search" class="placeholder">在这里搜索</label>
											<input type="text" name="q" id="input-search" style="height: 30px; border-radius: 10px 10px;" class="round-input full-width" required />
										</div>
									</form>
								</div>
								<!-- // SEARCH BOX -->
							</li>
							<li data-toggle="sub-header" data-target="#sub-social">
								<!-- SOCIAL ICONS -->
								<a href="javascript:void(0);" id="social-icons">
									<i class="iconfont-share round-icon"></i>
								</a>
								
								<div id="sub-social" class="sub-header">
									<ul class="social-list unstyled text-center">
										<li><a href="#"><i class="iconfont-facebook round-icon"></i></a></li>
										<li><a href="#"><i class="iconfont-twitter round-icon"></i></a></li>
										<li><a href="#"><i class="iconfont-google-plus round-icon"></i></a></li>
										<li><a href="#"><i class="iconfont-pinterest round-icon"></i></a></li>
										<li><a href="#"><i class="iconfont-rss round-icon"></i></a></li>
									</ul>
								</div>
								<!-- // SOCIAL ICONS -->
							</li>
							<li data-toggle="sub-header" data-target="#sub-cart">
								<!-- SHOPPING CART -->
								<a href="javascript:void(0);" id="total-cart">
									<i class="iconfont-shopping-cart round-icon"></i>
								</a>
								
								<div id="sub-cart" class="sub-header">
									<div class="cart-header">
										<span>你的购物车是空的</span>
										<small><a href="cart.html">(See All)</a></small>
									</div>
									<ul class="cart-items product-medialist unstyled clearfix"></ul>
									<div class="cart-footer">
										<div class="cart-total clearfix">
											<span class="pull-left uppercase">总计</span>
											<span class="pull-right total">￥ 0</span>
										</div>
										<div class="text-right">
											<a href="cart.html" class="btn btn-default btn-round view-cart">查看</a>
										</div>
									</div>
								</div>
								<!-- // SHOPPING CART -->
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<!-- ADD TO CART MESSAGE -->
			<div class="cart-notification">
				<ul class="unstyled"></ul>
			</div>
			<!-- // ADD TO CART MESSAGE -->
		</div>
		<!-- // HEADER TOP -->
		<!-- MAIN HEADER -->
		<div class="main-header-wrapper">
			<div class="container">
				<div class="main-header">
					<!-- CURRENCY / LANGUAGE / USER MENU -->
					<div class="actions">
						<div class="center-xs">
							<!-- CURRENCY -->
							<ul class="option-list unstyled">
								<li class="active"><a href="#" data-toggle="tooltip" title="人民币">￥</a></li>
								<li><a href="#" data-toggle="tooltip" title="GBP - British Pound">£</a></li>
								<li><a href="#" data-toggle="tooltip" title="EUR - Euro">€</a></li>
							</ul>
							<!-- // CURRENCY -->
							<!-- LANGUAGES -->
							<ul class="option-list unstyled">
								<li class="active"><a href="#" data-toggle="tooltip" title="中文">CH</a></li>
								<li><a href="#" data-toggle="tooltip" title="French">FR</a></li>
								<li><a href="#" data-toggle="tooltip" title="Deutsch">DE</a></li>
							</ul>
							<!-- // LANGUAGES -->
						</div>
						<div class="clearfix"></div>
						<!-- USER RELATED MENU -->
						<nav id="tiny-menu" class="clearfix">
							<ul class="user-menu">
								<li><a href="Person.html">我的账户</a></li>
								<li><a href="Person.html">查看</a></li>
								<li><a href="login-page.html">登出</a></li>
							</ul>
						</nav>
						<!-- // USER RELATED MENU -->
					</div>
					<!-- // CURRENCY / LANGUAGE / USER MENU -->
					<!-- SITE LOGO -->
					<div class="logo-wrapper">
						<a href="index-2.html" class="logo" title="GFashion - Responsive e-commerce HTML Template">
							<img src="images/logo2.png" alt="Logo" />
						</a>
					</div>
					<!-- // SITE LOGO -->
					<!-- SITE NAVIGATION MENU -->
					<nav id="site-menu" role="navigation">
						<ul class="main-menu hidden-sm hidden-xs">
							<li class="active">
								<a href="pagehome.html">首页</a>
							</li>
							<li>
								<a href="productInfo.html">活动</a>
							</li>
							<li>
								<a href="menu1.html">餐饮</a>
							</li>
							<li>
								<a href="hotel.html">住宿</a>
							</li>
							
							<li>	
								<a href="Person.html">个人中心</a>
							</li>
						</ul>
						
	
					</nav>
					<!-- // SITE NAVIGATION MENU -->
				</div>
			</div>
		</div>
		<!-- // MAIN HEADER -->
	</header>

		<div id="wrapper-outer">
			<div id="wrapper">
				<div id="wrapper-inner">
					<div id="content">
						<div class="container">
							<div id="main"  style="width: 1185px;">
								<div class="row">
									<div class="span9">
										<h1 class="page-header">太平洋海岸27523</h1>

										<div class="carousel property">
											<div class="preview">
												<img src="assets/img/tmp/property-large-1.jpg" alt="">
											</div>
											<!-- /.preview -->

											<div class="content">

												<a class="carousel-prev" href="#">Previous</a>
												<a class="carousel-next" href="#">Next</a>
												<ul>
													<li class="active">
														<img src="assets/img/tmp/property-large-1.jpg" alt="">
													</li>
													<li>
														<img src="assets/img/tmp/property-large-2.jpg" alt="">
													</li>
													<li>
														<img src="assets/img/tmp/property-large-3.jpg" alt="">
													</li>
													<li>
														<img src="assets/img/tmp/property-large-4.jpg" alt="">
													</li>
													<li>
														<img src="assets/img/tmp/property-large-1.jpg" alt="">
													</li>
													<li>
														<img src="assets/img/tmp/property-large-2.jpg" alt="">
													</li>
													<li>
														<img src="assets/img/tmp/property-large-3.jpg" alt="">
													</li>
													<li>
														<img src="assets/img/tmp/property-large-4.jpg" alt="">
													</li>
													<li>
														<img src="assets/img/tmp/property-large-1.jpg" alt="">
													</li>
													<li>
														<img src="assets/img/tmp/property-large-2.jpg" alt="">
													</li>
													<li>
														<img src="assets/img/tmp/property-large-3.jpg" alt="">
													</li>
													<li>
														<img src="assets/img/tmp/property-large-4.jpg" alt="">
													</li>
													<li>
														<img src="assets/img/tmp/property-large-1.jpg" alt="">
													</li>
													<li>
														<img src="assets/img/tmp/property-large-2.jpg" alt="">
													</li>
												</ul>
											</div>
											<!-- /.content -->
										</div>
										<!-- /.carousel -->

										<div class="property-detail">
											<div class="pull-left overview">
												<div class="row">
													<div class="span3">
														<h2>概观</h2>

														<table>
															<tr>
																<th>价钱:</th>
																<td>€2 300 000</td>
															</tr>
															<tr>
																<th>合同类型：</th>
																<td>出租 </td>
															</tr>
															<tr>
																<th>类型:</th>
																<td>公寓</td>
															</tr>
															<tr>
																<th>地点:</th>
																<td>中国</td>
															</tr>
															<tr>
																<th>浴室:</th>
																<td>3</td>
															</tr>
															<tr>
																<th>卧室:</th>
																<td>3</td>
															</tr>
															<tr>
																<th>区域:</th>
																<td>750米<sup>2</sup></td>
															</tr>
														</table>
													</div>
													<!-- /.span2 -->
												</div>
												<!-- /.row -->
											</div>

											<p><strong>
                    	Lorem存有悲坐阿梅德，consectetur adipiscing ELIT。即使ullamcorper免费的，但笔者还是现在投资怀孕。
                    	应力电视电视消费拉动消毒胡萝卜设置。怀孕NIBH疗箱的影响。桑达宝莱坞的质量。Mauris elementum腾邦暂准，ullamc
                    	orper生活的SEM ultricies生活。Nullam consectetur lacinia iaculis QUIS laoreet麦格纳枕英寸 类由
                    	我们的婚姻开始就业的扭曲，每himenaeos。再融资。当拉手光芒超级碗山瞬间。
                    </strong> 也不要有阿梅德，consectetur adipiscing facilisis vehicula turpis SED Morbi欧盟SAPIEN。悲坐现在，电视上没有一个足球直播。该疗法是裙子，consectetur，三重我的足球。蛋白质伤 心的时候。Laoreet桑达长壶进了山谷，但质量裙子。乘客的南怀作者。智能手机。开发商现在饮料配方的拍摄时间。目前爱欲ELIT，interdum PO RTA ultricies坐阿梅德，iaculis中也不。在前面的或未来的时间，或有针对性的Nullam乌仁娜，有很多的帮助。就在入口 处于靶高中足球ultricies tincidunt。欧盟橙色茉莉便宜，但在其他方面你的软件是免费的</p>

										</div>

									</div>
									<div class="sidebar span3">
										<div class="widget our-agents">

										</div>
										<!-- /.our-agents -->
										<div class="widget contact">

										</div>
										<!-- /.widget -->
										<div class="widget properties last">
											<div class="title">
												<h2>最新物业</h2>
											</div>
											<!-- /.title -->

											<div class="content">
												<div class="property">
													<div class="image">
														<a href="detail.html"></a>
														<img src="assets/img/tmp/property-small-4.png" alt="">
													</div>
													<!-- /.image -->

													<div class="wrapper">
														<div class="title">
															<h3>
                        <a href="detail.html">太平洋海岸27523</a>
                    </h3>
														</div>
														<!-- /.title -->
														<div class="location">Palo Alto CA</div>
														<!-- /.location -->
														<div class="price">€2 300 000</div>
														<!-- /.price -->
													</div>
													<!-- /.wrapper -->
												</div>
												<!-- /.property -->

												<div class="property">
													<div class="image">
														<a href="detail.html"></a>
														<img src="assets/img/tmp/property-small-5.png" alt="">
													</div>
													<!-- /.image -->

													<div class="wrapper">
														<div class="title">
															<h3>
                        <a href="detail.html">27523 Pacific Coast</a>
                    </h3>
														</div>
														<!-- /.title -->
														<div class="location">Palo Alto CA</div>
														<!-- /.location -->
														<div class="price">€2 300 000</div>
														<!-- /.price -->
													</div>
													<!-- /.wrapper -->
												</div>
												<!-- /.property -->

												<div class="property">
													<div class="image">
														<a href="detail.html"></a>
														<img src="assets/img/tmp/property-small-6.png" alt="">
													</div>
													<!-- /.image -->

													<div class="wrapper">
														<div class="title">
															<h3>
                        <a href="detail.html">27523 Pacific Coast</a>
                    </h3>
														</div>
														<!-- /.title -->
														<div class="location">Palo Alto CA</div>
														<!-- /.location -->
														<div class="price">€2 300 000</div>
														<!-- /.price -->
													</div>
													<!-- /.wrapper -->
												</div>
												<!-- /.property -->

												<div class="property">
													<div class="image">
														<a href="detail.html"></a>
														<img src="assets/img/tmp/property-small-2.png" alt="">
													</div>
													<!-- /.image -->

													<div class="wrapper">
														<div class="title">
															<h3>
                        <a href="detail.html">27523 Pacific Coast</a>
                    </h3>
														</div>
														<!-- /.title -->
														<div class="location">Palo Alto CA</div>
														<!-- /.location -->
														<div class="price">€2 300 000</div>
														<!-- /.price -->
													</div>
													<!-- /.wrapper -->
												</div>
												<!-- /.property -->
												<div>
													<h2>预订房间</h2>
													<div>
														已被预订时间段：
														<ol class="list-group">
															<li class="list-group-item">2019-3-23到2019-3-24</li>
															<li class="list-group-item">2019-3-23到2019-3-24</li>
															<li class="list-group-item">2019-3-23到2019-3-24</li>
															<li class="list-group-item">2019-3-23到2019-3-24</li>
														</ol>
													</div>
													<div class="input-group">
														选择开始时间(当天4点)：<input type="date" class="form-control"><br/> 选择结束时间(次天2点)：
														<input type="date" class="form-control">
													</div>
													<!-- /input-group -->
													<div>
														<button class="btn btn-primary btn-block text-uppercase" onclick="location.href='dingdan.html'">
	            	预订
	            </button>
													</div>
												</div>
											</div>
											<!-- /.content -->
										</div>
										<!-- /.properties -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /#content -->
				</div>
				<!-- /#wrapper-inner -->

			</div>
			<!-- /#wrapper -->
		</div>
		<div class="palette">
			<div class="toggle">
				<a href="#">Toggle</a>
			</div>
			<!-- /.toggle -->

			<div class="inner">
				<div class="headers">

				</div>
				<!-- /.headers -->

				<a href="#" class="btn btn-primary reset">Reset default</a>
			</div>
			<!-- /.inner -->
		</div>
		<!-- /.palette -->

		<script type="text/javascript" src="assets/js/jquery.js"></script>
		<script type="text/javascript" src="assets/js/jquery.ezmark.js"></script>
		<script type="text/javascript" src="assets/js/jquery.currency.js"></script>
		<script type="text/javascript" src="assets/js/jquery.cookie.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/js/carousel.js"></script>
		<script type="text/javascript" src="assets/libraries/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js"></script>
		<script type="text/javascript" src="assets/libraries/chosen/chosen.jquery.min.js"></script>
		<script type="text/javascript" src="assets/libraries/iosslider/_src/jquery.iosslider.min.js"></script>
		<script type="text/javascript" src="assets/libraries/bootstrap-fileupload/bootstrap-fileupload.js"></script>
		<script type="text/javascript" src="assets/js/realia.js"></script>
	</body>

</html>