<!DOCTYPE html>
<html>

	<head>
		<title>Check Out</title>

		<link href="css1/bootstrap.css" rel="stylesheet">
		<link href="css1/style.css" rel="stylesheet" type="text/css" media="all" />
		<link rel="icon" href="img1/favicon/favicon.html" type="image/x-icon" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img1/favicon/apple-touch-icon-144x144-precomposed.html">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img1/favicon/apple-touch-icon-72x72-precomposed.html">
		<link rel="apple-touch-icon-precomposed" href="img1/favicon/apple-touch-icon-precomposed.html">
		<link rel="stylesheet" href="css1/minified.css">
		<script>window.jQuery || document.write('<script src="js1/jquery.min.js"><\/script>');</script>
		<script src="js1/modernizr.min.js"></script>	
		<link rel="stylesheet" href="css1/owl.carousel.css">
		<link rel="stylesheet" href="css1/owl.theme.css">
		<link href="css1/flexslider.css" rel="stylesheet" />
		<link rel="stylesheet" href="css1/responsive.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Favorites Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<script type="text/javascript" src="js1/jquery.min.js"></script>
		<script src="js1/simpleCart.min.js">
		</script>
		<script type="text/javascript" src="js1/move-top.js"></script>
		<script type="text/javascript" src="js1/easing.js"></script>
		<script type="text/javascript" src="js1/bootstrap.min.js"></script>
		<script src="js1/minified.js"></script>
		<script src="js1/owl.carousel.js"></script>
		<script src="js1/jquery.flexslider-min.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event) {
					event.preventDefault();
					$('html,body').animate({
						scrollTop: $(this.hash).offset().top
					}, 1000);
				});
			});
		</script>
		<!-- start-smoth-scrolling -->
		<style>
			.cart-sec {
				border-bottom: 0px dotted #000;
				padding: 0px 0;
			}
			.input-icon >i{
				margin-left: 10px;
				margin-top: -5px;	
			}
		</style>
	</head>

	<body id="home">
		<div id="page-wrapper">
		<header id="site-header" role="banner">
		<!-- HEADER TOP -->
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-7">
						<!-- CONTACT INFO -->
						<div class="contact-info">
							<i class="iconfont-headphones round-icon"></i>
							<strong>+444 (100) 1234</strong>
							<span>(周一- 周五: 09.00 - 21.00)</span>
							</div>
						<!-- // CONTACT INFO -->
					</div>
					<div class="col-xs-12 col-sm-6 col-md-5">
						<ul class="actions unstyled clearfix">
							<li>
								<!-- SEARCH BOX -->
								<div class="search-box">
									<form action="#" method="post">
										<div class="input-iconed prepend">
											<button class="input-icon"><i class="iconfont-search"></i></button>
											<label for="input-search" class="placeholder">在这里搜索</label>
											<input type="text" name="q" id="input-search" class="round-input full-width" required />
										</div>
									</form>
								</div>
								<!-- // SEARCH BOX -->
							</li>
							<li data-toggle="sub-header" data-target="#sub-social">
								<!-- SOCIAL ICONS -->
								<a href="javascript:void(0);" id="social-icons">
									<i class="iconfont-share round-icon"></i>
								</a>
								
								<div id="sub-social" class="sub-header">
									<ul class="social-list unstyled text-center">
										<li><a href="#"><i class="iconfont-facebook round-icon"></i></a></li>
										<li><a href="#"><i class="iconfont-twitter round-icon"></i></a></li>
										<li><a href="#"><i class="iconfont-google-plus round-icon"></i></a></li>
										<li><a href="#"><i class="iconfont-pinterest round-icon"></i></a></li>
										<li><a href="#"><i class="iconfont-rss round-icon"></i></a></li>
									</ul>
								</div>
								<!-- // SOCIAL ICONS -->
							</li>
							<li data-toggle="sub-header" data-target="#sub-cart">
								<!-- SHOPPING CART -->
								<a href="javascript:void(0);" id="total-cart">
									<i class="iconfont-shopping-cart round-icon"></i>
								</a>
								
								<div id="sub-cart" class="sub-header">
									<div class="cart-header">
										<span>你的购物车是空的</span>
										<small><a href="cart.html">(See All)</a></small>
									</div>
									<ul class="cart-items product-medialist unstyled clearfix"></ul>
									<div class="cart-footer">
										<div class="cart-total clearfix">
											<span class="pull-left uppercase">总计</span>
											<span class="pull-right total">￥ 0</span>
										</div>
										<div class="text-right">
											<a href="cart.html" class="btn btn-default btn-round view-cart">查看</a>
										</div>
									</div>
								</div>
								<!-- // SHOPPING CART -->
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<!-- ADD TO CART MESSAGE -->
			<div class="cart-notification">
				<ul class="unstyled"></ul>
			</div>
			<!-- // ADD TO CART MESSAGE -->
		</div>
		<!-- // HEADER TOP -->
		<!-- MAIN HEADER -->
		<div class="main-header-wrapper">
			<div class="container">
				<div class="main-header">
					<!-- CURRENCY / LANGUAGE / USER MENU -->
					<div class="actions">
						<div class="center-xs">
							<!-- CURRENCY -->
							<ul class="option-list unstyled">
								<li class="active"><a href="#" data-toggle="tooltip" title="人民币">￥</a></li>
								<li><a href="#" data-toggle="tooltip" title="GBP - British Pound">£</a></li>
								<li><a href="#" data-toggle="tooltip" title="EUR - Euro">€</a></li>
							</ul>
							<!-- // CURRENCY -->
							<!-- LANGUAGES -->
							<ul class="option-list unstyled">
								<li class="active"><a href="#" data-toggle="tooltip" title="中文">CH</a></li>
								<li><a href="#" data-toggle="tooltip" title="French">FR</a></li>
								<li><a href="#" data-toggle="tooltip" title="Deutsch">DE</a></li>
							</ul>
							<!-- // LANGUAGES -->
						</div>
						<div class="clearfix"></div>
						<!-- USER RELATED MENU -->
						<nav id="tiny-menu" class="clearfix">
							<ul class="user-menu">
								<li><a href="Person.html">我的账户</a></li>
								<li><a href="Person.html">查看</a></li>
								<li><a href="login-page.html">登出</a></li>
							</ul>
						</nav>
						<!-- // USER RELATED MENU -->
					</div>
					<!-- // CURRENCY / LANGUAGE / USER MENU -->
					<!-- SITE LOGO -->
					<div class="logo-wrapper">
						<a href="index-2.html" class="logo" title="GFashion - Responsive e-commerce HTML Template">
							<img src="images/logo2.png" alt="Logo" />
						</a>
					</div>
					<!-- // SITE LOGO -->
					<!-- SITE NAVIGATION MENU -->
					<nav id="site-menu" role="navigation">
						<ul class="main-menu hidden-sm hidden-xs">
							<li class="active">
								<a href="pagehome.html">首页</a>
							</li>
							<li>
								<a href="productList.html">活动</a>
							</li>
							<li>
								<a href="menu1.html">餐饮</a>
							</li>
							<li>
								<a href="hotel.html">住宿</a>
							</li>
							
							<li>	
								<a href="Person.html">个人中心</a>
							</li>
						</ul>
						</nav>
					<!-- // SITE NAVIGATION MENU -->
				</div>
			</div>
		</div>
		<!-- // MAIN HEADER -->
	</header>

		<div class="cart-items">
			<div class="container">
				<h1>我的订单(3)</h1>
				<ul class="list-group">
					<li class="list-group-item">
						<div class="panel panel-success">
							<!-- Default panel contents -->
							<div class="panel-heading">
								<span>订单编号：3456454322132</span>
								<span style="margin-left: 150px;">下单时间：2019-09-09 12:31</span>
								<span style="margin-left: 150px;">订单状态：<span style="color: red;">已付款</span></span>
								<span style="margin-left: 150px;">订单总价：<span style="color: red;">$99</span></span>
							</div>
							<ul class="list-group">
								<li class="list-group-item">
									<div class="cart-header">
										<div class="cart-sec simpleCart_shelfItem">
											<div class="cart-item cyc">
												<img src="images/k3.jpg" class="img-responsive" alt="">
											</div>
											<div class="row">
												<div class="col-md-3">
													<div class="cart-item-info row">
														<h3><a href="#">名字</a><span></span></h3>
														<ul class="qty">
															<li>
																<p>商品单价：<span class="dj">12.00</span></p>
															</li>
														</ul>
														<span>商品数量：12</span>
														<div>小计：<span name="xj">12.00</span></div>
														<div><span class="glyphicon glyphicon-thumbs-up">(123)</span></div>
														<button type="button" class="btn btn-default" aria-label="Left Align" data-target="#md" data-toggle="modal">
												  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>评价
												</button>
													</div>
												</div>
												<div class="col-md-5 col-md-offset-1">
													<span style="color: red;">菜品介绍：</span>
													<div>
														jssssssssssssss sjjjjjjjjjjjjjj kjssssssssssssss ksssssssssss 死就急急急急急急急急 急急急急急急急死就急 急急急急急急急急急急急 即使是事实上事实上事实上课看
													</div>
												</div>
												<div class="clearfix">

												</div>
											</div>

										</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="cart-header">
										<div class="cart-sec simpleCart_shelfItem">
											<div class="cart-item cyc">
												<img src="images/k3.jpg" class="img-responsive" alt="">
											</div>
											<div class="row">
												<div class="col-md-3">
													<div class="cart-item-info row">
														<h3><a href="#">名字</a><span></span></h3>
														<ul class="qty">
															<li>
																<p>商品单价：<span class="dj">12.00</span></p>
															</li>
														</ul>
														<span>商品数量：12</span>
														<div>小计：<span name="xj">12.00</span></div>
														<div><span class="glyphicon glyphicon-thumbs-up">(123)</span></div>
														<button type="button" class="btn btn-default" aria-label="Left Align" data-target="#md" data-toggle="modal">
												  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>评价
												</button>
													</div>
												</div>
												<div class="col-md-5 col-md-offset-1">
													<span style="color: red;">菜品介绍：</span>
													<div>
														jssssssssssssss sjjjjjjjjjjjjjj kjssssssssssssss ksssssssssss 死就急急急急急急急急 急急急急急急急死就急 急急急急急急急急急急急 即使是事实上事实上事实上课看
													</div>
												</div>
												<div class="clearfix">

												</div>
											</div>

										</div>
									</div>
								</li>
							</ul>
							<div class="panel-footer" style="height: 60px;line-height: 50px;margin-top: -8px;">
								<span style="position: absolute; left: 50px;bottom:30px;font-size:16px ;">离订单取消还有30s <a href="#" style="color: red;">立即付款</a></span>
								<div style="float: right;">
									<button type="button" class="pj btn btn-default btn-lg" style="margin-top: 0px;">
							  我要评价
							</button>
									<button type="button" class="btn btn-default btn-lg" style="margin-left: 50px;margin-top: 0px;">
							   马上付款
							</button>
								</div>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="panel panel-success">
							<!-- Default panel contents -->
							<div class="panel-heading">
								<span>订单编号：3456454322132</span>
								<span style="margin-left: 150px;">下单时间：2019-09-09 12:31</span>
								<span style="margin-left: 150px;">订单状态：<span style="color: red;">已付款</span></span>
								<span style="margin-left: 150px;">订单总价：<span style="color: red;">$99</span></span>
							</div>
							<ul class="list-group">
								<li class="list-group-item">
									<div class="cart-header">
										<div class="cart-sec simpleCart_shelfItem">
											<div class="cart-item cyc">
												<img src="images/k3.jpg" class="img-responsive" alt="">
											</div>
											<div class="row">
												<div class="col-md-3">
													<div class="cart-item-info row">
														<h3><a href="#">名字</a><span></span></h3>
														<ul class="qty">
															<li>
																<p>商品单价：<span class="dj">12.00</span></p>
															</li>
														</ul>
														<span>商品数量：12</span>
														<div>小计：<span name="xj">12.00</span></div>
													</div>
												</div>
												<div class="col-md-5 col-md-offset-1">
													<span style="color: red;">菜品介绍：</span>
													<div>
														jssssssssssssss sjjjjjjjjjjjjjj kjssssssssssssss ksssssssssss 死就急急急急急急急急 急急急急急急急死就急 急急急急急急急急急急急 即使是事实上事实上事实上课看
													</div>
												</div>
												<div class="clearfix">

												</div>
											</div>

										</div>
									</div>
								</li>
							</ul>
							<div class="panel-footer" style="height: 60px;line-height: 50px;margin-top: -8px;">
								<span style="position: absolute; left: 50px;bottom:30px;font-size:16px ;">离订单取消还有30s <a href="#" style="color: red;">立即付款</a></span>
								<div style="float: right;">
									<button type="button" class="btn btn-default btn-lg" style="margin-top: 0px;">
							  我要评价
							</button>
									<button type="button" class="btn btn-default btn-lg" style="margin-left: 50px;margin-top: 0px;">
							   马上付款
							</button>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<script type="text/javascript">
				$(document).ready(function() {
					/*
						var defaults = {
						containerID: 'toTop', // fading element id
						containerHoverID: 'toTopHover', // fading element hover id
						scrollSpeed: 1200,
						easingType: 'linear' 
						};
					*/
					$().UItoTop({
						easingType: 'easeOutQuart'
					});
				});
			</script>
			<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
			<!-- //smooth scrolling -->
		</div>

		<div class="modal fade" id="md" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">评价商品</h4>
					</div>
					<div class="modal-body">
						<div class="input-group">
							<textarea type="text" class="form-control" placeholder="请输入商品评价" style="width: 100%; height: 100px;"></textarea>
						</div>
						<!-- /input-group -->
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary">提交</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		</div>
	</body>
</html>