<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Admin - Dashboard HTML Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
     <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}" />
						<!-- https://fontawesome.com/ -->
						<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
						<!-- https://getbootstrap.com/ -->
						<link rel="stylesheet" th:href="@{/css/templatemo-style.css}">


</head>
<body id="reportsPage">
    <div class="" id="home">
  <div class="container tm-mt-big tm-mb-big" th:each="item,state :${list}">
	<form th:action="@{/bing/updatebing}" class="tm-edit-product-form">
      <input type="hidden" th:value="${item.id}" name="id">
      <div class="row" >
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
         
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">修改套餐</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
               
                  <div class="form-group mb-3">
                    <label
                      for="name"
                      >套餐名称
                    </label>
                    <input
                      id="name"
                      name="mname"
                      type="text"
                      class="form-control validate"
                      required
                      th:value="${item.mname}"
                    />
                  </div>
                  
                  
                  <div class="form-group mb-3">
					<label for="description">商品介绍</label
                    >
                    <textarea
                      class="form-control validate"
                      rows="3"
                      required
                      name="name1"
                      th:text="${item.name1}"
                    ></textarea>
                  </div>
                  
                 <div class="form-group mb-3">
                    <label
                      for=""
                      >选择套餐商品</label
                    >
                    <select
                      class="custom-select tm-select-accounts"
                      id="hd_xz_ry"
                    >
                      <option value="0">请选择</option>
                      <option th:each="itemtype,state : ${listtype}" th:value="${itemtype.id}" th:text="${itemtype.tname}" ></option>
                    </select>
                     <div class="tm-product-table-container">
              <table class="table table-hover tm-table-small tm-product-table">
                <thead>
                  <tr>
                  	<th scope="col">&nbsp;</th>
                    <th scope="col">样式</th>
                    <th scope="col">名称</th>
                    <th scope="col">价格</th>
                  </tr>
                </thead>
                <tbody id="tbod">
                  
                 
                </tbody>
              </table>
            </div>
            
            <div class="row">
                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label
                            for="expire_date"
                            >套餐价格
                          </label>
                          <input
                            id="expire_date"
                            name="price"
                            type="text"
                            class="form-control validate"
                            data-large-mode="true"
                            th:value="${item.price}"
                          />
                        </div>
                  </div>
                   <div class="form-group mb-3">
                    <label
                      for=""
                      >是否上架</label
                    >
                    <select
                      class="custom-select tm-select-accounts"
                      name="state"
                    >
                      <option value="1" th:selected="${item.state=='1'}">是</option>
                      <option value="2" th:selected="${item.state=='2'}">否</option>
                    </select>
                  </div>
            
                  </div>
                  
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                <div id="imgadd">
                	<span th:each="iitem,stack : ${mlist}" >
                	<img th:src="${iitem.url}"  width="100" height="80">
                	<input type="hidden" th:name="mlist[+${stack.index}+].typeid" value="4">
                	<input type='hidden' th:name='mlist[+${stack.index}+].url' th:value="${iitem.url}">
                	</span>
                </div>
                <div class="custom-file mt-3 mb-3">
                  <input id="fileInput" type="file" multiple="multiple" style="display:none;" />
                  <input
                  	id="sc"
                    type="button"
                    class="btn btn-primary btn-block mx-auto"
                    value="上传图片"
                    onclick="document.getElementById('fileInput').click();"
                  />
                </div> 
                
                  
                  
                  <div class="form-group mb-3">
                  	<label for="">已选套餐商品</label>
                  	<div class="tm-product-table-container">
		              <table class="table table-hover tm-table-small tm-product-table">
		                <thead>
		                  <tr>
		                  	<th scope="col">编号</th>
		                    <th scope="col">名称</th>
		                    <th scope="col">价格</th>
		                    <th scope="col">数量</th>
		                    <th scope="col">&nbsp;</th>
		                  </tr>
		                </thead>
		                <tbody id="tbo">
		                  <tr th:each="items,state1 : ${item.list}">
		                  	<td style="display: none;"><input type="hidden" th:name="blist[+${state1.index}+].menuid"  th:value="${items.id}"></td>
		                    <td class="bh tm-product-name" th:text="${items.id}"></td>
		                    <td th:text="${items.mname}"></td>
		                    <td class='jg' th:text="${items.price}"></td>
		                    <td class='sl'><span th:text="${items.mename}"></span><input type='hidden' th:name="blist[+${state1.index}+].name1"   th:value="${items.mename}"></td>
		                     <td class='del'>
		                      <a  href="javascript:void(0)" class=" tm-product-delete-link">
		                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
		                      </a>
		                    </td>
		                  </tr>
		                </tbody>
		                <tfoot>
		                	<td scope="col">&nbsp;</td>
		                	<td scope="col">&nbsp;</td>
		                	<td scope="col" id="jg">0</td>
		                	<td scope="col" id="sl">&nbsp;</td>
		                	<td scope="col" id="zj">&nbsp;</td>
		                </tfoot>
		              </table>
		            </div>
                  </div>
                
              </div>
              <div class="col-12" style="margin-top: 20px;">
                <input type="submit" value="修改" class="btn btn-primary btn-block text-uppercase">
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
			
    </div>

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<!-- https://jquery.com/download/ -->
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- https://getbootstrap.com/ -->
    <script src="@{/jquery-ui-datepicker/jquery-ui.min.js}"></script>
    <!-- https://jqueryui.com/download/ -->
    <script>
    	
    	$(function(){
    			var zj=0;
    			var zzj=0;
    		$(".jg").each(function(){
    			var jg=$(this).text();
    			var sl=$(this).next().find("span").text();
    			jg=parseFloat(jg);
    			sl=parseInt(sl);
    			zj=jg*sl;
    			zzj+=zj;
    			$("#jg").html(zzj);
    		})
    		
    		
    		query(0);
    		 $("body").on("change","#hd_xz_ry",function(){
    			 query( $(this).val());
    		 })
    		
    		
    		 $("#sc").click(function(){
     			$("[type=file]").change(function(){
     				var formData = new FormData(); 
    				var fileArr;
    				$("[type=file]").each(function(i,obj){
    					fileArr = this.files;
    				})
    				if(fileArr.length>3){
    					alert("不好意思,最多选择三张图片");
    					return false;
    				}
    				for(var i = 0;i < fileArr.length;i++){
						formData.append("file",fileArr[i]);
					}
    				$.ajax({
						url:"/menu/fileadd",
						type:"post",
						data:formData,
						processData:false,
						contentType:false,
						dataType:"json",
						success:function(result){
							$("#imgadd").html("");
							$.each(result,function(i,obj){
								var img=$("<img src='/"+obj.url+"' width='100' height='80'>")
								var input=$("<input type='hidden' name='mlist["+i+"].url' value='/"+obj.url+"'>")
								var input1=$("<input type='hidden' name='mlist["+i+"].typeid' value='4'>")
								$("#imgadd").append(input);
								$("#imgadd").append(input1);
								$("#imgadd").append(img);
							})
						}
					});
     			})
     		})
    		
    		
        	function query(id){
        		$.ajax({
            		url:"/bing/ajaxquerymenuByid",
            		data:{"menutypeid":id},
            		dataType:"json",
            		type:"post",
            		success:function(result){
            			$("#tbod").html("");
            			$.each(result,function(i,obj){
            				var tr=$("<tr>");
            				var td1=$("<td scope='row'><input type='checkbox'  value="+obj.id+"></td>");
            				var td2=$("<td><img src="+obj.image.url+" width='65px' height='65px'/></td>")
            				var td3=$("<td class='tm-product-name'>"+obj.mname+"</td>")
            				var td4=$("<td class='tm-product-name'>"+obj.price+"</td>")
            				tr.append(td1);
            				tr.append(td2);
            				tr.append(td3);
            				tr.append(td4);
            				$("#tbod").append(tr);
            			})
            		}
            	})
        	}
        
    		
    		
            function jisuan(jg){
            	jg=parseFloat(jg);
            	var zongjia=$("#jg").text();
            	zongjia=parseFloat(zongjia);
        	   	zongjia+=jg;
        		$("#jg").html(zongjia);
           }
            
            
           $("body").on("click","[type='checkbox']",function(){
        	   var pd=false;
        	   var num1=1;
            	if(this.checked){
            		$(this).prop("checked",false);
          			var len=$("#tbo tr").length;  		
            		var id=$(this).val();
            		var name=$(this).parent().next().next().html();
            		var price=$(this).parent().next().next().next().html();
            		var num=1;
            		console.log(id)
            		$(".bh").each(function(i,obj){
            			if($(obj).text()==id){
            				var num=$(obj).next().next().next().find('span').text();
            				num1=parseInt(num)+1;
            				$(obj).next().next().next().find('span').text(num1);
            				$(obj).next().next().next().find('input').val(num1);
            				pd=true;
            			}
            		})
            		if(pd==false){
            			var tr=$("<tr>");
                		var td0=$("<td style='display: none;'><input type='hidden' name='blist["+len+"].menuid'  value="+id+"></td>");
                		var td=$("<td class='bh'>"+id+"</td>");
                		var td2=$("<td>"+name+"</td>");
                		var td3=$("<td class='jg'>"+price+"</td>");
                		var td5=$("<td class='sl'><span>"+num+"</span><input type='hidden' name='blist["+len+"].name1'  value='1'></td>");
                		var td4=$("<td class='del'><a href='javascript:void(0)' class='tm-product-delete-link'><i class='far fa-trash-alt tm-product-delete-icon'></i></a></td>")
                		tr.append(td0);
                		tr.append(td);
                		tr.append(td2);
                		tr.append(td3);
                		tr.append(td5);
                		tr.append(td4);
                		$("#tbo").append(tr);
            		}
            		jisuan(price);
            	}       	
            })
            
     
            
            
           	$("body").on("click",".del",function(){
    				var id=$(this).prev().prev().prev().prev().text();
    				var jg=$(this).prev().prev().text();
    				var num=$(this).prev().find("span").text();
    				jg=parseFloat(jg);
    				num=parseInt(num);
    				var zj=jg*num;
    				zongjia=$("#jg").text();
    				zongjia=parseFloat(zongjia);
    				$("#jg").html(zongjia-zj);
    				$(this).parent().remove();
    		})
            
            
            
          
    	})
    
    	
    </script>
  </body>
</html>
