<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Product Page - Admin HTML Template</title>
      <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}" />
						<!-- https://fontawesome.com/ -->
						<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
						<!-- https://getbootstrap.com/ -->
						<link rel="stylesheet" th:href="@{/css/templatemo-style.css}">

    <style>
    	.btn {
			    border-radius: 0;
			    padding: 6px 20px;
			    transition: all 0.2s ease;
			    max-width: 100%;
			}
    </style>
  </head>

  <body id="reportsPage">
   <div class="container mt-5">
      <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col" style="color: white;">
        	<span style="margin: 0 20px;">餐饮名称</span>
        	<input type="text" placeholder="" class="input-group-sm"/>
        	<span style="margin: 0 20px;">餐饮类型</span>
        	<select class="custom-select col-2" style="background-color: white;height: 30px;">
        		<option>1</option>
        		<option>1</option>
        		<option>1</option>
        	</select>
        	<input type="button" id="" style="border-radius: 30px 30px 30px 30px;width: 100px;margin-left: 20px;" class="btn-primary" value="查询" />
          <div class="tm-bg-primary-dark tm-block tm-block-products" style="margin-top: 30px;">
            <div class="tm-product-table-container">
              <table class="table table-hover tm-table-small tm-product-table" style="text-align: center;">
                <thead>
                  <tr>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">商品样式</th>
                    <th scope="col">商品名称</th>
                    <th scope="col">商品类型</th>
                    <th scope="col">商品数量</th>
                    <th scope="col">商品价格</th>
                    <th scope="col">商品总价</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><input type="checkbox" /></th>
                    <td><img src="/img/notification-03.jpg" width="65px" height="65px"/></td>
                    <td class="tm-product-name">活动名称</td>
                    <td>类型</td>
                    <td>
                    	
                    	<div class="btn-group" role="group" aria-label="..." style="margin-bottom: 10px;">
												  <button type="button" class="jian btn btn-default">-</button>
												  <button type="button" class="btn btn-default">1</button>
												  <button type="button" class="jia btn btn-default">+</button>
											</div>
											
                    </td>
                    <td>1450.00</td>
                    <td>1450.00</td>
                  </tr>
                  <tr>
                    <th scope="row"><input type="checkbox" /></th>
                    <td><img src="img/notification-03.jpg" width="65px" height="65px"/></td>
                    <td class="tm-product-name">活动名称</td>
                    <td>类型</td>
                    <td>
                    	
                    	<div class="btn-group" role="group" aria-label="..." style="margin-bottom: 10px;">
												  <button type="button" class="jian btn btn-default">-</button>
												  <button type="button" class="btn btn-default">1</button>
												  <button type="button" class="jia btn btn-default">+</button>
											</div>
											
                    </td>
                    <td>1450.00</td>
                    <td>1450.00</td>
                  </tr>
                  <tr>
                    <th scope="row"><input type="checkbox" /></th>
                    <td><img src="img/notification-03.jpg" width="65px" height="65px"/></td>
                    <td class="tm-product-name">活动名称</td>
                    <td>类型</td>
                    <td>
                    	
                    	<div class="btn-group" role="group" aria-label="..." style="margin-bottom: 10px;">
												  <button type="button" class="jian btn btn-default">-</button>
												  <button type="button" class="btn btn-default">1</button>
												  <button type="button" class="jia btn btn-default">+</button>
											</div>
											
                    </td>
                    <td>1450.00</td>
                    <td>1450.00</td>
                  </tr>
                  <tr>
                    <th scope="row"><input type="checkbox" /></th>
                    <td><img src="img/notification-03.jpg" width="65px" height="65px"/></td>
                    <td class="tm-product-name">活动名称</td>
                    <td>类型</td>
                    <td>
                    	
                    	<div class="btn-group" role="group" aria-label="..." style="margin-bottom: 10px;">
												  <button type="button" class="jian btn btn-default">-</button>
												  <button type="button" class="btn btn-default">1</button>
												  <button type="button" class="jia btn btn-default">+</button>
											</div>
											
                    </td>
                    <td>1450.00</td>
                    <td>1450.00</td>
                  </tr>
                  <tr>
                    <th scope="row"><input type="checkbox" /></th>
                    <td><img src="img/notification-03.jpg" width="65px" height="65px"/></td>
                    <td class="tm-product-name">活动名称</td>
                    <td>类型</td>
                    <td>
                    	
                    	<div class="btn-group" role="group" aria-label="..." style="margin-bottom: 10px;">
												  <button type="button" class="jian btn btn-default">-</button>
												  <button type="button" class="btn btn-default">1</button>
												  <button type="button" class="jia btn btn-default">+</button>
											</div>
											
                    </td>
                    <td>1450.00</td>
                    <td>1450.00</td>
                  </tr>
                  <tr>
                    <th scope="row"><input type="checkbox" /></th>
                    <td><img src="img/notification-03.jpg" width="65px" height="65px"/></td>
                    <td class="tm-product-name">活动名称</td>
                    <td>类型</td>
                    <td>
                    	
                    	<div class="btn-group" role="group" aria-label="..." style="margin-bottom: 10px;">
												  <button type="button" class="jian btn btn-default">-</button>
												  <button type="button" class="btn btn-default">1</button>
												  <button type="button" class="jia btn btn-default">+</button>
											</div>
											
                    </td>
                    <td>1450.00</td>
                    <td>1450.00</td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            <div style="color: white;width: 100%;height: 50px;">
            	<h4 style="float: right;">
            		订单总价：
            		<span id="ddzj" style="color: red;">0.00</span>
            	</h4>
            </div>
            <!-- table container -->
            <div>
            <button class="btn btn-primary  text-uppercase" style="float: right;width: 170px;">
            	立即下单
            </button>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<!-- https://jquery.com/download/ -->
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- https://getbootstrap.com/ -->
    <script>
      			$(function(){
									$(".jia").click(function(){
											var num=$(this).prev().text();
											num=parseInt(num)+1;
											$(this).prev().text(num);
											var price=$(this).parent().parent().next().text();
											var price1=parseFloat(price)*num;
											$(this).parent().parent().next().next().text(price1.toFixed(2));
											zj();
									})
									$(".jian").click(function(){
											var num=$(this).next().text();
											num=parseInt(num)-1;
											if(num>0){
												$(this).next().text(num);
												var price=$(this).parent().parent().next().text();
												var price1=parseFloat(price)*num;
												$(this).parent().parent().next().next().text(price1.toFixed(2));
												zj();
											}
											
									})
									
									$("[type='checkbox']").click(function(){
										zj();
									})
									function zj(){
											var zj=0;
											$("[type='checkbox']").each(function(){
													if(this.checked){
														var jg=$(this).parent().next().next().next().next().next().next().text();
														zj=zj+parseFloat(jg);
													}
											})
											$("#ddzj").html(zj.toFixed(2));
										
									}
									
						})
    </script>
  </body>
</html>