<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>商品管理</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
		<!-- https://fonts.google.com/specimen/Roboto -->
		<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}" />
		<!-- https://fontawesome.com/ -->
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<!-- https://getbootstrap.com/ -->
		<link rel="stylesheet" th:href="@{/css/templatemo-style.css}">
		<style type="text/css">
			td{
				line-height: 82px;
			}
		
		</style>
	</head>

	<body id="reportsPage">
		<div class="container mt-5">
			<div class="row tm-content-row">
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
					<form class="form-inline col-md-11" method="post"  style="margin-bottom: 10px;" th:action="@{/menu/toquerymenu}">
						<div class="form-group" style="margin:0px 10px 0px 0px;">
						<label for="exampleInputName2" style="margin-top: 10px">菜单类型:</label>
						<select name="menutypeid" style="padding: 5px 5px 5px 10px;margin-left: 5px;" class="form-control">
		        		<option value="0" th:selected="${menus.menutypeid==0 || menus.menutypeid=='' }" >请选择</option>
						<option th:each="itemtype,state : ${listtype}" th:value="${itemtype.id}" th:text="${itemtype.tname}" th:selected="${menus.menutypeid==itemtype.id }" ></option>
						</select>
						</div>
						<div class="form-group" style="margin:0px 10px 0px 0px;">
							<label for="exampleInputName2" style="margin-top: 10px">名称:</label>
							<input type="text" th:value="${menus.mname}" name="mname" style="margin-left: 5px;" class="form-control" id="exampleInputName2" placeholder="名称">
						</div>
						<div class="form-group" style="margin:0px 10px 0px 0px;">
							<label for="exampleInputName2" style="margin-top: 10px">价格:</label>
							<input type="text" th:value="${menus.zdprice}" name="zdprice" style="margin-left: 5px; width: 100px" class="form-control"  placeholder="最低价">
							<span style="color: white;">一</span>
							<input type="text" th:value="${menus.zgprice}" name="zgprice" style="margin-left: 5px; width: 100px" class="form-control"  placeholder="最高价">
						</div>
						<input type="submit" class="btn btn-info urls"  value="查询">

					</form>
					<div class="tm-bg-primary-dark tm-block tm-block-products" style="margin-top:30px ;">
						<div class="tm-product-table-container">
							<table class="table table-hover tm-table-small tm-product-table" style="text-align: center;">
								<thead>
									<tr>
										<th scope="col">商品样式</th>
										<th scope="col">

											商品名称
										</th>
										<th scope="col">所属类型</th>
										<th scope="col">商品价格</th>
										<th scope="col">状态</th>
										<th scope="col">点赞总数</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="item,state : ${list}">
										
										<td><img th:if="${item.image!=null}" th:src="${item.image.url}" width="65px" height="65px" /></td>
										<td class="tm-product-name"><a style="color: white;" th:href="@{/menu/toupdatemenu(id=${item.id})}" th:text="${item.mname}"></a></td>
										<td th:text="${item.mtype.tname}"></td>
										<td th:text="${item.price}"></td>
										<td th:text="${item.stock}" style="display: none;"></td>
										<td><a class="sj" href="JavaScript:void(0)" th:if="${item.state=='1'}" th:text="上架" ></a><a class="xj"  href="JavaScript:void(0)"  th:if="${item.state=='2'}" th:text="下架" style="color: red;"></a></td>
										<td style="display: none;" th:text="${item.id}"></td>
										<td th:text="${item.likecount}"></td>
									</tr>
									
								</tbody>
							</table>
						</div>
						<!-- table container -->
						<a th:href="@{/menu/tomenuadd}" class="btn btn-primary btn-block text-uppercase mb-3">新增商品</a>
					</div>
				</div>
			</div>
		</div>

		<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<!-- https://jquery.com/download/ -->
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<!-- https://getbootstrap.com/ -->
		<script>
			$(function() {
				
				
				$(".sc").on("click",function(){
					var id=$(this).prev().val();
					var res = confirm("确定删除该商品吗？");
					if(res==true){
						$.ajax({
							url:"/menu/delmenu",
							data:{"id":id},
							type:"post",
							success:function(result){
								alert(result);
								window.location.reload();
							}
						})
					}else{
						return false;
					}
				})
				
				
				
				$(".sj").on("click",function(){
					var type=$(this).text();
					var id=$(this).parent().next().text();
					var res = confirm("确定要下架该商品吗？");
					if(res==true){
						$.ajax({
							url:"/menu/sjxj",
							data:{"type":type,"id":id},
							type:"post",
							success:function(result){
								alert(result);
								window.location.reload();
							}
						})
					}else{
						return false;
					}
					
				})
				
				$(".xj").on("click",function(){
					var type=$(this).text();
					var id=$(this).parent().next().text();
					var res = confirm("确定要上架该商品吗？");
					if(res==true){
						$.ajax({
							url:"/menu/sjxj",
							data:{"type":type,"id":id},
							type:"post",
							success:function(result){
								alert(result);
								window.location.reload();
							}
						})
					}else{
						return false;
					}
					
				})
				
			});
		</script>
	</body>

</html>