<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Product Page - Admin HTML Template</title>
      <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}" />
						<!-- https://fontawesome.com/ -->
						<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
						<!-- https://getbootstrap.com/ -->
						<link rel="stylesheet" th:href="@{/css/templatemo-style.css}">

    <style>
    	.btn {
			    border-radius: 0;
			    padding: 6px 20px;
			    transition: all 0.2s ease;
			    max-width: 100%;
			}
    </style>
  </head>

  <body id="reportsPage">
   <div class="container mt-5">
      <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col" style="color: white;">          	
          	<form class="form-inline col-md-11" method="post"  style="margin-bottom: 10px;" th:action="@{/menu/tomenuorder}">
						<div class="form-group" style="margin:0px 10px 0px 0px;">
						<label for="exampleInputName2" style="margin-top: 10px">类型:</label>
						<select name="lx" style="padding: 5px 5px 5px 10px;margin-left: 5px;" class="form-control">
		        			<option value="0" th:selected="${lx=='0'}">请选择</option>
			        		<option value="1" th:selected="${lx=='1'}">普通类</option>
			        		<option value="2" th:selected="${lx=='2'}">套餐类</option>
			        	</select>
						</div>
						<div class="form-group" style="margin:0px 10px 0px 0px;">
							<label for="exampleInputName2" style="margin-top: 10px">名称:</label>
							<input type="text" th:value="${menus.mname}" name="mname" style="margin-left: 5px;" class="form-control" id="exampleInputName2" placeholder="名称">
						</div>
						<div class="form-group" style="margin:0px 10px 0px 0px;">
							<label for="exampleInputName2" style="margin-top: 10px">价格:</label>
							<input type="text" th:value="${menus.zdprice}" name="zdprice" style="margin-left: 5px; width: 100px" class="form-control"  placeholder="最低价">
							<span style="color: white;">一</span>
							<input type="text" th:value="${menus.zgprice}" name="zgprice" style="margin-left: 5px; width: 100px" class="form-control"  placeholder="最高价">
						</div>
						<input type="submit" class="btn btn-info urls"  value="查询">
					</form>
          <form th:action="@{/menu/orderadd}">
          <div class="tm-bg-primary-dark tm-block tm-block-products" style="margin-top: 30px;">
            <div class="tm-product-table-container">
              <table class="table table-hover tm-table-small tm-product-table" style="text-align: center;">
                <thead>
                  <tr>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">商品样式</th>
                    <th scope="col">商品名称</th>
                    <th scope="col">商品类型</th>
                    <th scope="col">商品数量</th>
                    <th scope="col">商品价格</th>
                    <th scope="col">商品总价</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="mitem ,state1: ${mlist}">
                    <th scope="row"><input type="checkbox" th:name="mid" th:value="${mitem.id}"/></th>
                    <td><img th:if="${mitem.image!=null}" th:src="${mitem.image.url}" width="65px" height="65px"/></td>
                    <td class="tm-product-name" th:text="${mitem.mname}"></td>
                    <td>普通类型</td>
                    <td>
                    	
                    	<div class="btn-group" role="group" aria-label="..." style="margin-bottom: 10px;">
												  <button type="button" class="jian btn btn-default">-</button>
												  <button type="button" class="btn btn-default">1</button>
												  <button type="button" class="jia btn btn-default">+</button>
						</div>
											
                    </td>
                    <td th:text="${mitem.price}"></td>
                    <td th:text="${mitem.price}"></td>
                    <td style="display: none;"><input type="hidden" name="mzj" th:value="${mitem.price}"></td>
                    <td style="display: none;"><input type="hidden" name="msl" th:value="1"></td>
                  	<td style="display: none;"><input type="hidden" name="mlx" value="2"></td>
                  </tr>
                  
                  <tr th:each="bitem : ${blist}">
                    <th scope="row"><input type="checkbox" name="bid" th:value="${bitem.id}"/></th>
                    <td><img th:if="${bitem.image!=null}" th:src="${bitem.image.url}" width="65px" height="65px"/></td>
                    <td class="tm-product-name" th:text="${bitem.mname}"></td>
                    <td><p th:each="items,state1 : ${bitem.list}" th:text="${items.mname}+'('+${items.mename}+')'"></p></td>
                    <td>
                    	
                    	<div class="btn-group" role="group" aria-label="..." style="margin-bottom: 10px;">
												  <button type="button" class="jian btn btn-default">-</button>
												  <button type="button" class="btn btn-default">1</button>
												  <button type="button" class="jia btn btn-default">+</button>
						</div>
											
                    </td>
                    <td th:text="${bitem.price}"></td>
                    <td th:text="${bitem.price}"></td>
                    <td style="display: none;"><input type="hidden" name="bzj" th:value="${bitem.price}"></td>
                    <td style="display: none;"><input type="hidden" name="bsl" th:value="1"></td>
                  	<td style="display: none;"><input type="hidden" name="blx" value="4"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            <div style="color: white;width: 100%;height: 50px;">
            	<h4 style="float: right;">
            		订单总价：
            		<span id="ddzj" style="color: red;">0.00</span>
            		<input type="hidden" name="price" value="">
            	</h4>
            </div>
            <!-- table container -->
            <div>
            <div class="form-group" style="margin:0px 10px 0px 0px;">
				<input type="text" name="sfz" style="margin-left: 5px;" class="form-control" id="exampleInputName2" placeholder="身份证号码">
			</div>
            <div class="form-group" style="margin:0px 10px 0px 0px;">
				  <select name="lb" style="padding: 5px 5px 5px 10px;margin-left: 5px;" class="form-control">
		        	<option value="1">个人</option>
            		<option value="2">团队</option>
            	 </select>
			</div>
            	<input type="button" id="xd" value="立即下单" class="btn btn-primary  text-uppercase" style="float: right;width: 170px; margin-top: 10px">
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<!-- https://jquery.com/download/ -->
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- https://getbootstrap.com/ -->
    <script>
      			$(function(){
									$(".jia").click(function(){
											var num=$(this).prev().text();
											num=parseInt(num)+1;
											$(this).prev().text(num);
											$(this).parent().parent().next().next().next().next().find("input").val(num);
											var price=$(this).parent().parent().next().text();
											var price1=parseFloat(price)*num;
											$(this).parent().parent().next().next().text(price1.toFixed(2));
											$(this).parent().parent().next().next().next().find("input").val(price1.toFixed(2));
											zj();
									})
									$(".jian").click(function(){
											var num=$(this).next().text();
											num=parseInt(num)-1;
											if(num>0){
												$(this).next().text(num);
												$(this).parent().parent().next().next().next().next().find("input").val(num)
												var price=$(this).parent().parent().next().text();
												var price1=parseFloat(price)*num;
												$(this).parent().parent().next().next().text(price1.toFixed(2));
												$(this).parent().parent().next().next().next().find("input").val(price1.toFixed(2));
												zj();
											}
											
									})
									
									
								$("[type='checkbox']").click(function(){
										zj();
								})
								
								$("#xd").click(function(){
									var sfz=$("[name='sfz']").val();
									if(sfz==""){
										alert("请先输入身份证号码！");
										return false;
									}
									var lb=$("[name='lb']").val();
									var ps=[];
									var zj=$("[name='price']").val();
									$("[type='checkbox']").each(function(i,obj){
										if(obj.checked){ 
											var vps={};
											var menuid=$(obj).val();
											var num=$(obj).parent().next().next().next().next().next().next().next().next().find("input").val();
											var price=$(obj).parent().next().next().next().next().next().next().text();
											var name1=$(obj).parent().next().next().next().next().next().next().next().next().next().find("input").val();
											vps.menuid=menuid;
											vps.num=num;
											vps.price=price;
											vps.name1=name1;
											vps.name2=zj,
											vps.name3=sfz,
											vps.name4=lb,
											ps.push(vps);
										}
									})
									
									$.ajax({
										url:"/menu/orderadd",
										data:JSON.stringify(ps),
										type:"post",
										dataType:"text",
										contentType:'application/json',
										success:function(result){
											alert(result);
											window.location.reload();
										}
									})
								})
								
								
									function zj(){
											var zj=0;
											$("[type='checkbox']").each(function(){
													if(this.checked){
														var jg=$(this).parent().next().next().next().next().next().next().text();
														zj=zj+parseFloat(jg);
													}
											})
											$("#ddzj").html(zj.toFixed(2));
											$("#ddzj").next().val(zj.toFixed(2))
									}
									
						})
    </script>
  </body>
</html>