<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>客房新增</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
		<!-- https://fonts.google.com/specimen/Roboto -->
		<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}" />
		<!-- https://fontawesome.com/ -->
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<!-- https://getbootstrap.com/ -->
		<link rel="stylesheet" th:href="@{/css/templatemo-style.css}">

	</head>

	<body id="reportsPage">
		<div class="" id="home">
			<div class="container tm-mt-big tm-mb-big">
			<form th:action="@{/room/addroom}" class="tm-edit-product-form">
				<div class="row">
				
					<div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
						<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
							<div class="row">
								<div class="col-12">
									<h2 class="tm-block-title d-inline-block">添加商品</h2>
								</div>
							</div>
							<div class="row tm-edit-product-row">
								<div class="col-xl-6 col-lg-6 col-md-12">
									
										<div class="form-group mb-3">
											<label for="name">描述
                    </label>
											<input id="name" name="rname" type="text" class="form-control validate" required />
										</div>
										<div class="form-group mb-3">
											<label for="description">介绍</label
                    >
                    <textarea
                      class="form-control validate"
                      rows="3"
                      required
                      name="introduce"
                    ></textarea>
                  </div>
                 <div class="form-group mb-3">
                    <label
                      for=""
                      >选择类型</label
                    >
                    <select
                      class="custom-select tm-select-accounts"
                      name="typeid"
                    >
                   	<option value="1" >单人间</option>
					<option value="2" >双人间</option>
					<option value="3" >总统套房</option>
                    </select>
                  </div>
                  
                  <div class="row">
                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label for="expire_date">价格(/天)</label>
							<input id="expire_date" name="price" type="text" class="form-control validate" data-large-mode="true" />
							</div>
							
							 <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label for="expire_date">位置</label>
							<input id="expire_date" name="location" type="text" class="form-control validate" data-large-mode="true" />
							</div>
					</div>
					
								
								<div class="form-group mb-3">
								<label for="">是否可租</label>
                    <select
                      class="custom-select tm-select-accounts"
                      name="state"
                    >
                      <option value="1">可租</option>
                      <option value="2">装修中</option>
                    </select>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                <div class="tm-product-img-dummy mx-auto">
                  <i
                    class="fas fa-cloud-upload-alt tm-upload-icon"
                    onclick="document.getElementById('fileInput').click();"
                  ></i>
                </div>
                <div class="custom-file mt-3 mb-3">
                  <input id="fileInput" type="file" multiple="multiple" style="display:none;" />
                  <input
                    type="button"
                    class="btn btn-primary btn-block mx-auto"
                    value="上传图片"
                    onclick="document.getElementById('fileInput').click();"
                  />
                </div>
                
                
              </div>
              <div class="col-12" style="margin-top: 20px;">
                <input type="submit" class="btn btn-primary btn-block text-uppercase">
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
			
    </div>

    </div>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<!-- https://jquery.com/download/ -->
		<script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="@{/jquery-ui-datepicker/jquery-ui.min.js}"></script>
    <!-- https://jqueryui.com/download/ -->
    <script>
     
    </script>
  </body>
</html>