<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Product Page - Admin HTML Template</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <!-- https://fonts.google.com/specimen/Roboto -->
		<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}" />
		<!-- https://fontawesome.com/ -->
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<!-- https://getbootstrap.com/ -->
		<link rel="stylesheet" th:href="@{/css/templatemo-style.css}">
    <style type="text/css">
    	input{
    		border: 0px;
    		background-color: white;
    	}
    </style>
  </head>

  <body id="reportsPage">

    <div class="container mt-5">
      <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
        	
          	
          	<form class="form-inline col-md-11" method="post"  style="margin-bottom: 10px;" th:action="@{/room/roomorder}">
				<div class="form-group" style="margin:0px 10px 0px 0px;">
				<input type="date" placeholder="" th:value="${#dates.format(ro.begintime, 'yyyy-MM-dd')}" name="begintime" style="border-radius: 30px 30px 30px 30px;"/>
        		<span style="color: white;">~</span>
        		<input type="date" placeholder="" th:value="${#dates.format(ro.endtime, 'yyyy-MM-dd')}" name="endtime" style="border-radius: 30px 30px 30px 30px;"/>
        		</div>
				<div class="form-group" style="margin:0px 10px 0px 0px;">
				<label for="exampleInputName2" style="margin-top: 10px">房间类型:</label>
				<select name="typeid" style="padding: 5px 5px 5px 10px;margin-left: 5px;" class="form-control">
        		<option value="0" th:selected="${ro.typeid==null}">选择类型</option>
        		<option value="1" th:selected="${ro.typeid==1}">单人间</option>
        		<option value="2" th:selected="${ro.typeid==2}">双人间</option>
        		<option value="3" th:selected="${ro.typeid==3}">总统套房</option>
        		</select>
				</div>
				<div class="form-group" style="margin:0px 10px 0px 0px;">
					<label for="exampleInputName2" style="margin-top: 10px">描述:</label>
					<input type="text" th:value="${ro.rname}" name="rname" style="margin-left: 5px;" class="form-control" id="exampleInputName2" placeholder="房间号">
				</div>
				<input type="submit" class="btn btn-info urls"  value="查询">
			</form>
          <div class="tm-bg-primary-dark tm-block tm-block-products">
            <div class="tm-product-table-container">
              <table style="text-align: center;" class="table table-hover tm-table-small tm-product-table">
                <thead>
                  <tr>
                    <th scope="col">房屋样式</th>
					<th scope="col">描述</th>
					<th scope="col">位置</th>
					<th scope="col">类型</th>
					<th scope="col">价格</th>
					<th scope="col">状态</th>
					<th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="item,stack:${list}">
                   	<td><img th:if="${item.img !=null }" th:src="${item.img.url}" width="65px" height="65px" /></td>
					<td class="tm-product-name"><a th:text="${item.rname}" href="javascript:void(0)"></a></td>
					<td th:text="${item.location}"></td>
					<td><span th:if="${item.typeid==1}" th:text="单人间"></span><span th:if="${item.typeid==2}" th:text="双人间"></span><span th:if="${item.typeid==3}" th:text="总统套房"></span></td>
					<td th:text="${item.price}"></td>
					<td><a class="sj" href="JavaScript:void(0)" th:if="${item.state=='1'}" th:text="可租" ></a><a class="xj"  href="JavaScript:void(0)"  th:if="${item.state=='2'}" th:text="维修中" style="color: red;"></a></td>
					
                    <td class="yd">
                     	<a href="javascript:void(0)" style="color: red;" data-target="#md" data-toggle="modal">预订</a>
                    </td>
                    <td style="display: none;" th:text="${item.id}"></td>
                  </tr>
                 
                </tbody>
              </table>
            </div>
            <!-- table container -->
          </div>
        </div>
        
      </div>
    </div>
    <footer class="tm-footer row tm-mt-small">
      <div class="col-12 font-weight-light">
        <p class="text-center text-white mb-0 px-4 small">
          Copyright &copy; <b>2018</b> All rights reserved. 
          
          More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
        </p>
      </div>
    </footer>
    
    
    <div class="modal fade" id="md" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						
					</div>
					<form th:action="@{/room/RoomDestineadd}" method="post">
					
					
					
					<div class="modal-body">
						<div>
						<input type="date" name="begintime" readonly="readonly" class="data1">到<input name="endtime" readonly="readonly" class="data2" type="date">
						</div>
						<div>位置：<input type="text" readonly="readonly" class="wz" style="color: red;"></div>
					    <div> 价格：<input type="text" name="price"  readonly="readonly" class="jg" style="color: red;"></div>
					    <div> 房号：<input type="text" readonly="readonly" class="fh" style="color: red;"></div>
					    <div> 类型：<input type="text"readonly="readonly" class="lx" style="color: red;"></div>
					   <div class="form-group" id="lxs" style="margin:0px 10px 0px 0px;display: block;">
							<label for="exampleInputName2" style="color: black;">生成订单类型:</label>
							<select name="lx" style="padding: 5px 5px 5px 10px; border-bottom-color: white;" class="form-control">
			        		<option value="1">个人</option>
			        		<option value="2">团队</option>
			        		</select>
						</div>
					    <div class="form-group" style="margin:0px 10px 0px 0px;">
							<label for="exampleInputName2" style="color: black;">身份证号码:</label>
							<input type="text" name="sfz"  class="form-control" id="exampleInputName2">
						</div>
					     <input type="hidden" name="roomid" class="id">
					     
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<input type="submit" class="btn btn-primary" value="预订">
					</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		
		

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<!-- https://jquery.com/download/ -->
	<script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
    	$(function(){
    		
    		$(".yd").click(function(){
    			var ksdata=$("[name='begintime']").val();
    			var jsdata=$("[name='endtime']").val();
    			var jg=$(this).prev().prev().text();
    			var wz=$(this).prev().prev().prev().prev().text();
    			var fh=$(this).prev().prev().prev().prev().prev().text();
    			var lx=$(this).prev().prev().prev().text();
    			var id=$(this).next().text();
    			var date1=new Date(jsdata);
    	        var date2=new Date(ksdata);
    	        var date0=(date1.getTime()-date2.getTime())/(1000*60*60*24);/*不用考虑闰年否*/
    			if(ksdata!="" && jsdata!=""){
    				if(ksdata==jsdata){
    					alert("请至少选择一天时间");
    					return false;
    				}
    				var date = new Date();
    				var n=date.getFullYear();
    				var y=date.getMonth();
    				var r=date.getDate();
    				var d=n+'-0'+(y+1)+'-0'+r;
    				if(ksdata<d){
    					alert("开始时间必须大于当前日期");
    					
    				}
    				$(".data1").val(ksdata);
    	    		$(".data2").val(jsdata);
    	    		$(".wz").val(wz);
    	    		$(".jg").val(jg*date0);
    	    		$(".fh").val(fh);
    	    		$(".lx").val(lx);
    	    		$(".id").val(id);
    			}else{
    				alert("请先选择日期！");
    				return false;
    			}
    			
    		})
    		
		          
    		
    		
    		$("#cx").click(function(){
    			var ksdata=$("[name='begintime']").val();
    			var jsdata=$("[name='endtime']").val();
    			var jg=$(this).prev().prev().text();
    			var wz=$(this).prev().prev().prev().prev().text();
    			var fh=$(this).prev().prev().prev().prev().prev().text();
    			var lx=$(this).prev().prev().prev().text();
    			if(ksdata!="" && jsdata!=""){
    				if(ksdata==jsdata){
    					alert("请至少选择一天时间");
    					return false;
    				}
    				
    				var date = new Date();
    				var n=date.getFullYear();
    				var y=date.getMonth();
    				var r=date.getDate();
    				var d=n+'-0'+(y+1)+'-0'+r;
    				
    				if(ksdata<d){
    					alert("开始时间必须大于当前日期");
    					return false;
    				}else{
    					$(".data1").text(ksdata);
    	    			$(".data2").text(jsdata);
    	    			$(".wz").text(wz);
    	    			$(".jg").text(jg);
    	    			$(".fh").text(fh);
    	    			$(".lx").text(lx);
    				}
    			}else{
    				alert("请先选择日期！");
    				return false;
    				
    				
    			}
    			
    		})
    	})
    </script>
    

  </body>
</html>
