<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Add Product - Dashboard HTML Template</title>

<!-- https://fonts.google.com/specimen/Roboto -->
 <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}" />
<link rel="stylesheet"  th:href="@{/jquery-ui-datepicker/jquery-ui.min.css}"/>
  <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet"  th:href="@{/css/templatemo-style.css}">
<style>
.collapse:not(.show){
	display:block;
}
#xm_tc span {
	margin-left: 20px;
}

#yc_xm_top span {
	
}
</style>
</head>

<body>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<div class="container tm-mt-big tm-mb-big">
			<div class="row">
				<div class="col-xl-12 col-lg-10 col-md-12 col-sm-12 mx-auto">
					<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
						<div class="row">
							<div class="col-12">
								<h2 class="tm-block-title d-inline-block">添加基地</h2>
							</div>
						</div>
						<div class="row tm-edit-product-row">
						
							<div class="col-xl-12 col-lg-12 col-md-12">
								<form action="insert" method="post" class="tm-edit-product-form">		
									<div class="form-group mb-3">
										<label for="name">基地名称 </label> <input id="name" name="aname"
											type="text" class="form-control validate" required />
									</div>
									
									<div class="form-group col-lg-12">
										<label for="expire_date">基地位置</label> <input id="expire_date"
											name="pistion" type="text" class="form-control validate"
											data-large-mode="true" />
									</div>
								
							</div>
							<div class="col-12" style="margin-top: 20px;">
								<button type="submit"
									class="btn btn-primary btn-block text-uppercase">新增基地</button>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div id="ry_tc"
					style="width: 358px; height: 208px; border: 1px solid #466675; background: white; filter: alpha(opacity : 80); opacity: 0.9; -moz-opacity: 0.2; -khtml-opacity: 0.5; position: relative; bottom: 320px; left: 570px; overflow-y: scroll; overflow-x: scroll; display: none;">
					<div class="" id="ty_tc_top"
						style="background: #466675; text-align: center;">
						<table class="table" id="ry_tb">
							<thead>
								<tr>
									<th>名字</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td ryid="1">张三</td>
									<td><input type="checkbox" name="ck_ry" /></td>
								</tr>
								<tr>
									<td ryid="2">李四</td>
									<td><input type="checkbox" name="ck_ry" /></td>
								</tr>
								<tr>
									<td ryid="3">王五</td>
									<td><input type="checkbox" name="ck_ry" /></td>
								</tr>

							</tbody>

						</table>
						<input type="button" class=" btn-primary btn-block1 mx-auto"
							value="确定"
							style="width: 50px; height: 20px; text-align: center; margin-top: 20px; border-radius: 30px 30px 30px 30px; height: 30px; width: 80px;"
							onclick="hidden_ry(this)" />
					</div>
			</div>
			</div>
		</div>
</body>
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/jquery-ui-datepicker/jquery-ui.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script> 
	<!-- https://getbootstrap.com/ -->
	<!-- <script>
		$(function() {
			$("#expire_date").datepicker();

			$("#xz_xm_button").click(function() {
				$("#xm_tc").css("display", "block");
			})

			//克隆人员信息
			$("[name=ck_ry]")
					.click(
							function() {
								if (this.checked) {
									var ry = $(this).parents("tr").clone();
									ry.find("input").remove();
									var remove_ry = $("<td><a href='javascript:void(0)' style='color: red;' id='yc_ry_a' onclick='yc_ry(this)'>移除</a></td>");
									$(ry).append(remove_ry);
									$("#show_ry").removeAttr("hidden");
									$("#show_ry_table").append(ry);
								}
							});

			//克隆项目信息
			$("[name=ck_xm]")
					.click(
							function() {
								if (this.checked) {
									var xm = $(this).parents("tr").clone();
									xm.find("input").remove();
									var remove_xm = $("<td><a href='javascript:void(0)' style='color: red;' id='yc_ry_a' onclick='yc_xm(this)'>移除</a></td>");
									$(xm).append(remove_xm);
									$("#show_xm").removeAttr("hidden");
									$("#show_xm_table").append(xm);
								}

							})
		});
		function xsry() {
			$("#ry_tc").css("display", "block");
		}

		//移除以克隆的人员信息与弹窗的checkbox
		function yc_ry(th) {
			var show_ry_length = $("#show_ry_table").find("tr").length;
			if (show_ry_length == 2) {
				$("#show_ry").hide();
			}
			$(th).parents("tr").remove();
			var ry_sz = [];
			var ry_id = $(th).parents("tr").find("td:eq(0)").attr("ryid");
			var ry_id2;
			var id;
			$("#ry_tb").each(function() {
				id = $(this).find("td:nth-of-type(1)");
				$.each(id, function(i, obj) {
					ry_id2 = $(obj).attr("ryid");
					ry_sz.push(ry_id2);
				});
			})
			for (var i = 0; i < ry_sz.length; i++) {
				if (ry_id == ry_sz[i]) {
					var rytd = $("#ry_tb").find("[ryid='" + ry_id + "']");
					rytd.next().find("input").prop("checked", false);
				}
			}
		}

		//移除项目信息与以克隆的项目信息
		function yc_xm(th) {
			var show_xm_length = $("#show_xm_table").find("tr").length;
			if (show_xm_length == 2) {
				$("#show_xm").hide();
			}
			$(th).parents("tr").remove();
			var xm_sz = [];
			var xm_id = $(th).parents("tr").find("td:eq(0)").attr("xmid");
			var xm_id2;
			var id;
			$("#xm_tc").each(function() {
				id = $(this).find("td:nth-of-type(1)");
				$.each(id, function(i, obj) {
					xm_id2 = $(obj).attr("xmid");
					xm_sz.push(xm_id2);
				});
			})
			for (var i = 0; i < xm_sz.length; i++) {
				console.log(xm_sz[i]);
				if (xm_id == xm_sz[i]) {
					var xmtd = $("#xm_tc").find("[xmid='" + xm_id + "']");
					xmtd.next().find("input").prop("checked", false);
				}
			}
		}

		function hidden_ry(th) {
			$("#ry_tc").css("display", "none");
			var show_ry_length = $("#show_ry_table").find("tr").length;
			if (show_ry_length == 1) {
				$("#show_ry").hide();
			}
		}
		function hide_xm(th) {
			$("#xm_tc").css("display", "none");
			var show_xm_length = $("#show_xm_table").find("tr").length;
			if (show_xm_length == 1) {
				$("#show_xm").hide();
			}
		}
	</script> -->
</html>
