<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>新增项目</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
<!-- https://fonts.google.com/specimen/Roboto -->
<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}" />
<!-- https://fontawesome.com/ -->
<link rel="stylesheet"
	th:href="@{/jquery-ui-datepicker/jquery-ui.min.css}" type="text/css" />
<!-- http://api.jqueryui.com/datepicker/ -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<!-- https://getbootstrap.com/ -->
<link rel="stylesheet" th:href="@{/css/templatemo-style.css}">
<style>
#ty_tc_top span {
	margin-left: 50px;
	margin-top: 50px;
}

#ty_tc_top input {
	width: 15px;
	height: 15px;
	margin-left: 10px;
}

#xm_tc span {
	margin-left: 20px;
}

#yc_xm_top span {
	
}
</style>
</head>

<body>
	<div class="row">
		<div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
			<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
				<div class="row">
					<div class="col-12">
						<h2 class="tm-block-title d-inline-block">添加项目</h2>
					</div>
				</div>
				<form action="" class="" name="fileInfo">
				<div class="row tm-edit-product-row">
					<div class="col-xl-6 col-lg-6 col-md-12">
						
							<div class="form-group mb-3">
								<label for="name">项目名称 </label> <input
									id="name" name="name" type="text" class="form-control validate"
									required />
							</div>
							<div class="form-group mb-3">
								<label for="">所属类型</label> <select
									class="custom-select tm-select-accounts" id="">
									<option th:each="item_type : ${typelist}"  name="ttype" th:id="${item_type.id}" th:text="${item_type.ptname}"></option>
								</select>
							</div>
							<div class="form-group mb-3">
								<label for="description">项目内容</label>
								<textarea name="descirption" class="form-control validate" rows="3" required></textarea>
							</div>
							<div class="form-group mb-3">
								<label for="description">项目注意事项</label>
								<textarea name="remark" class="form-control validate" rows="3" required></textarea>
							</div>
							<div class="form-group mb-3">
								<label for="">请输入负责人</label> <input
									id="name" name="leadingofficial" type="text" class="form-control validate"
									required />
							</div>

							<div class="form-group mb-3">
								<label for="">价格</label> <input
									id="name" name="price" type="text" class="form-control validate"
									required />
							</div>

							<div class="row">

								<div class="form-group mb-3 col-xs-12 col-sm-6">
									<label for="expire_date">安全时间
									</label> <input id="expire_date" name="safe_time" type="text"
										class="form-control validate" data-large-mode="true" />
								</div>
								<div class="form-group mb-3 col-xs-12 col-sm-6">
									<label for="expire_date">一个过程所需时间
									</label> <input id="expire_date" name="needTime" type="text"
										class="form-control validate" data-large-mode="true" />
								</div>
								<div class="form-group mb-3 col-xs-12 col-sm-6">
									<label for="stock">项目容纳人数
									</label> <input id="stock" name="galleryful" type="text"
										class="form-control validate" required />
								</div>
								<div class="form-group mb-3 col-xs-12 col-sm-6">
									<label for="expire_date">一个过程所需成本
									</label> <input id="expire_date" name="Cost" type="text"
										class="form-control validate" data-large-mode="true" />
								</div>
								<div class="form-group mb-3 col-xs-12 col-sm-6">
									<label for="expire_date">适合最大身高
									</label> <input id="expire_date" name="maxheight" type="text"
										class="form-control validate" data-large-mode="true" />
								</div>

								<div class="form-group mb-3 col-xs-12 col-sm-6">
									<label for="stock">适合最小身高 </label>
									<input id="stock" name="minheight" type="text"
										class="form-control validate" required />
								</div>

								<div class="form-group mb-3 col-xs-12 col-sm-6">
									<label for="expire_date">适合最大年龄
									</label> <input id="expire_date" name="maxcrowd" type="text"
										class="form-control validate" data-large-mode="true" />
								</div>

								<div class="form-group mb-3 col-xs-12 col-sm-6">
									<label for="stock">适合最小年龄 </label>
									<input id="stock" name="mincrowd" type="text"
										class="form-control validate" required />
								</div>
							</div>
							<div hidden="hidden" id="show_jd" class="form-group mb-3">
								<h5 style="color: white;">已选基地</h5>
								<table class="table" id="show_jd_table">
								</table>
							</div>
							<div class="custom-file mt-3 mb-3">

								<input type="button" class="btn btn-primary btn-block mx-auto"
									value="选择基地" id="xz_jd_button" />
							</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
						<div class="tm-product-img-dummy mx-auto">
							<i class="fas fa-cloud-upload-alt tm-upload-icon"
								onclick="document.getElementById('fileInput').click();"></i>
						</div>
						<div class="custom-file mt-3 mb-3">
							<input id="fileInput" type="file" style="display: none;" multiple="multiple"/> <input
								type="button" class="btn btn-primary btn-block mx-auto"
								value="上传图片"
								onclick="document.getElementById('fileInput').click();" />
						</div>
					</div>
					<div class="col-12" style="margin-top: 20px;">
						<button type="button" id="insert_project"
							class="btn btn-primary btn-block text-uppercase">新增项目</button>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
	<div id="jd_tc"
		style="width: 520px; height: 208px; border: 1px solid #466675;; background: white; filter: alpha(opacity : 80); opacity: 0.9; -moz-opacity: 0.2; -khtml-opacity: 0.5; position: relative; bottom: 320px; left: 670px; overflow-y: scroll; overflow-x: scroll; display: none;">
		<div style="background: #466675;">
			<input type="text" name="anmae" placeholder="基地名称" class="form-group">
			<input type="text" name="pistion" placeholder="基地位置"
				class="form-group"> <input type="submit" id=""
				style="border-radius: 30px 30px 30px 30px; width: 100px; margin-left: 20px;"
				class="btn-primary" value="查询" />
			<table class="table">
				<thead>
					<tr>
						<th>基地名称</th>
						<th>基地位置</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${alist}">
						<td th:id="${item.id}" th:text="${item.aname}"></td>
						<td th:text="${item.pistion}"></td>
						<th><input type="checkbox" name="ck_jd" /></th>
					</tr>
				</tbody>
			</table>
			<input type="button" class=" btn-primary btn-block mx-auto"
				value="确定"
				style="width: 50px; height: 20px; text-align: center; margin-top: 20px; border-radius: 30px 30px 30px 30px; height: 30px; width: 80px;"
				onclick="hide_jd(this)" />
		</div>
	</div>
	

	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<!-- https://jquery.com/download/ -->
	<script th:src="@{/jquery-ui-datepicker/jquery-ui.min.js}"></script>
	<!-- https://jqueryui.com/download/ -->
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- https://getbootstrap.com/ -->
	<script>
		function getNow(s) {
		    return s < 10 ? '0' + s: s;
		}
		$(function() {
			$("#expire_date").datepicker();

			$("#xz_jd_button").click(function() {
				$("#jd_tc").css("display", "block");
			})
			$("[name=ck_jd]").click(function() {
				if (this.checked) {
					var xm = $(this).parents("tr").clone();
					xm.find("input").remove();
					var remove_xm = $("<td><a href='javascript:void(0)' style='color: red;' id='yc_ry_a' onclick='yc_xm(this)'>移除</a></td>");
					$(xm).append(remove_xm);
					$("#show_jd").removeAttr("hidden");
					$("#show_jd_table").append(xm);
				}
			})
			/* $("#insert_project").click(function(){
				var ilist=[];
				$("#show_jd_table tr").each(function(){
					var a={};
					a.areaid=$(this).find("td:eq(0)").attr("id");
					ilist.push(a);
				})
				var pro={};
				pro.name=$("[name=name]").val();
				pro.descirption=$("[name=descirption]").val();
				pro.remark=$("[name=remark]").val();
				pro.leadingofficial=$("[name=leadingofficial]").attr("sid");
				pro.price=$("[name=Price]").val();
				pro.safe_time=$("[name=safe_time]").val();
				pro.needTime=$("[name=needTime]").val();
				pro.galleryful=$("[name=galleryful]").val();
				pro.Cost=$("[name=Cost]").val();
				pro.minheight=$("[name=minheight]").val();
				pro.maxheight=$("[name=maxheight]").val();
				pro.palist=ilist;
				var pro=JSON.stringify(pro);
				console.log(pro); 
				$.ajax({
					url:"insert",
					type:"post",
					data:pro,
					processData:false,
					contentType:"application/json;charset=UTF-8",
					success:function(){
						alert("新增成功");
					}
				})   
			}) */
			
			$("#insert_project").click(function(){
				/* var form=$("form"); */
				var formData = new FormData(); 
				var fileArr ;
				$("[type=file]").each(function(i,obj){
					fileArr = this.files;
				})
				for(var i = 0;i < fileArr.length;i++){
					formData.append("file",fileArr[i]);
				}
				console.log(fileArr)
			 	/* var ilist=[]; */
				$("#show_jd_table tr").each(function(i,obj){
					/* var a={};
					a.areaid=$(this).find("td:eq(0)").attr("id");
					ilist.push(a); */
					formData.append("palist["+i+"].areaid",$(this).find("td:eq(0)").attr("id"));
				})
				
				var myDate = new Date();
				//获取当前年
				var year=myDate.getFullYear();
				//获取当前月
				var month=myDate.getMonth()+1;
				//获取当前日
				var date=myDate.getDate(); 
				var h=myDate.getHours();       //获取当前小时数(0-23)
				var m=myDate.getMinutes();     //获取当前分钟数(0-59)
				var s=myDate.getSeconds();  
				
				var now=year+'-'+getNow(month)+"-"+getNow(date)+" "+getNow(h)+':'+getNow(m)+":"+getNow(s);
				
				var dt = new Date(now.replace(/-/,"/")) 
				formData.append("pname",$("[name=name]").val());
				formData.append("createtime",dt);
				formData.append("tid",$("[name=ttype]").attr("id"));
				formData.append("description",$("[name=descirption]").val());
				formData.append("remark",$("[name=remark]").val());
				formData.append("leadingoffcial",$("[name=leadingofficial]").attr("sid"));
				formData.append("price",$("[name=price]").val());
				formData.append("safetime",$("[name=safe_time]").val());
				formData.append("needtime",$("[name=needTime]").val());
				formData.append("galleryful",$("[name=galleryful]").val());
				formData.append("cost",$("[name=Cost]").val());
				formData.append("minheight",$("[name=minheight]").val());
				formData.append("maxheight",$("[name=maxheight]").val());
				formData.append("mincrowd",$("[name=mincrowd]").val());
				formData.append("maxcrowd",$("[name=maxcrowd]").val()); 
				/* formData.append("palist",ilist); */
				/* var pro={};
				pro.name=$("[name=name]").val();
				pro.descirption=$("[name=descirption]").val();
				pro.remark=$("[name=remark]").val();
				pro.leadingofficial=$("[name=leadingofficial]").attr("sid");
				pro.price=$("[name=Price]").val();
				pro.safe_time=$("[name=safe_time]").val();
				pro.needTime=$("[name=needTime]").val();
				pro.galleryful=$("[name=galleryful]").val();
				pro.Cost=$("[name=Cost]").val();
				pro.minheight=$("[name=minheight]").val();
				pro.maxheight=$("[name=maxheight]").val();
				pro.palist=ilist;
				var pro=JSON.stringify(pro);
				console.log(pro); 
				
				formData.append("pro",pro); */
				
				$.ajax({
					url:"file",
					type:"post",
					data:formData,
					processData:false,
					contentType:false,
					dataType:"json",
					success:function(result){
						console.log(123);
						console.log(result);
					}
				});     
			})
			
			$("[name=leadingofficial]").blur(function(){
				var name=$(this).val();
				var th=this;
				$.ajax({
					url:"queryName?name="+name+"",
					type:"post",
					dataType:"json",
					success:function(result){
						console.log(result);
						$(th).attr("sid",result.sta.id);
					}
				})
			})
		});

		function yc_xm(th) {
			var show_xm_length = $("#show_xm_table").find("tr").length;
			if (show_xm_length == 2) {
				$("#show_xm").hide();
			}
			$(th).parents("tr").remove();
			var xm_sz = [];
			var xm_id = $(th).parents("tr").find("td:eq(0)").attr("xmid");
			var xm_id2;
			var id;
			$("#jd_tc").each(function() {
				id = $(this).find("td:nth-of-type(1)");
				$.each(id, function(i, obj) {
					xm_id2 = $(obj).attr("xmid");
					xm_sz.push(xm_id2);
				});
			})
			for (var i = 0; i < xm_sz.length; i++) {
				console.log(xm_sz[i]);
				if (xm_id == xm_sz[i]) {
					var xmtd = $("#jd_tc").find("[xmid='" + xm_id + "']");
					xmtd.next().find("input").prop("checked", false);
				}
			}
		}

		function hide_jd(th) {
			$("#jd_tc").css("display", "none");
			var show_jd_length = $("#show_jd_table").find("tr").length;
			if (show_jd_length == 1) {
				$("#show_jd").hide();
			}
		}
	</script>
</body>
</html>
