<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>员工管理</title>
<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/templatemo-style.css}">
<link rel="stylesheet" th:href="@{/css/JJ_yuangong.css}" />
<style type="text/css">
	.tables tr td {
	    height: 70px;
	    border: 1px white solid;
	    width: 120px;
	}
	a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
	}
</style>
</head>
<body id="reportsPage">
	<div class="" id="home">
		<div class="container">
			<div class="modal fade bs-example-modal-lg" id="JJ_tan" tabindex="-1"
				role="dialog" aria-labelledby="myLargeModalLabel">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div id="" class="modal-header JJ_shang">
							<span class="closeModal">
								<label>职位</label>&nbsp;&nbsp;&nbsp;
							<span class="zhiwei"></span>
							<label>在职状态</label>&nbsp;&nbsp;&nbsp;
							<span class="zt"></span>
							</span> <span class="close" data-dismiss="modal">&times;</span>
						</div>
						<div id="" class="modal-body appe"></div>
						<div id="" class="modal-footer">
							<a class="btn">提交</a> <a class="btn" data-dismiss="modal">关闭</a>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade bs-example-modal-lg" id="JJ_addygtan"
				tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<form action="#" method="post">
							<div id="" class="modal-header JJ_shang">
								<span class="closeModal">
									<h2>录入员工</h2>
									<label>职位</label> <select class="zhi1">
										<option th:each="item1:${lists}" th:value="${item1.id}" th:text="${item1.postion}"></option>
								</select>
								</span> <span class="close" data-dismiss="modal">&times;</span>
							</div>
							<div id="" class="modal-body">
								<table class="table tables">

									<tr>
										<td>姓名</td>
										<td colspan=""><input type="text" name="name1" /></td>
										<td>电话号码</td>
										<td colspan="3"><input type="text" name="phone1" /></td>
									</tr>
									<tr>
										<td>住址</td>
										<td colspan="3"><input type="text" name="address1" /></td>
										<td>体重</td>
										<td><input type="text" name="width1" /></td>
									</tr>
									<tr>
										<td>身份证号</td>
										<td colspan="3"><input type="text" name="idCardNo1" /></td>
										<td>身高</td>
										<td><input type="text" name="height1" /></td>
									</tr>
								</table>
							</div>
							<div id="" class="modal-footer">
								<input class="btn" type="reset" /> <a class="btn lr">录入</a> <a
									class="btn" data-dismiss="modal">关闭</a>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="row tm-content-row">
				<div class="col-12 tm-block-col">
					<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
						<h2 class="tm-block-title">员工列表</h2>
						<div class="JJ_feileiselect">
						<form action="/staff/queryLike" method="post">
						 <label>职位</label>&nbsp; 
							<select name="postionid">
								<option value="">请选择</option>
								<option  th:each="item1:${lists}" th:value="${item1.id}" th:text="${item1.postion}"></option>
							</select> 
							<label>员工姓名</label>&nbsp; <input type="text" name="uname" placeholder="" />
							<input type="submit" class="JJ_mohua" value="查找">
							</form>
						</div>

						<table class="table JJ_tables">
							<thead>
								<tr>
									<th scope="col">员工ID</th>
									<th scope="col">员工姓名</th>
									<th scope="col">员工类型</th>
									<th scope="col">员工性别</th>
									<th scope="col">状态</th>
									<th scope="col">详情</th>
									<th scope="col">操作</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item:${list}">
									<th scope="row"><b class="uids" th:text="${item.id}"></b></th>
									<td><b th:text="${item.ulist.uname}"></b></td>
									<td>
										<div class="tm-status-circle moving"></div> <b
										th:text="${item.plist.postion}" th:value="${item.plist.id}" class="zw"></b>
									</td>
									<td><b>男</b></td>
									<td><b th:if="${item.state==0}" class="stateid" th:value="${item.state}" th:text="在职">
									
									</b>
									<b th:if="${item.state==1}" class="stateid" th:value="${item.state}" th:text="离职" style="color: red">
									
									</b>
									</td>
									<td><b> <a href="#" data-target="#JJ_tan"
											data-toggle="modal" class="tm-product-delete-link JJ_xiang">
												<i class="fa fa-info"></i>
										</a>
									</b></td>
									<td><b> <a href="javascript:void(0)"
											class="tm-product-delete-link JJ_delete"> <i
												class="far fa-trash-alt tm-product-delete-icon"></i>
										</a><input type="checkbox" th:value="${item.id}" name="x" class="sc"></b></td>
								</tr>
							</tbody>
						</table>
						
						<button class="btn JJ_addyg" data-target="#JJ_addygtan"
							data-toggle="modal">录入员工</button>
							<button class="btn JJ_plsc">批量删除</button>
							<button class="btn JJ_sc">删除</button>
					</div>
				</div>
			</div>
		</div>

	</div>
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/moment.min.js}"></script>
	<script th:src="@{/js/Chart.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/tooplate-scripts-cy.js}"></script>
	<script>
		$(function() {
			$(".sc").hide();
			$(".JJ_sc").hide();
			$(".JJ_xiang").click(function() {
			var h = $(this).parent().parent().parent().find(".uids").html();
			var zw=$(this).parent().parent().parent().find(".zw").html();
			var stateids;
					$(".appe").html("");
					$(".zhiwei").html("");
					$(".zt").html("");
					$.ajax({
						url : "/staff/queryById?id="+h,
						type : "POST",
						dataType : "json",
						contentType : "application/json;charset=utf-8",
						success : function(data) {
							console.log(data);
							/* 拼接在职时间 */
							var datetime=new Date(data.entrytime);
							var year=datetime.getFullYear();
							var month=datetime.getMonth();
							var ri=datetime.getDate();
							var shi=datetime.getHours();
							var fen=datetime.getMinutes();
							var miao=datetime.getSeconds();
							var zaizhi=year+"-"+month+"-"+ri+" "+shi+":"+fen+":"+miao;
							/* 判断是否离职，离职就拼接赋值 */
							if(data.departuretime!=null){
								var datetime=new Date(data.departuretime);
								var year=datetime.getFullYear();
								var month=datetime.getMonth();
								var ri=datetime.getDate();
								var shi=datetime.getHours();
								var fen=datetime.getMinutes();
								var miao=datetime.getSeconds();
								var lizhi=year+"-"+month+"-"+ri+" "+shi+":"+fen+":"+miao;
							}else{
								var lizhi="未离职";
							}
							var zhiwei="<select>"
								+"<option>"+data.plist.postion+"</option>"
								+"</select>";
							$(".zhiwei").append(zhiwei);
								var t;
								var zts=data.state;
								if(zts==0){
									t="在职";
								}else{
									t="离职";
								}
							var zt="<select><option>"+t+"</option></select>";
 							var st = "<table class='table tables'>"
								+ "<tr>"
								+ "<td>用户名</td>"
								+ "<td colspan=''><input type='text' name='name' value='"+data.ulist.uname+"'/></td>"
								+ "<td>电话号码</td>"
								+ "<td colspan='3'><input type='text' value='"+data.ulist.phone+"'/></td>"
								+ "</tr>"
								+ "<tr>"
								+ "<td>住址</td>"
								+ "<td colspan='3'><input type='text' name='address' value='"+data.ulist.address+"'/></td>"
								+ "<td>体重</td>"
								+ "<td><input type='text' name='hy' value='"+data.ulist.height+"'/></td>"
								+ "</tr>"
								+ "<tr>"
								+ "<td>身份证号</td>"
								+ "<td colspan='3'><input type='text' name='address2' value='"+data.ulist.idcardno+"'/></td>"
								+ "<td>身高</td>"
								+ "<td><input type='text' name='sr' value='"+data.ulist.width+"'/></td>"
								+ "</tr>"
								+ "<tr>"
								+ "<td>入职时间</td>"
								+ "<td colspan='2'><input type='text' class='date1' value='"+zaizhi+"'/></td>"
								+ "<td>离职时间</td>"
								+ "<td colspan='2'><input type='text' class='date2'  name='lz' value='"+lizhi+"'/></td>"
								+ "</tr>" + "</table>";
							$(".appe").append(st); 
							
							$(".zt").append(zt);
								}
							})

						})
						
						$(".lr").click(function(){
							var name1=$("[name=name1]").val();
							var phone1=$("[name=phone1]").val();
							var address1=$("[name=address1]").val();
							var height1=$("[name=height1]").val();
							var idCardNo1=$("[name=idCardNo1]").val();
							var width1=$("[name=width1]").val();
							var position1=$(".zhi1").val();
							var ulist={};
							ulist.idcardno=idCardNo1;
							ulist.address=address1;
							ulist.height=height1;
							ulist.width=width1;
							ulist.phone=phone1;
							var sta={};
							sta.postionid=position1;
							sta.ulist=ulist;
							var st=JSON.stringify(sta);
							alert(st);
							$.ajax({
								url:"/staff/insert",
								data:st,
								type : "POST",
								dataType : "json",
								contentType : "application/json;charset=utf-8",
								success:function(data1){
									console.log(data1);
									alert("录入成功 !")
								}
							})
						})
						
						$(".JJ_plsc").click(function(){
							$(".JJ_delete").hide();
							$(".sc").show();
							$(".JJ_sc").show();
							$(".JJ_plsc").hide();
							})
							
							$(".JJ_sc").click(function(){
								var ids=$(".sc").val();
							})
							
							$(".JJ_delete").click(function(){
								var h = $(this).parent().parent().parent().find(".uids").html();
								alert(h);
								$.ajax({
									url:"/staff/staffupdate?id="+h,
									type : "POST",
									dataType : "json",
									contentType : "application/json;charset=utf-8",
									success:function(data2){
										alert("离职成功!");
									}
								})
							})
					
		})
	</script>

</body>

</html>