<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>员工管理</title>
<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/templatemo-style.css}">
<link rel="stylesheet" th:href="@{/css/JJ_yuangong.css}" />
<style type="text/css">
	.tables tr td {
	    height: 70px;
	    border: 1px white solid;
	    width: 120px;
	}
</style>
</head>
<body id="reportsPage">
	<div class="" id="home">
		<div class="container">
			<div class="modal fade bs-example-modal-lg" id="JJ_tan" tabindex="-1"
				role="dialog" aria-labelledby="myLargeModalLabel">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div id="" class="modal-header JJ_shang">
							<span class="closeModal">
								<label>职位</label>&nbsp;&nbsp;&nbsp;<input type="text" />
							</span> <span class="close" data-dismiss="modal">&times;</span>
						</div>
						<div id="" class="modal-body appe"></div>
						<div id="" class="modal-footer">
							<a class="btn">提交</a> <a class="btn" data-dismiss="modal">关闭</a>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade bs-example-modal-lg" id="JJ_addygtan"
				tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<form action="#" method="post">
							<div id="" class="modal-header JJ_shang">
								<span class="closeModal">
									<h2>录入员工</h2>
									<label>职位</label> <select>
										<option th:each="item1:${lists}" th:value="${item1.id}" th:text="${item1.postion}"></option>
								</select>
								</span> <span class="close" data-dismiss="modal">&times;</span>
							</div>
							<div id="" class="modal-body">
								<table class="table tables">

									<tr>
										<td>姓名</td>
										<td colspan=""><input type="text" name="name" /></td>
										<td>电话号码</td>
										<td colspan="3"><input type="text" name="phone" /></td>
									</tr>
									<tr>
										<td>住址</td>
										<td colspan="3"><input type="text" name="address" /></td>
										<td>体重</td>
										<td><input type="text" name="height" /></td>
									</tr>
									<tr>
										<td>身份证号</td>
										<td colspan="3"><input type="text" name="idCardNo" /></td>
										<td>身高</td>
										<td><input type="text" name="width" /></td>
									</tr>
								</table>
							</div>
							<div id="" class="modal-footer">
								<input class="btn" type="reset" /> <a class="btn lr">录入</a> <a
									class="btn" data-dismiss="modal">关闭</a>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="row tm-content-row">
				<div class="col-12 tm-block-col">
					<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
						<h2 class="tm-block-title">员工列表</h2>
						<div class="JJ_feileiselect">
						<form action="/staff/queryLike" method="post">
						 <label>职位</label>&nbsp; 
							<select name="id">
								<option value="">请选择</option>
								<option  th:each="item1:${lists}" th:value="${item1.id}" th:text="${item1.postion}"></option>
							</select> 
							<label>员工姓名</label>&nbsp; <input type="text" name="uname" placeholder="" />
							<input type="submit" class="JJ_mohua" value="查找">
							</form>
						</div>

						<table class="table JJ_tables">
							<thead>
								<tr>
									<th scope="col">员工ID</th>
									<th scope="col">员工姓名</th>
									<th scope="col">员工类型</th>
									<th scope="col">员工性别</th>
									<th scope="col">打卡次数</th>
									<th scope="col">详情</th>
									<th scope="col">操作</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item:${list}">
									<th scope="row"><b class="uids" th:text="${item.id}"></b></th>
									<td><b th:text="${item.ulist.uname}"></b></td>
									<td>
										<div class="tm-status-circle moving"></div> <b
										th:text="${item.plist.postion}"></b>
									</td>
									<td><b>男</b></td>

									<td><b th:text="${item.slist.staffid}"> </b></td>
									<td><b> <a href="#" data-target="#JJ_tan"
											data-toggle="modal" class="tm-product-delete-link JJ_xiang">
												<i class="fa fa-info"></i>
										</a>
									</b></td>
									<td><b> <a href="javascript:void(0)"
											class="tm-product-delete-link JJ_delete"> <i
												class="far fa-trash-alt tm-product-delete-icon"></i>
										</a></b></td>
								</tr>
							</tbody>
						</table>
						<button class="btn JJ_addyg " data-target="#JJ_addygtan"
							data-toggle="modal">录入员工</button>
					</div>
				</div>
			</div>
		</div>

	</div>
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/moment.min.js}"></script>
	<script th:src="@{/js/Chart.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/tooplate-scripts-cy.js}"></script>
	<script>
		$(function() {
			$(".JJ_xiang").click(function() {
			var h = $(this).parent().parent().parent().find(".uids").html();
					alert(h);
					$(".appe").html("");
					$.ajax({
						url : "/staff/queryById?id="+h,
						type : "POST",
						dataType : "json",
						contentType : "application/json;charset=utf-8",
						success : function(data) {
							console.log(data);
							var st = "<table class='table tables'>"
								+ "<tr>"
								+ "<td>姓名</td>"
								+ "<td colspan=''><input type='text' name='name' value='"+data.ulist.uname+"'/></td>"
								+ "<td>电话号码</td>"
								+ "<td colspan='3'><input type='text' value='"+data.ulist.phone+"'/></td>"
								+ "</tr>"
								+ "<tr>"
								+ "<td>住址</td>"
								+ "<td colspan='3'><input type='text' name='address' value='"+data.ulist.address+"'/></td>"
								+ "<td>体重</td>"
								+ "<td><input type='text' name='hy' value='"+data.ulist.height+"'/></td>"
								+ "</tr>"
								+ "<tr>"
								+ "<td>身份证号</td>"
								+ "<td colspan='3'><input type='text' name='address2' value='"+data.ulist.idcardno+"'/></td>"
								+ "<td>身高</td>"
								+ "<td><input type='text' name='sr' value='"+data.ulist.width+"'/></td>"
								+ "</tr>"
								+ "<tr>"
								+ "<td>入职时间</td>"
								+ "<td colspan='2'><input type='date' val='"+data.entrytime+"'/></td>"
								+ "<td>离职时间</td>"
								+ "<td colspan='2'><input type='date' pattern='yyyy-MM-dd HH:mm:ss' name='lz' val='"+data.departuretime+"'/></td>"
								+ "</tr>" + "</table>";
							$(".appe").append(st);
								}
							})

						})
					
		})
	</script>

</body>

</html>