<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>套餐与活动推荐</title>
		<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/templatemo-style.css}">
		<link rel="stylesheet" th:href="@{/css/JJ_yuangong.css}">
		<style type="text/css">
		a {
		    color: white;
		    text-decoration: none;
		    background-color: transparent;
		    -webkit-text-decoration-skip: objects;
		}
		</style>
	</head>

	<body id="reportsPage">
		<div class="" id="home">
			<div class="container">
				<div class="modal fade bs-example-modal-lg" id="JJ_tan" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div id="" class="modal-header JJ_shang">
								<span class="closeModal" style="font-size: 20px;">
									套餐详情
								</span>
								<span class="close" data-dismiss="modal">&times;</span>
							</div>
							<div id="" class="modal-body JJ_tao">
								<table class="table">
									<tr>
										<td>套餐名称</td>
										<td>数量</td>
										<td>价格</td>
									</tr>
									<tr>
										<td>去玩儿</td>
										<td>50</td>
										<td>￥650</td>
									</tr>
								</table>
								<!-- <span>活动</span>
								<table class="table">
									<thead>
										<tr>
											<td>活动名称</td>
											<td>人数</td>
											<td>价格</td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>青青草原</td>
											<td>20</td>
											<td>￥499</td>
										</tr>
									</tbody>
								</table> -->
								<span>餐饮</span>
								<table class="table">
									<thead>
										<tr>
											<td>餐饮名称</td>
											<td>类型</td>
											<td>数量</td>
											<td>价格</td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>奶酪</td>
											<td>奶制品</td>
											<td>2</td>
											<td>￥50</td>
										</tr>
										<tr>
											<td>卫龙</td>
											<td>油炸</td>
											<td>2</td>
											<td>￥10</td>
										</tr>
										<tr>
											<td>白云边</td>
											<td>酒类</td>
											<td>1</td>
											<td>￥150</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div id="" class="modal-footer">
								<a class="btn" data-dismiss="modal">关闭</a>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade bs-example-modal-lg" id="JJ_taocan" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<h1>套餐新增</h1>
							<div class="container">
								<p>
									<label>套餐名称:</label>
									<input type="text" />
								</p>
								<p>
									<label>选择项目:</label>
									<input type="radio" class="JJ_xzhd" />
								</p>
								<p class="JJ_hdadd">

								</p>
								<p>
									<label>选择餐饮:</label>
									<input type="radio" class="JJ_xzcy" />
								</p>
								<p class="JJ_cyfladd">

								</p>
								<p class="JJ_tcsl">
									<label>套餐数量:</label>
									<input type="text" />
								</p>
							</div>
							<div id="" class="modal-footer">
								<a class="btn">提交</a>
								<a class="btn" data-dismiss="modal">关闭</a>
							</div>
						</div>

					</div>
				</div>

				<div class="row tm-content-row">
					<div class="col-12 tm-block-col">
						<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
							<h2 class="tm-block-title">套餐与活动推荐</h2>
						</div>
						<table class="table JJ_tables">
							<thead>
								<tr>
									<th scope="col">套餐名称</th>
									<th scope="col">内容</th>
									<th scope="col">价格</th>
									<th scope="col">库存</th>
									<th scope="col">详情</th>
									<th scope="col">操作</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item:${list}">
									<td>
										<b th:text="${item.mname}">去玩儿</b>
									</td>
									<td>
										<b th:text="${item.list[0].mname}"></b>+<b th:text="${item.list[1].mname}"></b>
									</td>
									<td>￥<b th:text="${item.price}"></b></td>
									<td>
									<b th:text="${item.stock}" th:if="${item.stock!=0}"></b>
									<b th:text="已售完" th:if="${item.stock==0}" style="color: red"></b>
									</td>
									<td><b>
	                                    	<a href="#" data-target="#JJ_tan" th:value="${item.id}" data-toggle="modal" class="tm-product-delete-link JJ_tc JJ_xiang">
	                                    		<i class="fa fa-info"></i>
	                                    	</a>
                                    </b></td>
									<td><b>
                                    	<a href="javascript:void(0)" class="tm-product-delete-link JJ_delete">
					                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
					                   </a></b>
									</td>
								</tr>
							</tbody>
						</table>
						<button class="btn JJ_taocan" data-target="#JJ_taocan" data-toggle="modal">新增套餐</button>
					</div>
				</div>
			</div>
		</div>
		<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<!-- https://jquery.com/download/ -->
		<script th:src="@{/js/moment.min.js}"></script>
		<!-- https://momentjs.com/ -->
		<script th:src="@{/js/Chart.min.js}"></script>
		<!-- http://www.chartjs.org/docs/latest/ -->
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<!-- https://getbootstrap.com/ -->
		<script>
			$(function() {
				$(".JJ_xzhd").click(function() {
					if(true) {
						var xm = $("<label>骑马</label>&nbsp;<input type='radio' />&nbsp;" +
							"<label>射击</label>&nbsp;<input type='radio' />&nbsp;" +
							"<label>务农</label>&nbsp;<input type='radio' />&nbsp;" +
							"<label>绘画</label>&nbsp;<input type='radio' />&nbsp;" +
							"<label>游泳</label>&nbsp;<input type='radio' />&nbsp;");
						$(".JJ_hdadd").append(xm);
					}
				})

				$(".JJ_xzcy").click(function() {
					var cyfl = $("<label>油炸</label>&nbsp;<input type='radio' name='names' class='cyfl' value='1'/>&nbsp;" +
						"<label>饮料</label>&nbsp;<input type='radio' name='names' class='cyfl' value='2' />&nbsp;" +
						"<label>奶制品</label>&nbsp;<input type='radio' name='names' class='cyfl' value='3' />&nbsp;" +
						"<label>菜类</label>&nbsp;<input type='radio' name='names' class='cyfl' value='4' />");
					$(".JJ_cyfladd").append(cyfl);
					var cys = $("<table class='tables table tas'>" +
						"<tr>" +
						"<td>选择</td>" +
						"<td class='JJ_lx'>类型</td>" +
						"<td class='JJ_mc'>名称</td>" +
						"<td class='JJ_jg'>价格</td>" +
						"</tr>" +
						"</table>");
					$(".JJ_cyfladd").append(cys);
				})
				$(document).on("click", ".cyfl", function() {
					var zhi = $(this).val();
					if(zhi == 1) {
						$(".tr1").html("");
						var tr1 = $("<tr class='tr1'>" +
							"<td><input type='radio'></td>" +
							"<td>油炸</td>" +
							"<td>卫龙 </td>" +
							"<td>￥10</td>" +
							"</tr>");
						$(".tas").append(tr1);
					} else if(zhi == 2) {
						$(".tr2").html("");
						var tr2 = $("<tr class='tr2'>" +
							"<td><input type='radio'></td>" +
							"<td>饮料</td>" +
							"<td>可乐 </td>" +
							"<td>￥5</td>" +
							"</tr>");
						$(".tas").append(tr2);
					} else if(zhi == 3) {
						$(".tr3").html("");
						var tr3 = $("<tr class='tr3'>" +
							"<td><input type='radio'></td>" +
							"<td>奶制品</td>" +
							"<td>奶酪</td>" +
							"<td>￥20</td>" +
							"</tr>");
						$(".tas").append(tr3);
					} else if(zhi == 4) {
						$(".tr4").html("");
						var tr4 = $("<tr class='tr4'>" +
							"<td><input type='radio'></td>" +
							"<td>菜类</td>" +
							"<td>小炒肉</td>" +
							"<td>￥15</td>" +
							"</tr>");
						$(".tas").append(tr4);
					}
				})
				
				
				$(".JJ_tc").click(function(){
					
				})
			})
		</script>
	</body>

</html>