<!DOCTYPE html >
<html class="noIE" lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>订单</title>
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="icon" th:href="@{/img1/favicon/favicon.html}" type="image/x-icon" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/img1/favicon/apple-touch-icon-144x144-precomposed.html}">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/img1/favicon/apple-touch-icon-72x72-precomposed.html}">
		<link rel="apple-touch-icon-precomposed" th:href="@{/img1/favicon/apple-touch-icon-precomposed.html}">
		<link rel="stylesheet" th:href="@{/css1/minified.css}">
		<script th:src="@{/js1/modernizr.min.js}"></script>
		<script th:src="@{/js1/jquery.min.js}"></script>
		<link th:href="@{/css1/innerpage.css}" rel="stylesheet">
		<link rel="stylesheet" th:href="@{/css1/responsive.css}">
</head>
<style>
	.panel-collapse>p{
		padding: 10px;
		margin-left: 10px;
		margin-top: 10px;
	}
	.panel-collapse>p>span{
		color: #EB9316;
		margin: 0px 10px;
	}
	.dingdanhao,.time{
		color: #EB9316;
		margin: 0px 10px;	
	}
	#checkout-collapse:last-of-type{
		margin-bottom: 10px;
	}
	
	.ulist{
	margin-top: 10px;
	}
</style>
	<body>
		<div class="panel-group checkout" id="checkout-collapse" style="margin-top: 0px;" >
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#checkout-collapse" href="#checkout-collapse3">
						<span class="step">03</span>
							订单管理
						</a>
					</h4>
				</div>
				<div id="checkout-collapse3" class="panel-collapse in">
						<p >
							订单号:<span>SSS2212312</span>
							订单时间:<span>2018年12月1日 22:11:22</span>
							<span>团队订单</span>
						</p>
						<div class="panel-group col-md-11 " id="checkout-collapse">
								<div class="panel panel-default">
									<div class="panel-heading"> 
										<h4 class="panel-title">
											<a data-toggle="collapse"  href="#checkout-collapse4">
											<span class="step">01</span>
												订单一查询:SSS2212312
											</a>
										</h4>
									</div>
								</div>
								<div id="checkout-collapse4" class="panel-collapse collapse">
										<p>
											订单号:<span>SSS888888</span>
											订单时间:<span>2019年12月1日 22:11:22</span>
											<span>我的订单</span>
										</p>	
										<div class="panel-group col-md-11 " id="checkout-collapse">
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a data-toggle="collapse"  href="#checkout-collapse7">
															<span class="step">03</span>
																我的订单查询:SSS888888
															</a>
														</h4>
													</div>
												</div>
												<div id="checkout-collapse7" class="panel-collapse collapse">
														<table class="table">
								        						<thead>
								        							 <th scope="col">项目名称</th>
								                                     <th scope="col">项目价格</th>
								                                     <th scope="col">项目负责人</th>
								                                     <th scope="col">项目状态</th>
								        						</thead>
								        						<tbody>
								        							 <tr>
							                                    		<th scope="row"><img src="img1/mastercard.png" width="50" height="50" alt="图片"/><b>射箭</b></th>
									                                    <td>
									                                        <b>188</b>
									                                    </td>
									                                    <td>
									                                    	张三
									                                    </td>
									                                    <td>已进行</td>
									                                </tr>
									                                 <tr>
							                                    		<th scope="row"><img src="img1/mastercard.png" width="50" height="50" alt="图片"/><b>射箭</b></th>
									                                    <td>
									                                        <b>188</b>
									                                    </td>
									                                    <td>
									                                    	张三
									                                    </td>
									                                    <td>已进行</td>
									                                </tr>
									                                 <tr>
							                                    		<th scope="row"><img src="img1/mastercard.png" width="50" height="50" alt="图片"/><b>射箭</b></th>
									                                    <td>
									                                        <b>188</b>
									                                    </td>
									                                    <td>
									                                    	张三
									                                    </td>
									                                    <td>已进行</td>
									                                </tr>
								        						</tbody>
	        											</table>	
														<table class="table">
							        						<thead>
							        							 <th scope="col">菜品名称</th>
							                                     <th scope="col">菜品价格</th>
							                                     <th scope="col">菜品数据</th>
							                                     <th scope="col">菜品总价</th>
							        						</thead>
							        						<tbody>
							        							 <tr>
						                                    		<th scope="row"><img src="img1/mastercard.png" width="50" height="50" alt="图片"/><b>小炒时蔬</b></th>
								                                    <td>
								                                        <b>122</b>
								                                    </td>
								                                    <td>
																		<b>2</b>
								                                    </td>
								                                    <td><b>244</b></td>
								                                </tr>
							        						</tbody>
							        					</table>
												</div>
										</div>
										<p>
											<span>团员列表</span>
										</p>	
										<div class="panel-group col-md-11 " id="checkout-collapse">
												<div class="panel panel-default ">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a data-toggle="collapse"  href="#checkout-collapse11">
															<span class="step">01</span>
																用户一
															</a>
														</h4>
													</div>
												</div>
												<div id="checkout-collapse11" class="panel-collapse collapse">
													<div id="checkout-collapse12" class="panel-collapse in">
														<table class="table">
										        						<thead>
										        							 <th scope="col">项目名称</th>
										                                     <th scope="col">项目价格</th>
										                                     <th scope="col">项目负责人</th>
										                                     <th scope="col">项目状态</th>
										        						</thead>
										        						<tbody>
										        							 <tr>
									                                    		<th scope="row"><img src="img1/mastercard.png" width="50" height="50" alt="图片"/><b>射箭</b></th>
											                                    <td>
											                                        <b>188</b>
											                                    </td>
											                                    <td>
											                                    	张三
											                                    </td>
											                                    <td>已进行</td>
											                                </tr>
											                                 <tr>
									                                    		<th scope="row"><img src="img1/mastercard.png" width="50" height="50" alt="图片"/><b>射箭</b></th>
											                                    <td>
											                                        <b>188</b>
											                                    </td>
											                                    <td>
											                                    	张三
											                                    </td>
											                                    <td>已进行</td>
											                                </tr>
											                                 <tr>
									                                    		<th scope="row"><img src="img1/mastercard.png" width="50" height="50" alt="图片"/><b>射箭</b></th>
											                                    <td>
											                                        <b>188</b>
											                                    </td>
											                                    <td>
											                                    	张三
											                                    </td>
											                                    <td>已进行</td>
											                                </tr>
										        						</tbody>
			        											</table>
													</div>
												</div>
												<div class="panel panel-default ulist">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a data-toggle="collapse"  href="#checkout-collapse13">
															<span class="step">01</span>
																用户二
															</a>
														</h4>
													</div>
												</div>
												<div id="checkout-collapse13" class="panel-collapse collapse">
													<div id="checkout-collapse12" class="panel-collapse in">
															<table class="table">
								        						<thead>
								        							 <th scope="col">项目名称</th>
								                                     <th scope="col">项目价格</th>
								                                     <th scope="col">项目负责人</th>
								                                     <th scope="col">项目状态</th>
								        						</thead>
								        						<tbody>
								        							 <tr>
							                                    		<th scope="row"><img src="img1/mastercard.png" width="50" height="50" alt="图片"/><b>射箭</b></th>
									                                    <td>
									                                        <b>188</b>
									                                    </td>
									                                    <td>
									                                    	张三
									                                    </td>
									                                    <td>已进行</td>
									                                </tr>
									                                 <tr>
							                                    		<th scope="row"><img src="img1/mastercard.png" width="50" height="50" alt="图片"/><b>射箭</b></th>
									                                    <td>
									                                        <b>188</b>
									                                    </td>
									                                    <td>
									                                    	张三
									                                    </td>
									                                    <td>已进行</td>
									                                </tr>
									                                 <tr>
							                                    		<th scope="row"><img src="img1/mastercard.png" width="50" height="50" alt="图片"/><b>射箭</b></th>
									                                    <td>
									                                        <b>188</b>
									                                    </td>
									                                    <td>
									                                    	张三
									                                    </td>
									                                    <td>已进行</td>
									                                </tr>
								        						</tbody>
	        												</table>
													</div>
												</div>
												
										</div>
								
								</div>
								
						</div>
						<p>
							订单号:<span>Sb2222222</span>
							订单时间:<span>2019年12月1日 22:11:22</span>
							<span>个人订单</span>
						</p>	
						<div class="panel-group col-md-11 " id="checkout-collapse">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse"  href="#checkout-collapse5">
											<span class="step">02</span>
												订单二查询:SB2222222
											</a>
										</h4>
									</div>
								</div>
								<div id="checkout-collapse5" class="panel-collapse collapse">
												<div id="checkout-collapse7" class="panel-collapse in">
														<table class="table">
								        						<thead>
								        							 <th scope="col">项目名称</th>
								                                     <th scope="col">项目价格</th>
								                                     <th scope="col">项目负责人</th>
								                                     <th scope="col">项目状态</th>
								        						</thead>
								        						<tbody>
								        							 <tr>
							                                    		<th scope="row"><img src="img1/mastercard.png" width="50" height="50" alt="图片"/><b>射箭</b></th>
									                                    <td>
									                                        <b>188</b>
									                                    </td>
									                                    <td>
									                                    	张三
									                                    </td>
									                                    <td>已进行</td>
									                                </tr>
									                                 <tr>
							                                    		<th scope="row"><img src="img1/mastercard.png" width="50" height="50" alt="图片"/><b>射箭</b></th>
									                                    <td>
									                                        <b>188</b>
									                                    </td>
									                                    <td>
									                                    	张三
									                                    </td>
									                                    <td>已进行</td>
									                                </tr>
									                                 <tr>
							                                    		<th scope="row"><img src="img1/mastercard.png" width="50" height="50" alt="图片"/><b>射箭</b></th>
									                                    <td>
									                                        <b>188</b>
									                                    </td>
									                                    <td>
									                                    	张三
									                                    </td>
									                                    <td>已进行</td>
									                                </tr>
								        						</tbody>
	        											</table>	
												</div>
												<div id="checkout-collapse8" class="panel-collapse in">
													<table class="table">
						        						<thead>
						        							 <th scope="col">菜品名称</th>
						                                     <th scope="col">菜品价格</th>
						                                     <th scope="col">菜品数据</th>
						                                     <th scope="col">菜品总价</th>
						        						</thead>
						        						<tbody>
						        							 <tr>
					                                    		<th scope="row"><img src="img1/mastercard.png" width="50" height="50" alt="图片"/><b>小炒时蔬</b></th>
							                                    <td>
							                                        <b>122</b>
							                                    </td>
							                                    <td>
																	<b>2</b>
							                                    </td>
							                                    <td><b>244</b></td>
							                                </tr>
						        						</tbody>
						        					</table>
												</div>
												<div id="checkout-collapse9" class="panel-collapse in">
													<table class="table">
						        						<thead>
						        							 <th scope="col">房间名称</th>
						                                     <th scope="col">房间价格</th>
						                                     <th scope="col">房间类型</th>
						                                     <th scope="col">房间状态</th>
						        						</thead>
						        						<tbody>
						        							 <tr>
					                                    		<th scope="row"><img src="img1/mastercard.png" width="50" height="50" alt="图片"/><b>101</b></th>
							                                    <td>
							                                        <b>122</b>
							                                    </td>
							                                    <td>
																	<b>总统套房</b>
							                                    </td>
							                                    <td><b>正在入住</b></td>
							                                </tr>
						        						</tbody>
						        					</table>
												</div>
								</div>
						</div>
								
										
				</div>
						
			</div>
			
		</div>
		
<script th:src="@{/js1/minified.js}"></script>

<script>

</script>
	<script th:src="@{/js1/products.js}"></script>
	
</body>
</html>