<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>主页管理</title>
		<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/templatemo-style.css}">
		<style>
			.box .status {
				margin-left: 15px;
			}
			.box .sum {
				margin-left: 5px;
			}
			.box .time {
				margin-left: 15px;
			}
			.content {
				margin: 10px;
				color: white;
				padding: 10px 20px 10px 10px;
			}
			
			.dingdanhao {
				margin-left: 5px;
			}
			
			.box {
				width: 100%;
				padding: 0px 25px;
				margin: 10px;
			}
			
			.box .dingdanhead {
				margin-bottom: 10px;
				margin-top: 10px;
				height: 40px;
				padding: 0px 15px;
				border: 1px solid rgb(225,225,225);
			}
			
			.step {
				margin: 4px 5px 0px 0px;
				display: inline-block;
				border: 1px solid rgb(227, 227, 227);
				background-color: rgba(242, 242, 242, 0.2);
				border-radius: 50%;
				height: 30px;
				line-height: 30px;
				text-align: center;
				width: 30px;
			}
			
			.box .dingdanhead h4 a {
				color: white;
			}
			
			.box .dingdanhead:hover {
				background-color:#34CE57;
			}
			
			.box .dingdanhead h4 {
				height: 100%;
				line-height: 100%;
				color: white;
				font-size: 16px;
				margin-bottom: 0px;
			}
			
			#shuxing .form-group {
				padding-bottom: 10px;
			}
			
			.form-group p {
				color: white;
				margin-right: 10px;
			}
			
			.form-group [type='radio']+span {
				color: white;
			}
			
			.tm-block {
				padding: 40px;
				width: 975px;
				-webkit-box-shadow: 1px 1px 5px 0 #455c71;
				-moz-box-shadow: 1px 1px 5px 0 #455c71;
				box-shadow: 1px 1px 5px 0 #455c71;
				height: 100%;
			}
			.panel-collapse in {
				display: block;
			}
			.collapsed {
				display: none;
			}
			.team{
				color: #99ff99;
				margin-left: 10px;
			}
			#xz_ry .modal-body span{
				display: inline-block;
				width: 150px;
				text-align: center;
			}
		</style>
	</head>
	<body id="reportsPage">
		<div class="" id="home">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="text-white mt-5 mb-5"></p>
					</div>
				</div>
				<div class="row tm-content-row">
					<div class="col-12 tm-block-col">
						<div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll" style="width: 100%;">
							<h2 class="tm-block-title">订单列表</h2>
							<table class="table">
								<thead>
									<tr>
										<th scope="col">订单号</th>
										<th scope="col">订单状态</th>
										<th scope="col">订单生成时间</th>
										<th scope="col">客户姓名</th>
										<th scope="col">下单人</th>
										<th scope="col">&nbsp;</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="item:${list}">
										<th scope="row"><b th:text="${item.orderno}"></b></th>
										<td  th:text="${item.name1}">
											<div class="tm-status-circle moving">
											</div>
										</td>
										<td><b th:text="${#dates.format(item.ordertime, 'yyyy-MM-dd HH-mm-ss')}"></b></td>
										<td><b th:text="${item.user.uname}"></b></td>
										<td><b th:text="${item.staff.user.uname}"></b></td>
										<td>
											<input type="hidden" th:value="${item.id}">
											<a  data-target="#orderInfo" data-toggle="modal" style="color: white;" class="fa fa-info tm-product-delete-link info"></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<input type="button" class="btn btn-primary btn-block text-uppercase"
		              	 data-toggle="modal" data-target="#xz_ry" style="margin-top: 20px;"
		              	 value="新增订单"/>
				</div>
				<div class="modal fade bs-example-modal-lg" id="orderInfo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
					<div class="modal-dialog modal-lg" style="max-width: 80%;" role="document" > 
						<div class="modal-content" style="background-color: #435c70;color: white;">
							<div id="" class="modal-header">
								订单详情
							</div>
							<div id="" class="modal-body">
								<div class="box">
								</div>	
							</div>
							<div id="" class="modal-footer">
								<a class="btn btn-dark">提交</a>
								<a class="btn btn-primary" data-dismiss="modal">关闭</a>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="xz_ry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" style="max-width: 80%;text-align: center;">
				<div class="modal-content" style="background: #435c70;color: white;">
					<div class="modal-header">
						<h5 class="modal-title" id="myModalLabel">新增订单</h5>
					</div>
					<div class="modal-body" style="text-align: center;">
							<div>
								<span style="margin-left: 50px;margin-bottom:30px" name="ckprojectproduct">选择活动</span>
								<input type="radio" name="productOrProject" xz="1" style="width: 15px;height: 15px;" />
								<span style="margin-left: 70px;" name="ckprojectproduct">选择项目</span>
								<input type="radio" name="productOrProject" xz="2" style="width: 15px;height: 15px; " />
								<div name="hiddens"  hidden="hidden">
								<input type="text" class="form-control-sm" style="float: left;margin-left: 130px;" placeholder="活动名称"/>
								<input type="button"  style="border-radius: 30px 30px 30px 30px;width: 100px;float: left;margin-left: 50px;margin-bottom: 30px;" class="btn-primary" value="查询" />
								<table class="table table-hover tm-table-small tm-product-table" style="width:80%;margin:30px auto;">
					                <thead>
					                  <tr>
					                    <th scope="col">&nbsp;</th>
					                    <th scope="col">活动名称</th>
					                    
					                  </tr>
					                </thead>
					                <tbody class="proucttable" id="product_tbody">
					                  
					        		</tbody>
					             </table>									
								</div>
								<div name="hiddens"  hidden="hidden">
									<input type="text" class="form-control-sm" style="float: left;margin-left: 130px;" placeholder="项目名称"/>
									<input type="button" style="border-radius: 30px 30px 30px 30px;width: 100px;float: left;margin-left: 50px;margin-bottom: 30px;" class="btn-primary" value="查询" />
									<table class="table table-hover tm-table-small tm-product-table" style="width:80%;margin: 30px auto;">
					                <thead>
					                  <tr>
					                    <th scope="col">&nbsp;</th>
					                    <th scope="col">项目名称</th>
					                  </tr>
					                </thead>
					                <tbody class="proucttable" id="project_tbody">
					                  
					        		</tbody>
					              </table>
								</div>								
							</div>
							
							
							<div style="margin: 30px auto;" hidden="hidden" class="infoss">
								<span style="margin-left: 50px;">团队</span>
								<input type="radio" name="dd_radio" data="dd_radio" class="" style="width: 15px;height: 15px;" />
								<span style="margin-left: 70px;">个人</span>
								<input type="radio" name="dd_radio" data="gr_radio" style="width: 15px;height: 15px;" />
							</div>
							<div id="hide_dd" style="display: none;">
								<span style="margin-top: 20px;">请输入身份证号</span>
								<input type="text" style="margin-left: 20px;height: 30px;margin-top: 20px;width: 30%;" />
								<br>
								<button class="btn btn-primary show_pb" style="margin-top: 20px;margin-left: 25px;border-radius: 30px;">
									排班
								</button>
							</div>
							<div id="hide_ry" style="display: none;margin-top: 30px;">
								<div style="margin-top: 30px;">
								<span>请输入身份证号</span>
								<input  class="input-group-sm" style="width: 30%;" /><br>
								<br>
								
								<button class="btn btn-primary" calss="show_pb" style="margin-top: 20px;margin-left: 25px;border-radius: 30px;">
									排班
								</button>
								</div>
							</div>
					</div>
					
					<div id="hide_cc" style="display: none;margin-top: 30px">
								<h5>活动项目</h5>
								<table class="table table-hover tm-table-small tm-product-table"  style="margin-top: 20px;">
					                <thead id="look_product_project_thead">
					                  <tr>
					                  	<th>
					                  		项目名称
					                  	</th>
					                  	<th>状态</th>	
					                  	<th></th>
					                  	<th></th>
					                  </tr>	
					                 
					                </thead>
					               
				             	</table>
							</div>
					<div id="hide_jd" style="margin-top: 50px;display: none;display: none;">
						<div class="col-lg-6">
							<h4>选择基地</h4>
							<input type="text" class="form-control-sm" placeholder="基地名称"/>
							<input type="button" id="" style="border-radius: 30px 30px 30px 30px;width: 100px;margin-left: 100px;" class="btn-primary" value="查询" />
							<table class="table" style="margin-top: 20px;">
								<thead>
									<tr>
										<th>基地名称</th>
										<th></th>
									</tr>
								</thead>
								<tbody id="project_jd_table">
									
								</tbody>
							</table>
						</div>
						<div class="col-lg-6">
							<h4>安排人员</h4>
							<select class="form-control-sm" style="width: 186px;">
								<option>
									教练
								</option>
								<option>
									助理
								</option>
							</select>
							<input type="button" id="" style="border-radius: 30px 30px 30px 30px;width: 100px;margin-left: 100px;" class="btn-primary" value="查询" />
							<table class="table" style="margin-top: 20px;">
								<thead>
									<tr>
										<th>人员名称</th>
										<th></th>
									</tr>
								</thead>
								<tbody id="look_Staff_tbody">
									
								</tbody>
							</table>
						</div>
					</div>
					
					<div id="hide_project_time" style="display: none;margin-top: 50px;">
						<span style="margin-left: 100px;">筛选时间</span>
						<input type="datetime-local" placeholder="开始时间" style="margin-left: 20px;"/>
			        	<span style="color: white;margin-left: 20px;">~</span>
			        	<input type="datetime-local" placeholder="结束时间" style="margin-left: 20px;"/>
			        	<input type="button" id="" style="border-radius: 30px 30px 30px 30px;width: 100px;margin-left: 100px;" class="btn-primary" value="查询" />
						<table class="table" style="margin-top: 20px;width: 80%;margin-left: 10%;">
							<thead>
								<tr>
									<th>开始时间</th>
									<th>结束时间</th>
									<th>空位</th>
									<th>人数</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr tid="1">
									<td>2019-03-28 9:30</td>
									<td>2019-03-28 10:30</td>
									<td>30</td>
									<td>
										<input type="text" placeholder="输入人数" value=""/>
									</td>
									<td><input type="checkbox" name="lr_time_ck"></td>
								</tr>
								<tr tid="2">
									<td>2019-03-28 9:30</td>
									<td>2019-03-28 10:30</td>
									<td>30</td>
									<td>
										<input type="text" placeholder="输入人数" value=""/>
									</td>
									<td><input type="checkbox" name="lr_time_ck"></td>
								</tr>
								<tr tid="3">
									<td>2019-03-28 9:30</td>
									<td>2019-03-28 10:30</td>
									<td>30</td>
									<td>
										<input type="text" placeholder="输入人数" value=""/>
									</td>
									<td><input type="checkbox" name="lr_time_ck"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div id="show_time_yy">
						<table>
							
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary">提交</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
				</div>
			</div>
		</div>
		<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js/moment.min.js}"></script>
		<script th:src="@{/js/Chart.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
    	<script th:src="@{/jquery-ui-datepicker/jquery-ui.min.js}"></script>
    	<script th:src="@{/js/vue.js}"></script>
		<script th:line="javascript" >
			$(".info").click(function(){
				var id=$(this).prev().val();
				$.post("queryById?id="+id+"",function(data){
						$(".box").text("");
						var div1=$("<div class='dingdanhead'></div>");
						var h41=$("<h4></h4>");
						var timestamp= new Date(data.ordertime);
						timestamp=timestamp.toLocaleDateString().replace(/\//g, "-")+ " " + timestamp.toTimeString().substr(0, 8); 
						var a1=$("<a data-toggle='collase'  href='#checkout-collapse4'><span class='step'>1</span><span>订单:<span><span class='dingdanhao'>"+data.orderno+"</span></a>");	
						var span1=$("<span class='time'>订单时间:</span><span>"+timestamp+"</span>");
    					var span2=$("<span class='status'>订单状态：</span><span>"+data.name1+"</span>");
    					var span4=$("<span class='team'>"+data.name2+"</span>");
						var price=0;
						if(data.name2=="个人"){
								var div=$("<div class='content col-md-12 collapsed' id='checkout-collapse4'></div>");
								var divh;
								var divh1;
								var div2;
								var div3;
								var div4;
								$.each(data.user.orders,function(index1,item1){
										$.each(item1.list,function(index2,item2){
											if(item2.typeid==1||item2.typeid==5){
												var divh2=$("<div class='content col-md-11'></div>");
												var divhtable=$("<table class='table'><thead>"
												+"<th scope='col'>项目名称</th>"
												+"<th scope='col'>项目地点</th>"
												+"<th scope='col'>项目时间</th>"
												+"<th scope='col'>项目价格</th>"
												+"<th scope='col'>项目负责人</th>"
												+"<th scope='col'>项目状态</th></thead></table>");
												var divtbody=$("<tbody></tbody>");
												if(item2.typeid==1){
													var fzr;
													$.each(item2.ix.list[0].list,function(indexs,is){
														if(is.staff.postionid==1){
															fzr=is.staff.user.uname;
														}
													})
													var timestamp4= new Date(item2.ix.list[0].starttime);
													timestamp4=timestamp4.toLocaleDateString().replace(/\//g, "-")+ " " + timestamp4.toTimeString().substr(0, 8); 
													var timestamp5= new Date(item2.ix.list[0].endtime);
													timestamp5=timestamp5.toLocaleDateString().replace(/\//g, "-")+ " " + timestamp5.toTimeString().substr(0, 8); 
													price+=item2.ix.list[0].project.price;
													var divtr=$("<tr>"
															+"<th scope='row'><img src='[[@{/img/product-image.jpg}]]' width='50' height='50' alt='图片'/><b>"+item2.ix.list[0].project.pname+"</b></th>"
															+"<td><b>"+item2.ix.list[0].area.area.aname+"</b></td>"
															+"<td><b>"+timestamp4+"-"+timestamp5+"</b></td>"
															+"<td><b>"+item2.ix.list[0].project.price+"</b></td>"
															+"<td>"+fzr+"</td>"
															+"<td>进行中</td></tr>");
													$(divtbody).append(divtr);
												}else{
													$.each(item2.ix.list,function(index3,item3){
														var fzr;
														$.each(item3.list,function(indexs,is){
															if(is.staff.postionid==1){
																fzr=is.staff.user.uname;
															}
														})
														var timestamp4= new Date(item3.starttime);
														timestamp4=timestamp4.toLocaleDateString().replace(/\//g, "-")+ " " + timestamp4.toTimeString().substr(0, 8); 
														var timestamp5= new Date(item3.endtime);
														timestamp5=timestamp5.toLocaleDateString().replace(/\//g, "-")+ " " + timestamp5.toTimeString().substr(0, 8); 
														price+=item3.project.price;
														var divtr=$("<tr>"
																+"<th scope='row'><img src='[[@{/img/product-image.jpg}]]' width='50' height='50' alt='图片'/><b>"+item3.project.pname+"</b></th>"
																+"<td><b>"+item3.area.area.aname+"</b></td>"
																+"<td><b>"+timestamp4+"至"+timestamp5+"</b></td>"
																+"<td><b>"+item3.project.price+"</b></td>"
																+"<td>"+fzr+"</td>"
																+"<td>进行中</td></tr>");
														$(divtbody).append(divtr);
													})
												}
												$(divhtable).append(divtbody);
												$(divh2).append(divhtable);
												div2=divh2;
											}
											if(item2.typeid==2){
												var divs=$("<div class='content col-md-11'></div>")
													var divtable=$("<table class='table'>"
													    +"<thead>"
														+"<th scope='col'>菜品名称</th>"
														+"<th scope='col'>菜品价格</th>"
														+"<th scope='col'>菜品数据</th>"
														+"<th scope='col'>菜品总价</th>"
														+"</thead>");
													var divbody=$("<tbody></tbody>");
													$.each(item1.list,function(item2,index2){
														var tr=$("<tr>"
														+"<th scope='row'><img src='img/product-image.jpg' width='50' height='50' alt='图片' /><b>{{item2.ix.mname}}</b></th>"
														+"<td><b>{{item2.price}}</b></td>"
														+"<td><b>{{item2.name2}}</b></td>"
														+"<td><b>￥{{item2.name2*item2.price}}</b></td>"
														+"</tr>");
														$(divbody).append(tr);
													})
													$(divtable).append(divbody);
													$(divs).append(divtable);
													div3=divs;
											}
											if(item2.typeid==3){
												var div=$("<div class='content col-md-11'></div>");
												var table=$("<table class='table'><thead><th scope='col'>房间名称</th><th scope='col'>房间价格</th><th scope='col'>房间类型</th><th scope='col'>房间状态</th></thead></table>");
												var tbody=$("<tbody></tbody>");
												$.each(item1.list,function(item2,index){
													var tr=$("<tr>"
													+"<th scope='row'><img src='img/product-image.jpg' width='50' height='50' alt='图片' /><b>{{item2.ix.mname}}</b></th>"
													+"<td><b>{{item2.price}}</b></td>"
													+"<td><b>{{item2.name2}}</b></td>"
													+"<td><b>￥{{item2.name2*item2.price}}</b></td>"
													+"</tr>");
													$(tbody).append(tr);
												})
												$(table).append(tbody);
												$(div).append(table);
												div4=div;
											}
										})
									})
									divh=$("<div class='dingdanhead'><h4><a data-toggle='collase'  href='#checkout-collapses5'><span class='step'>01</span><span>个人订单</span></a></h4></div>");
									divh1=$("<div class='content col-md-12 collapsed' id='checkout-collapses5'></div>");
								
									$(divh1).append(div2).append(div3).append(div4);
									$(div).append(divh).append(divh1);
			    					var span3=$("<span class='sum'>订单总价:</span><span>"+price+"</span>");
									$(h41).append(a1).append(span1).append(span2).append(span3).append(span4);
			    					$(div1).append(h41);
									$(".box").append(div1).append(div);
						}else{
							var div=$("<div class='content col-md-12 collapsed' id='checkout-collapse4'></div>");
							var divh;
							var divh1;
							$.each(data.list,function(index,item){
								var div2;
								var div3;
								var div4;
								$.each(item.orders,function(index1,item1){
									$.each(item1.list,function(index2,item2){
										if(item2.typeid==1||item2.typeid==5){
											var divh2=$("<div class='content col-md-11'></div>");
											var divhtable=$("<table class='table'><thead>"
											+"<th scope='col'>项目名称</th>"
											+"<th scope='col'>项目地点</th>"
											+"<th scope='col'>项目时间</th>"
											+"<th scope='col'>项目价格</th>"
											+"<th scope='col'>项目负责人</th>"
											+"<th scope='col'>项目状态</th></thead></table>");
											var divtbody=$("<tbody></tbody>");
											if(item2.typeid==1){
												var fzr;
												$.each(item2.ix.list[0].list,function(indexs,is){
													if(is.staff.postionid==1){
														fzr=is.staff.user.uname;
													}
												})
												price+=item2.ix.project.price;
												var timestamp4= new Date(item2.ix.list[0].starttime);
												timestamp4=timestamp4.toLocaleDateString().replace(/\//g, "-")+ " " + timestamp4.toTimeString().substr(0, 8); 
												var timestamp5= new Date(item2.ix.list[0].endtime);
												timestamp5=timestamp5.toLocaleDateString().replace(/\//g, "-")+ " " + timestamp5.toTimeString().substr(0, 8); 
												var divtr=$("<tr>"
														+"<th scope='row'><img src='[[@{/img/product-image.jpg}]]' width='50' height='50' alt='图片'/><b>"+item2.ix.project.pname+"</b></th>"
														+"<td><b>"+item2.ix.list[0].area.area.aname+"</b></td>"
														+"<td><b>"+timestamp4+"-"+timestamp5+"</b></td>"
														+"<td><b>"+item2.ix.list[0].project.price+"</b></td>"
														+"<td>"+fzr+"</td>"
														+"<td>进行中</td></tr>");
												$(divtbody).append(divtr);
											}else{
												$.each(item2.ix.list,function(index3,item3){
													var fzr;
													$.each(item3.list,function(indexs,is){
														if(is.staff.postionid==1){
															fzr=is.staff.user.uname;
														}
													})
													var timestamp4= new Date(item3.starttime);
													timestamp4=timestamp4.toLocaleDateString().replace(/\//g, "-")+ " " + timestamp4.toTimeString().substr(0, 8); 
													var timestamp5= new Date(item3.endtime);
													timestamp5=timestamp5.toLocaleDateString().replace(/\//g, "-")+ " " + timestamp5.toTimeString().substr(0, 8); 
													price+=item3.project.price;
													var divtr=$("<tr>"
															+"<th scope='row'><img src='[[@{/img/product-image.jpg}]]' width='50' height='50' alt='图片'/><b>"+item3.project.pname+"</b></th>"
															+"<td><b>"+item3.area.area.aname+"</b></td>"
															+"<td><b>"+timestamp4+"至"+timestamp5+"</b></td>"
															+"<td><b>"+item3.project.price+"</b></td>"
															+"<td>"+fzr+"</td>"
															+"<td>进行中</td></tr>");
													$(divtbody).append(divtr);
												})
											}
											$(divhtable).append(divtbody);
											$(divh2).append(divhtable);
											div2=divh2;
										}
										if(item2.typeid==2){
											var divs=$("<div class='content col-md-11'></div>")
												var divtable=$("<table class='table'>"
												    +"<thead>"
													+"<th scope='col'>菜品名称</th>"
													+"<th scope='col'>菜品价格</th>"
													+"<th scope='col'>菜品数据</th>"
													+"<th scope='col'>菜品总价</th>"
													+"</thead>");
												var divbody=$("<tbody></tbody>");
												$.each(item1.list,function(item2,index2){
													var tr=$("<tr>"
													+"<th scope='row'><img src='img/product-image.jpg' width='50' height='50' alt='图片' /><b>{{item2.ix.mname}}</b></th>"
													+"<td><b>{{item2.price}}</b></td>"
													+"<td><b>{{item2.name2}}</b></td>"
													+"<td><b>￥{{item2.name2*item2.price}}</b></td>"
													+"</tr>");
													$(divbody).append(tr);
												})
												$(divtable).append(divbody);
												$(divs).append(divtable);
												div3=divs;
										}
										if(item2.typeid==3){
											var div=$("<div class='content col-md-11'></div>");
											var table=$("<table class='table'><thead><th scope='col'>房间名称</th><th scope='col'>房间价格</th><th scope='col'>房间类型</th><th scope='col'>房间状态</th></thead></table>");
											var tbody=$("<tbody></tbody>");
											$.each(item1.list,function(item2,index){
												var tr=$("<tr>"
												+"<th scope='row'><img src='img/product-image.jpg' width='50' height='50' alt='图片' /><b>{{item2.ix.mname}}</b></th>"
												+"<td><b>{{item2.price}}</b></td>"
												+"<td><b>{{item2.name2}}</b></td>"
												+"<td><b>￥{{item2.name2*item2.price}}</b></td>"
												+"</tr>");
												$(tbody).append(tr);
											})
											$(table).append(tbody);
											$(div).append(table);
											div4=div;
										}
									})
							})
							if(item.id==data.user.id){
								divh=$("<div class='dingdanhead'><h4><a data-toggle='collase'  href='#checkout-collapse0'><span class='step'>01</span><span>负责人订单</span></a></h4></div>");
								divh1=$("<div class='content col-md-12 collapsed' id='checkout-collapse0'></div>");
								$(divh1).append(div2).append(div3).append(div4);
								$(div).append(divh).append(divh1);
							}else{
								divh=$("<div class='dingdanhead'><h4><a data-toggle='collase'  href='#checkout-collapses"+index+"'><span class='step'>01</span><span>队员名称</span></a></h4></div>");
								divh1=$("<div class='content col-md-12 collapsed' id='checkout-collapses"+index+"'></div>");
								$(divh1).append(div2).append(div3).append(div4);
								$(div).append(divh).append(divh1);
							}
								var span3=$("<span class='sum'>订单总价:</span><span>"+price+"</span>");
								$(h41).append(a1).append(span1).append(span2).append(span3).append(span4);
		    					$(div1).append(h41);
								$(".box").append(div1);
								$(".box").append(div);
							})
						}
						},"json");
			})
			$("[name='productOrProject']").click(function(){
				var index=$("[name='productOrProject']").index($(this));
				$("[name='hiddens']").attr("hidden","hidden");
				$("[name='hiddens'] input[type='checkbox']").prop("checked",false);
				$("[name='hiddens']:eq("+index+")").removeAttr("hidden");
			})
			$("[name='hiddens'] tr input").change(function(){
				if(this.checked){
					$(".infoss").removeAttr("hidden");					
				}else{
					$(".infoss").attr("hidden","hidden");										
				}
			})
			$(".proucttable tr:even td:last-child").click(function(){
				
			})
			//判断 是否已显示 如果显示 则取消显示      .panel-collapse in  显示
			$(document).on("click", "[data-toggle='collase']", function() {
				var href = $(this).attr("href");
				href = href.substring(1, href.length);
				if($("[id='" + href + "']").hasClass("panel-collapse in")) {
					$("[id=" + href + "]").removeClass("panel-collapse in");
					$("[id=" + href + "]").addClass("collapsed");
					return;
				} else {
					$("[id=" + href + "]").removeClass("collapsed");
					$("[id=" + href + "]").addClass("panel-collapse in");
				}
			})
		</script>
		<script>
      $(function() {
      	var pid;
      	var ry_dt;
      	var jd_name;
        $("#expire_date").datepicker({
          defaultDate: "10/22/2020"
        });
        $("[type=submit]").click(function(){
			location.href="orders.html";
		})
		$("#tj").click(function(){
			var new_sj=$(this).parents("tr").clone(true);
			new_sj.find("[type=text]").val("");
			$("#ry_tb_body").append(new_sj);
		})
		$("#yc").click(function(){
			var tr_length=$(".ry_tb_body_tr").length;
			if(tr_length==1){
				alert("已经是最后一个了,不能删除");
			}else{
				$(this).parents("tr").remove();
			}
		});
		$("[data=dd_radio]").click(function(){
			if(true){
				$("#hide_dd").css("display","block");
			}
			$("#hide_ry").css("display","none");
		});
		$("[data=gr_radio]").click(function(){
			if(true){
				$("#hide_ry").css("display","block");
			}
			$("#hide_dd").css("display","none");
		});
		
		
		
		/* $(".show_project_time").click(function(){
			
			
		}) */
		
		
		
		
		
		var xzid;
		
		$("[name=productOrProject]").click(function(){
			xzid=$(this).attr("xz");
			
			if(xzid==1){
				$.ajax({
					url:"query_Product",
					type:"post",
					dataType:"json",
					success:function(result){
						console.log(result);
						$("#product_tbody").html(""); 
						$.each(result,function(i,obj){
							var dt=$("<tr>"+
				                    "<th scope='row'><input pid='"+obj.id+"' type='radio' name='look_product'/></th>"+
				                    "<td class='tm-product-name'>"+obj.pname+"</td>"+
				                  "</tr>"+
				                  "<tr hidden='hidden'>"+
				                  "</tr>");
							$("#product_tbody").append(dt);
						})
					}
				});
			}else if(xzid==2){
				$("#hide_cc").css("display","none");
				$.ajax({
					url:"query_Project",
					type:"post",
					dataType:"json",
					success:function(result){
						$("#project_tbody").html(""); 
						$.each(result,function(i,obj){
							var dt=$(" <tr>"+
										"<td scope='row'><input type='radio' name='look_project'/></td>"+
				                    	"<td class='tm-product-name'>"+obj.pname+"</td>"+
				                    "</tr>")
					                    $("#project_tbody").append(dt);
						})
					}
				});
			}
		})
		$("#product_tbody").on("click","[name=look_product]",function(){
			var pid=$(this).attr("pid");
			$(".infoss").removeAttr("hidden");
			$.ajax({
				url:"/xjb_productController/queryByProdId?productId="+pid,
				type:"post",
				dataType:"json",
				success:function(result){
					var product_project_dt;
					$("#look_product_project_thead").html("");
					$.each(result,function(i,obj){
						if(obj.pro.pstatus==1){
							product_project_dt=$("<tr>"+
				                    "<td scope='col'>"+obj.pro.pname+"</td>"+
				                    "<td scope='col'>开放</td>"+
				                    "<td scope='col'>"+
				                    	 "<div style='height: 20px;width: 20px;border-radius: 50%;>"+
				                      	"border: 1px solid orange;background: orange;text-align: center;'>"+
				                      	"<a style='color: white;' class='show_jd' pid='"+obj.pro.id+"'>+</a>"+
				                      "</div>"+
				                    "</td>"+
				                     "<td></td>"+
				                 "</tr>")
	                    }else if(obj.pro.pstatus==2){
	                    	product_project_dt=$("<tr>"+
				                    "<td scope='col'>"+obj.pro.pname+"</td>"+
				                    "<td scope='col'>维修</td>"+
				                    "<td scope='col'>"+
				                    	 "<div style='height: 20px;width: 20px;border-radius: 50%;>"+
				                      	"border: 1px solid orange;background: orange;text-align: center;'>"+
				                      	"<a style='color: white;' class='show_jd' pid='"+obj.pro.id+"'>+</a>"+
				                      "</div>"+
				                    "</td>"+
				                     "<td></td>"+
				                 "</tr>")
	                    }else if(obj.pro.pstatus==3){
	                    	product_project_dt=$("<tr>"+
				                    "<td scope='col'>"+obj.pro.pname+"</td>"+
				                    "<td scope='col'>检测</td>"+
				                    "<td scope='col'>"+
				                    	 "<div style='height: 20px;width: 20px;border-radius: 50%;>"+
				                      	"border: 1px solid orange;background: orange;text-align: center;'>"+
				                      	"<a style='color: white;' class='show_jd' pid='"+obj.pro.id+"'>+</a>"+
				                      "</div>"+
				                    "</td>"+
				                     "<td></td>"+
				                 "</tr>")
	                    }
						$("#look_product_project_thead").append(product_project_dt);
					})
				}
			});
		})
		
		$("#look_product_project_thead").on("click",".show_jd",function(){
			$("#hide_jd").css("display","flex");
			pid=$(this).attr("pid");
			$(this).html("-");
			$.ajax({
				url:"/xjb_projectController/queryJd?pid="+pid,
				type:"post",
				dataType:"json",
				success:function(result){
					console.log(result);
					$.each(result,function(i,obj){
						var jd_dt=$("<tr>"+
								"<td>"+obj.area.aname+"</td>"+
								"<td scope='col'>"+
				                    	"<div style='height: 20px;width: 20px;border-radius: 50%;"+
				                      "border: 1px solid orange;background: orange;text-align: center;'>"+
				                      "<a style='color: white;' class='show_project_time'>+</a>"+
				                     "</div>"+
				                   "</td>"+
							"</tr>") 
							
						$("#project_jd_table").append(jd_dt);
					})
					
				}
			});
			$.ajax({
				url:"projectOrder_queryStaff",
				type:"psot",
				dataType:"json",
				success:function(result){
					console.log(result);
					$.each(result,function(i,obj){
						$.each(obj.stalist,function(k,obj1){
									var dt=$("<tr>"+
											"<td>"+obj1.user.uname+"</td>"+
											"<td scope='col'>"+
						                    	 "<input type='checkbox' name='ck_ry'/>"+
						                    "</td>"+
										"</tr>")
									$("#look_Staff_tbody").append(dt);
								
							
						})
					})
				}
			});
		})
		
		$("#look_Staff_tbody").on("click","[name=ck_ry]",function(){
			if (this.checked) {
				var ry_name=$(this).parents("tr").find("td:eq(0)").html();
				/* ry_dt=$("<tr><td>"+ry_name+"</td></tr>");*/
				if(document.querySelector("tr[pid='"+pid+"x']")==null){
					ry_dt=$("<tr></tr>");
					ry_dt.attr("pid",pid+"x");
					ry_dt.append("<td>"+ry_name+"</td>");
					$("[pid='"+pid+"']").parents("tr").after(ry_dt);
				}else{
					ry_dt=$("[pid='"+pid+"x']");
					var td=$("<td>"+ry_name+"</td>");
					ry_dt.append(td);
				}
			}else{
				
			}
			
		})
		
		$("#project_jd_table").on("click",".show_project_time",function(){

			jd_name=$(this).parents("tr").find("td:eq(0)").html();
			
			$("#hide_project_time").css("display","block");
			$(this).html("-");
		})
			
		/* 
		$("#project_tbody").on("click","[name=look_project]",function(){
			$(".infoss").removeAttr("hidden");
		}) */
		
		$(".show_pb").click(function(){
			if(xzid==1){
				$("#hide_cc").css("display","block");
				
			}
			
		})
		
		$("[name=lr_time_ck]").click(function(){
			var tid=$(this).parents("tr").attr("tid");
			var thead=$("[pid='"+pid+"']").parents("thead"); 
			var jia_tr=$(thead).find("tr[tid='"+tid+"']").html();
			var zhen_tr=$(thead).find("tr[tid='"+tid+"']");
			var rs=$(this).parents("tr").find("td:eq(3)").children("input").val();
			var kw=$(this).parents("tr").find("td:eq(2)").html();
			var kw1=kw-rs;
			if($(this).parent("td").prev("td").find("input").val()==""){
				alert("您还没有输入人数");
				this.checked=false;
			}else if(jia_tr==null){
				if(kw1<0){
					alert("人数不能大于空位");
					this.checked=false;
				}else{
					if(this.checked){
						$(this).parents("tr").find("td:eq(2)").html(kw1);
						var dt=$("<tr tid='"+tid+"'>"+
								"<td style='color: orange;'>"+jd_name+"</td>"+
			                	"<td>"+$(this).parents("tr").find("td:eq(0)").html()+"</td>"+
			                	"<td>"+$(this).parents("tr").find("td:eq(1)").html()+"</td>"+
			                	"<td>"+kw1+"</td>"+
			                	"<td>"+rs+"</td>"+
			                "</tr>");
			       		if(document.querySelector("[pid='"+pid+"y']")==null){
							var ry_dt1=$("<tr></tr>");
							ry_dt1.attr("pid",pid+"y");
							$("[pid='"+pid+"x']").after(ry_dt1);
							$(ry_dt1).after(dt);
						}else{
							
							var ry_dt1=$("[pid='"+pid+"y']");
							$(ry_dt1).after(dt);
						}
			       	}
				}
			}else{
			       		var dt_rs=$(zhen_tr).find("td:eq(3)").html();
			       		var dt_kw=$(zhen_tr).find("td:eq(2)").html();
			       		var dt_rs1=parseInt(dt_kw)+parseInt(dt_rs);
			       		$(this).parents("tr").find("td:eq(2)").html(dt_rs1);
			       		$(this).parents("tr").find("td:eq(3)").children("input").val("");
			       		$(thead).find("tr[tid='"+tid+"']").remove();
			}
		})
     });
    </script>

	</body>

</html>