<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>主页管理</title>
		<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/templatemo-style.css}">
		<style>
			.box .status {
				margin-left: 15px;
			}
			.box .sum {
				margin-left: 5px;
			}
			.box .time {
				margin-left: 15px;
			}
			.content {
				margin: 10px;
				color: white;
				padding: 10px 20px 10px 10px;
			}
			
			.dingdanhao {
				margin-left: 5px;
			}
			
			.box {
				width: 100%;
				padding: 0px 25px;
				margin: 10px;
			}
			
			.box .dingdanhead {
				margin-bottom: 10px;
				margin-top: 10px;
				height: 40px;
				padding: 0px 15px;
				border: 1px solid rgb(225,225,225);
			}
			
			.step {
				margin: 4px 5px 0px 0px;
				display: inline-block;
				border: 1px solid rgb(227, 227, 227);
				background-color: rgba(242, 242, 242, 0.2);
				border-radius: 50%;
				height: 30px;
				line-height: 30px;
				text-align: center;
				width: 30px;
			}
			
			.box .dingdanhead h4 a {
				color: white;
			}
			
			.box .dingdanhead:hover {
				background-color:#34CE57;
			}
			
			.box .dingdanhead h4 {
				height: 100%;
				line-height: 100%;
				color: white;
				font-size: 16px;
				margin-bottom: 0px;
			}
			
			#shuxing .form-group {
				padding-bottom: 10px;
			}
			
			.form-group p {
				color: white;
				margin-right: 10px;
			}
			
			.form-group [type='radio']+span {
				color: white;
			}
			
			.tm-block {
				padding: 40px;
				width: 975px;
				-webkit-box-shadow: 1px 1px 5px 0 #455c71;
				-moz-box-shadow: 1px 1px 5px 0 #455c71;
				box-shadow: 1px 1px 5px 0 #455c71;
				height: 100%;
			}
			.panel-collapse in {
				display: block;
			}
			.collapsed {
				display: none;
			}
			.team{
				color: #99ff99;
				margin-left: 10px;
			}
			#xz_ry .modal-body span{
				display: inline-block;
				width: 150px;
				text-align: center;
			}
			[name='Hiddens']{
				height:300px;
				overflow: scroll;
				overflow-x:hidden;
			}
		</style>
	</head>
	<body id="reportsPage">
		<div class="" id="home">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="text-white mt-5 mb-5"></p>
					</div>
				</div>
				<div class="row tm-content-row">
					<div class="col-12 tm-block-col">
						<div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll" style="width: 100%;">
							<h2 class="tm-block-title">订单列表</h2>
							<table class="table">
								<thead>
									<tr>
										<th scope="col">订单号</th>
										<th scope="col">订单状态</th>
										<th scope="col">订单生成时间</th>
										<th scope="col">客户姓名</th>
										<th scope="col">下单人</th>
										<th scope="col">&nbsp;</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="item:${list}">
										<th scope="row"><b th:text="${item.orderno}"></b></th>
										<td  th:text="${item.name1}">
											<div class="tm-status-circle moving">
											</div>
										</td>
										<td><b th:text="${#dates.format(item.ordertime, 'yyyy-MM-dd HH-mm-ss')}"></b></td>
										<td><b th:text="${item.user.uname}"></b></td>
										<td><b th:text="${item.staff.user.uname}"></b></td>
										<td>
											<input type="hidden" th:value="${item.id}">
											<a  data-target="#orderInfo" data-toggle="modal" style="color: white;" class="fa fa-info tm-product-delete-link info urls" uri="order/queryById"></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<input type="button" class="btn btn-primary btn-block text-uppercase"
		              	 data-toggle="modal" data-target="#orderAdd" style="margin-top: 20px;"
		              	 value="新增订单"/>
				</div>
				<div class="modal fade bs-example-modal-lg" id="orderInfo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
					<div class="modal-dialog modal-lg" style="max-width: 80%;" role="document" > 
						<div class="modal-content" style="background-color: #435c70;color: white;">
							<div id="" class="modal-header">
								订单详情
							</div>
							<div id="" class="modal-body">
								<div class="box">
								</div>	
							</div>
							<div id="" class="modal-footer">
								<a class="btn btn-dark">提交</a>
								<a class="btn btn-primary" data-dismiss="modal">关闭</a>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade bs-example-modal-lg" id="orderAdd" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
					<div class="modal-dialog modal-lg" style="max-width: 80%;" role="document" > 
						<div class="modal-content" style="background-color: #435c70;color: white;">
							<div id="" class="modal-header">
								新增订单
							</div>
							<div class="modal-body" style="text-align: center;">
									<div id="checkboxs">
											<span style="margin-left: 50px;margin-bottom:30px" name="ckprojectproduct">选择活动</span>
											<input type="radio" name="productOrProject" style="width: 15px;height: 15px;" />
											<span style="margin-left: 70px;" name="ckprojectproduct">选择项目</span>
											<input type="radio" name="productOrProject"  style="width: 15px;height: 15px;" />
											<span  style="margin-left: 50px;" name="checkgood">选择餐饮</span>
											<input type="radio" name="productOrProject"  style="width: 15px;height: 15px;" />
											<span style="margin-left: 70px;" name="checkhotel">选择住宿</span>
											<input type="radio" name="productOrProject"  style="width: 15px;height: 15px;" />											
											<div name="Hiddens" id="hd" style="display: none;">
												<table class="table table-hover tm-table-small tm-product-table" style="width:100%;margin:30px auto;">
									                <thead>
									                  <tr>
									                    <th scope="col">&nbsp;</th>
									                    <th scope="col">活动名称</th>
									                    <th scope="col">活动详情</th>
									                  </tr>
									                </thead>
									                <tbody>
									                  	<tr th:each="item:${productlist}">
									                  		<td scope="col" ><input type="checkbox" name="productid" th:value="${item.id}"></td>
									                  		<td scope="col" th:text="${item.pname}"></td>
									                  		<td scope="col" th:text="${item.content}"></td>
									                  	</tr>
									        		</tbody>
									             </table>
											</div>
											<div name="Hiddens" style="display: none;">
												<table class="table table-hover tm-table-small tm-product-table" style="width:100%;margin: 30px auto;">
								               		<thead>
									                  <tr>
									                    <th scope="col">&nbsp;</th>
									                    <th scope="col">项目名称</th>
									                     <th scope="col">描述</th>
									                  </tr>
								                  </thead>
								                  <tbody class="xm">
								                  	<tr th:each="item:${projectlist}">
								                  		<td scope="col" ><input type="checkbox" name="productid" th:value="${item.id}"></td>
								                  		<td scope="col" th:text="${item.pname}"></td>
								                  		<td scope="col" th:text="${item.description}"></td>
								                  	</tr>
								                  	</tbody>
								              </table>
											</div>								
											<div name="Hiddens" style="display: none;">
												<table class="table table-hover tm-table-small tm-product-table" style="width:100%;margin: 30px auto;">
								               	 <thead>
								                  <tr>
								                    <th scope="col">&nbsp;</th>
								                    <th scope="col">餐品名称</th>
								                     <th scope="col">描述</th>
								                  </tr>
								                  </thead>
								                  <tbody>
								                  	<tr th:each="item:${goodlist}">
								                  		<td scope="col" ><input type="checkbox" name="productid" th:value="${item.id}"></td>
								                  		<td scope="col" th:text="${item.mname}"></td>
								                  		<td scope="col" th:text="${item.intorduce}"></td>
								                  	</tr>
								                  </tbody>
								              </table>
											</div>								
											<div name="Hiddens" style="display: none;">
												<table class="table table-hover tm-table-small tm-product-table" id="project-table" style="width:100%;margin: 30px auto;">
								               	<thead>
								                  <tr>
								                    <th scope="col">&nbsp;</th>
								                    <th scope="col">房间名称</th>
								                     <th scope="col">描述</th>
								                  </tr>
								                </thead>
								                <tbody>
								                  	<tr th:each="item:${hotellist}">
								                  		<td scope="col" ><input type="checkbox" name="productid" th:value="${item.id}"></td>
								                  		<td scope="col" th:text="${item.rname}"></td>
								                  		<td scope="col" th:text="${item.introduce}"></td>
								                  	</tr>
								                </tbody>
								              </table>
										</div>								
										<table class="table table-hover tm-table-small tm-product-table" id="boxorder" style="width:100%;margin: 30px auto;">
										</table>
										<input type="button" style="display:none;" class="addsorder btn btn-primary btn-block text-uppercase"
							             value="生成排班"/>
							             <div id="paiban" style="display:none">
							             		
							             </div>
									</div>
							</div>
							<div id="" class="modal-footer">
								<a class="btn btn-dark">提交</a>
								<a class="btn btn-primary" data-dismiss="modal">关闭</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js/moment.min.js}"></script>
		<script th:src="@{/js/Chart.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
    	<script th:src="@{/jquery-ui-datepicker/jquery-ui.min.js}"></script>
    	<script th:src="@{/js/vue.js}"></script>
    	<script th:src="@{/js/Url.js}"></script>
		<script th:line="javascript" >
			var price;
			function personProject(data){
				var divh2=$("<div class='content col-md-11'></div>");
				var divhtable=$("<table class='table'><thead>"
				+"<th scope='col'>项目名称</th>"
				+"<th scope='col'>项目地点</th>"
				+"<th scope='col'>项目时间</th>"
				+"<th scope='col'>项目价格</th>"
				+"<th scope='col'>项目负责人</th>"
				+"<th scope='col'>项目状态</th></thead></table>");
				var divtbody=$("<tbody></tbody>");
				if(data.typeid==1){
					var fzr;
					$.each(data.ix.list[0].list,function(indexs,is){
						if(is.staff.postionid==1){
							fzr=is.staff.user.uname;
						}
					})
					var timestamp4= new Date(data.ix.list[0].starttime);
					timestamp4=timestamp4.toLocaleDateString().replace(/\//g, "-")+ " " + timestamp4.toTimeString().substr(0, 8); 
					var timestamp5= new Date(data.ix.list[0].endtime);
					timestamp5=timestamp5.toLocaleDateString().replace(/\//g, "-")+ " " + timestamp5.toTimeString().substr(0, 8); 
					price+=data.ix.list[0].project.price;
					var divtr=$("<tr>"
							+"<th scope='row'><img src='[[@{/img/product-image.jpg}]]' width='50' height='50' alt='图片'/><b>"+data.ix.list[0].project.pname+"</b></th>"
							+"<td><b>"+data.ix.list[0].area.aname+"</b></td>"
							+"<td><b>"+timestamp4+"-"+timestamp5+"</b></td>"
							+"<td><b>"+data.ix.list[0].project.price+"</b></td>"
							+"<td>"+fzr+"</td>"
							+"<td>进行中</td></tr>");
					$(divtbody).append(divtr);
				}else{
					$.each(data.ix.list,function(index3,item3){
						var fzr;
						$.each(item3.list,function(indexs,is){
							if(is.staff.postionid==1){
								fzr=is.staff.user.uname;
							}
						})
						var timestamp4= new Date(item3.starttime);
						timestamp4=timestamp4.toLocaleDateString().replace(/\//g, "-")+ " " + timestamp4.toTimeString().substr(0, 8); 
						var timestamp5= new Date(item3.endtime);
						timestamp5=timestamp5.toLocaleDateString().replace(/\//g, "-")+ " " + timestamp5.toTimeString().substr(0, 8); 
						price+=item3.project.price;
						var divtr=$("<tr>"
								+"<th scope='row'><img src='[[@{/img/product-image.jpg}]]' width='50' height='50' alt='图片'/><b>"+item3.project.pname+"</b></th>"
								+"<td><b>"+item3.area.aname+"</b></td>"
								+"<td><b>"+timestamp4+"至"+timestamp5+"</b></td>"
								+"<td><b>"+item3.project.price+"</b></td>"
								+"<td>"+fzr+"</td>"
								+"<td>进行中</td></tr>");
						$(divtbody).append(divtr);
					})
				}
				$(divhtable).append(divtbody);
				$(divh2).append(divhtable);
				return divh2;
			}
			function personMenu(data,indexss){
				var divs=$("<div class='content col-md-11'></div>")
				var divtable=$("<table class='table'>"
				    +"<thead>"
					+"<th scope='col'>菜品名称</th>"
					+"<th scope='col'>菜品价格</th>"
					+"<th scope='col'>菜品数据</th>"
					+"<th scope='col'>菜品数量</th>"
					+"<th scope='col'>菜品总价</th>"
					+"</thead>");
				var divbody=$("<tbody></tbody>");
				if(data.typeid==2){
					var count=1;
					if(indexss==0){
						count=data.name2;
					}
					var tr=$("<tr>"
							+"<th scope='row'><img src='/"+data.ix.image+"' width='50' height='50' alt='图片' /><b>"+data.ix.mname+"</b></th>"
							+"<td><b>"+data.ix.price+"</b></td>"
							+"<td><b>"+data.ix.intorduce+"</b></td>"
							+"<td><b>"+count+"</b></td>"
							+"<td><b>"+count*data.ix.price+"</b></td>"
							+"</tr>");
							$(divbody).append(tr);
							price+=count*data.ix.price;
				}else{
					var h4=$("<h4>"+data.ix.mname+"</h4>");
					$.each(data.ix.list,function(index3,item3){
						var tr=$("<tr>"
								+"<th scope='row'><img src='/"+item3.image+"' width='50' height='50' alt='图片' /><b>"+item3.mname+"</b></th>"
								+"<td><b>"+item3.price+"</b></td>"
								+"<td><b>"+item3.intorduce+"</b></td>"
								+"<td><b>1</b></td>"
								+"<td><b>"+item3.price+"</b></td>"
								+"</tr>");
								$(divbody).append(tr);	
								price+=item3.price;
					});
					divs.append(h4);
				}
				$(divtable).append(divbody);
				$(divs).append(divtable);
				return divs;
			}
			function personRoom(data){
				var div=$("<div class='content col-md-11'></div>");
				var table=$("<table class='table'><thead><th scope='col'>房间名称</th><th scope='col'>房间价格</th><th scope='col'>房间类型</th><th scope='col'>房间状态</th></thead></table>");
				var tbody=$("<tbody></tbody>");
				var type="单人间";
				if(data.ix.room.typeid==2){
					type="双人间";
				}
				if(data.ix.room.typeid==3){
					type="总统套房";
				}
				var status;
				if(data.ix.room.status==1){
					status="正在入住";
				}else{
					status="已退房";
				}
				var tr=$("<tr>"
					+"<th scope='row'><img src='/"+data.ix.room.img.url+"' width='50' height='50' alt='图片' /><b>"+data.ix.room.rname+"</b></th>"
					+"<td><b>"+data.ix.room.price+"</b></td>"
					+"<td><b>"+type+"</b></td>"
					+"<td><b>"+status+"</b></td>"
					+"</tr>");
					$(tbody).append(tr);
				$(table).append(tbody);
				$(div).append(table);
				price+=data.ix.room.price;
				return div;
			}
			function teamProject(data){
				var divh2=$("<div class='content col-md-11'></div>");
				var divhtable=$("<table class='table'><thead>"
				+"<th scope='col'>项目名称</th>"
				+"<th scope='col'>项目地点</th>"
				+"<th scope='col'>项目时间</th>"
				+"<th scope='col'>项目价格</th>"
				+"<th scope='col'>项目负责人</th>"
				+"<th scope='col'>项目状态</th></thead></table>");
				var divtbody=$("<tbody></tbody>");
				if(data.typeid==1){
					var fzr;
					$.each(data.ix.list[0].list,function(indexs,is){
						if(is.staff.postionid==1){
							fzr=is.staff.user.uname;
						}
					})
					price+=data.ix.list[0].project.price;
					var timestamp4= new Date(data.ix.list[0].starttime);
					timestamp4=timestamp4.toLocaleDateString().replace(/\//g, "-")+ " " + timestamp4.toTimeString().substr(0, 8); 
					var timestamp5= new Date(data.ix.list[0].endtime);
					timestamp5=timestamp5.toLocaleDateString().replace(/\//g, "-")+ " " + timestamp5.toTimeString().substr(0, 8); 
					var divtr=$("<tr>"
							+"<th scope='row'><img src='[[@{/img/product-image.jpg}]]' width='50' height='50' alt='图片'/><b>"+data.ix.list[0].project.pname+"</b></th>"
							+"<td><b>"+data.ix.list[0].area.aname+"</b></td>"
							+"<td><b>"+timestamp4+"-"+timestamp5+"</b></td>"
							+"<td><b>"+data.ix.list[0].project.price+"</b></td>"
							+"<td>"+fzr+"</td>"
							+"<td>进行中</td></tr>");
					$(divtbody).append(divtr);
				}else{
					$.each(data.ix.list,function(index3,item3){
						var fzr;
						$.each(item3.list,function(indexs,is){
							if(is.staff.postionid==1){
								fzr=is.staff.user.uname;
							}
						})
						var timestamp4= new Date(item3.starttime);
						timestamp4=timestamp4.toLocaleDateString().replace(/\//g, "-")+ " " + timestamp4.toTimeString().substr(0, 8); 
						var timestamp5= new Date(item3.endtime);
						timestamp5=timestamp5.toLocaleDateString().replace(/\//g, "-")+ " " + timestamp5.toTimeString().substr(0, 8); 
						price+=item3.project.price;
						var divtr=$("<tr>"
								+"<th scope='row'><img src='[[@{/img/product-image.jpg}]]' width='50' height='50' alt='图片'/><b>"+item3.project.pname+"</b></th>"
								+"<td><b>"+item3.area.aname+"</b></td>"
								+"<td><b>"+timestamp4+"至"+timestamp5+"</b></td>"
								+"<td><b>"+item3.project.price+"</b></td>"
								+"<td>"+fzr+"</td>"
								+"<td>进行中</td></tr>");
						$(divtbody).append(divtr);
					})
				}
				$(divhtable).append(divtbody);
				$(divh2).append(divhtable);
				return divh2;
			}
			function teamMenu(data,indexss){
				var divs=$("<div class='content col-md-11'></div>")
				var divtable=$("<table class='table'>"
				    +"<thead>"
					+"<th scope='col'>菜品名称</th>"
					+"<th scope='col'>菜品价格</th>"
					+"<th scope='col'>菜品数据</th>"
					+"<th scope='col'>菜品数量</th>"
					+"<th scope='col'>菜品总价</th>"
					+"</thead>");
				var count=1;
				if(indexss==0){
					count=data.name2;
				}
				var divbody=$("<tbody></tbody>");
				if(data.typeid==2){
				var tr=$("<tr>"
						+"<th scope='row'><img src='/"+data.ix.image+"' width='50' height='50' alt='图片' /><b>"+data.ix.mname+"</b></th>"
						+"<td><b>"+data.ix.price+"</b></td>"
						+"<td><b>"+data.ix.intorduce+"</b></td>"
						+"<td><b>"+count+"</b></td>"
						+"<td><b>"+count*data.ix.price+"</b></td>"
						+"</tr>");
						$(divbody).append(tr);
						price+=count*data.ix.price;
				}else{
						var h4=$("<h4>"+data.ix.mname+"</h4>");
						$.each(data.ix.list,function(index3,item3){
							var tr=$("<tr>"
									+"<th scope='row'><img src='/"+item3.image+"' width='50' height='50' alt='图片' /><b>"+item3.mname+"</b></th>"
									+"<td><b>"+item3.price+"</b></td>"
									+"<td><b>"+item3.intorduce+"</b></td>"
									+"<td><b>1</b></td>"
									+"<td><b>"+item3.price+"</b></td>"
									+"</tr>");
									$(divbody).append(tr);	
									price+=item3.price;
						});
						divs.append(h4);
				}
				$(divtable).append(divbody);
				$(divs).append(divtable);
				return divs;
			}
			function teamRoom(data){
				var div=$("<div class='content col-md-11'></div>");
				var table=$("<table class='table'><thead><th scope='col'>房间名称</th><th scope='col'>房间价格</th><th scope='col'>房间类型</th><th scope='col'>房间状态</th></thead></table>");
				var tbody=$("<tbody></tbody>");
				$.each(data.list,function(item3,index3){
					var type="单人间";
					if(item3.ix.room.typeid==2){
						type="双人间";
					}
					if(item3.ix.room.typeid==3){
						type="总统套房";
					}
					var status;
					if(item3.ix.room.status==1){
						status="正在入住";
					}else{
						status="已退房";
					}
					var tr=$("<tr>"
							+"<th scope='row'><img src='/"+item3.ix.room.img.url+"' width='50' height='50' alt='图片' /><b>"+item3.ix.room.rname+"</b></th>"
							+"<td><b>"+item3.ix.room.price+"</b></td>"
							+"<td><b>"+type+"</b></td>"
							+"<td><b>"+status+"</b></td>"
							+"</tr>");
					$(tbody).append(tr);
					price+=item3.ix.room.price;
				})
				$(table).append(tbody);
				$(div).append(table);
				return div;
			}
			$(".info").click(function(){
				var id=$(this).prev().val();
				$.post("/order/queryById?id="+id+"",function(data){
						$("#orderInfo .box").text("");
						var div1=$("<div class='dingdanhead'></div>");
						var h41=$("<h4></h4>");
						var timestamp= new Date(data.ordertime);
						timestamp=timestamp.toLocaleDateString().replace(/\//g, "-")+ " " + timestamp.toTimeString().substr(0, 8); 
						var a1=$("<a data-toggle='collase'  href='#checkout-collapse4'><span class='step'>1</span><span>订单:<span><span class='dingdanhao'>"+data.orderno+"</span></a>");	
						var span1=$("<span class='time'>订单时间:</span><span>"+timestamp+"</span>");
    					var span2=$("<span class='status'>订单状态：</span><span>"+data.name1+"</span>");
    					var span4=$("<span class='team'>"+data.name2+"</span>");
						if(data.name2=="个人"){
								price=0;
								var div=$("<div class='content col-md-12 collapsed' id='checkout-collapse4'></div>");
								var divh;
								var divh1;
								var div2=$("<div></div>");
								var div3=$("<div></div>");
								var div4=$("<div></div>");
								var div5=$("<div><div>");
								$.each(data.user.orders,function(index1,item1){
										$.each(item1.list,function(index2,item2){
											if(item2.typeid==1||item2.typeid==5){
												$(div2).append(personProject(item2));
											}
											if(item2.typeid==2||item2.typeid==4){
												$(div3).append(personMenu(item2,0));
											}
											if(item2.typeid==3){
												$(div4).append(personRoom(item2));
											}
											if(item2.typeid==7){
												var divs=$("<div class='content col-md-11'></div>")
												var h4=$("<h4>"+item2.ix.name+"</h4>");
												$.each(item2.ix.list,function(index3,item3){
													 if(item3.typeid==1){
														$(divs).append(personProject(item3));
													}
													if(item3.typeid==2||item3.typeid==4){
														$(divs).append(personMenu(item3,1));
													}
													if(item3.typeid==3){
														$(divs).append(personRoom(item3));
													}  
												})
												$(div5).append(divs);
											}
										})
									})
									divh=$("<div class='dingdanhead'><h4><a data-toggle='collase'  href='#checkout-collapses5'><span class='step'>01</span><span>个人订单</span></a></h4></div>");
									divh1=$("<div class='content col-md-12 collapsed' id='checkout-collapses5'></div>");
									$(divh1).append(div2).append(div3).append(div4).append(div5);
									$(div).append(divh).append(divh1);
			    					var span3=$("<span class='sum'>订单总价:</span><span>"+price+"</span>");
									$(h41).append(a1).append(span1).append(span2).append(span3).append(span4);
			    					$(div1).append(h41);
									$("#orderInfo .box").append(div1).append(div);
						}else{
							var div=$("<div class='content col-md-12 collapsed' id='checkout-collapse4'></div>");
							var divh;
							var divh1;
							price=0;
							$.each(data.list,function(index,item){
								var div2=$("<div></div>");
								var div3=$("<div></div>");
								var div4=$("<div></div>");
								var div5=$("<div></div>");
								divh1=$("<div class='content col-md-12 collapsed' id='checkout-collapses"+index+"'></div>");
								$.each(item.orders,function(index1,item1){
									$.each(item1.list,function(index2,item2){
										if(item2.typeid==1||item2.typeid==5){
											$(divh1).append(teamProject(item2));
										}
										if(item2.typeid==2||item2.typeid==4){
											$(divh1).append(teamMenu(item2,0));
										}
										if(item2.typeid==3){
											$(divh1).append(div4);
										}
										if(item2.typeid==7){
											var divs=$("<div class='content col-md-11'></div>")
											var h4=$("<h4>"+item2.ix.name+"</h4>");
											$.each(item2.ix.list,function(index3,item3){
												 if(item3.typeid==1||item3.typeid==5){
													$(divs).append(teamProject(item3,1));
												}
												if(itme3.typeid==2||item3.typeid==4){
													$(divs).append(teamMenu(item3));
												}
												if(item3.typeid==3){
													$(divs).append(teamRoom(item3));
												} 
											})
											$(divh1).append(divs);
										}
									})
							})
							if(item.id==data.user.id){
								divh=$("<div class='dingdanhead'><h4><a data-toggle='collase'  href='#checkout-collapses"+index+"'><span class='step'>01</span><span>负责人订单</span></a></h4></div>");
								$(div).append(divh).append(divh1);
							}else{
								divh=$("<div class='dingdanhead'><h4><a data-toggle='collase'  href='#checkout-collapses"+index+"'><span class='step'>01</span><span>队员名称</span></a></h4></div>");
								$(div).append(divh).append(divh1);
							}
								$("#orderInfo .box").append(div1);
								$("#orderInfo .box").append(div);
							})
							var span3=$("<span class='sum'>订单总价:</span><span>"+price+"</span>");
							$(h41).append(a1).append(span1).append(span2).append(span3).append(span4);
	    					$(div1).append(h41);
						}
						},"json");
			})
			$("[name='productOrProject']").click(function(){
				var index=$("[name='productOrProject']").index($(this));
				$("[name='hiddens']").attr("hidden","hidden");
				$("[name='hiddens'] input[type='checkbox']").prop("checked",false);
				$("[name='hiddens']:eq("+index+")").removeAttr("hidden");
			})
			$("[name='hiddens'] tr input").change(function(){
				if(this.checked){
					$(".infoss").removeAttr("hidden");					
				}else{
					$(".infoss").attr("hidden","hidden");										
				}
			})
			$(".proucttable tr:even td:last-child").click(function(){
				
			})
			//判断 是否已显示 如果显示 则取消显示      .panel-collapse in  显示
			$(document).on("click", "[data-toggle='collase']", function() {
				var href = $(this).attr("href");
				href = href.substring(1, href.length);
				if($("[id='" + href + "']").hasClass("panel-collapse in")) {
					$("[id=" + href + "]").removeClass("panel-collapse in");
					$("[id=" + href + "]").addClass("collapsed");
					return;
				} else {
					$("[id=" + href + "]").removeClass("collapsed");
					$("[id=" + href + "]").addClass("panel-collapse in");
				}
			})
		</script>
		<script th:line="javascript">
			var typeid=5;
			$("#checkboxs>[type='radio']").click(function(){
				var index=$("#checkboxs>[type='radio']").index($(this));
				$("[name='Hiddens']").hide();
				$("[name='Hiddens']:eq("+index+")").show();
				if(index==1){
					typeid=1;
				}
				if(index==2){
					typeid=2;
				}
				if(index==3){
					typeid=3;
				}
				if(index==0){
					typeid=5;
				}
			});
			$("[name='Hiddens'] [type='checkbox']").click(function(){
				$(".addsorder").css("display","block");
				var tr=$(this).parent().parent().clone();
				var type="活动";
				if(typeid==1){
					type="项目";
				}
				if(typeid==2){
					type="餐饮";
				}
				if(typeid==3){
					type="房间";
				}
				if(typeid==5){
					type="活动";
				}
				var td=$("<td><input type='hidden' class='typeidss' value='"+typeid+"'>"+type+"</td>");
				$(tr).append(td);
				$("#boxorder").append(tr);
			})
			$(".addsorder").click(function(){
				var a=[];
				$.each($("#boxorder tr"),function(index,item){
					var x={};
					x.typeid=$(this).find(".typeidss").val();
					x.iid=$(this).find("[name='productid']").val();
					if(x.typeid==1||x.typeid==5);
					a.push(x);	
				})
				var a1=JSON.stringify(a);
				$.ajax({
					url:"/order/queryPaiban",
					data:a1,
					dataType:"json",
					processData:false, 
	 				contentType:"application/json;charset=UTF-8",
					type:"post",
					success:function(data){
						$("#paiban").css("display","block");
						console.log(data);
						 $.each(data,function(index,item){
							if(item.typeid==5){
							var div=$("<div style='border:1px soild red'>活动"+(index+1)+"</div>");
							$.each(item.ix,function(index1,item1){
								var div1=$("<div style='border:1px soild blue'>"+item1.pname+"</div>");
								$.each(item1.areas,function(index2,item2){
									var button=$("<button>"+item2.aname+"</button>");
								    var table=$("<table class='table' style='margin-top: 20px;width: 90%;margin-left: 5%;'>"
										+"<thead>"
										+"<tr>"
										+"<th>开始时间</th>"
										+"<th>结束时间</th>"
										+"<th>空位</th>"
										+"<th>人数</th>"
										+"<th></th>"
										+"</tr>"
										+"</thead>"
										+"</table>");
								    var tbody=$("<tbody id='time_tbody'></tbody>");
									$.each(item2.worktimes,function(index3,item3){
										$.each(item3,function(index4,item4){
											var tr=$("<tr>"
													+"<td>"+item4.startTime+"</td>"
													+"<td>"+item4.endTime+"</td>"
													+"<td>"+item4.count+"</td>"
													+"<td></td>"
													+"</tr>");
											$(tbody).append(tr);
										})
									})
									$(table).append(tbody);
									$(div1).append(button);
									$(div1).append(table);
								})
								$(div).append(div1);
							})
							$("#paiban").append(div);
							}else{
								var div=$("<div style='border:1px soild red'>"+item.ix.pname+"</div>");
								$.each(item.ix.areas,function(index2,item2){
									var button=$("<button>"+item2.aname+"</button>");
								    var table=$("<table class='table' style='margin-top: 20px;width: 90%;margin-left: 5%;'>"
										+"<thead>"
										+"<tr>"
										+"<th>开始时间</th>"
										+"<th>结束时间</th>"
										+"<th>空位</th>"
										+"<th>人数</th>"
										+"<th></th>"
										+"</tr>"
										+"</thead>"
										+"</table>");
								    var tbody=$("<tbody id='time_tbody'></tbody>");
									$.each(item2.worktimes,function(index3,item3){
										$.each(item3,function(index4,item4){
											var tr=$("<tr>"
													+"<td>"+item4.startTime+"</td>"
													+"<td>"+item4.endTime+"</td>"
													+"<td>"+item4.count+"</td>"
													+"<td></td>"
													+"</tr>");
											$(tbody).append(tr);
										})
									})
									$(table).append(tbody);
									$(div).append(button);
									$(div).append(table);
								})
								$("#paiban").append(div);
							}
						})
						 
					}
				})
			})
		</script>
		
</body>
</html>