<!DOCTYPE html>
<html class="noIE" lang="en-US" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" />
		<title>研学旅行官网</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link rel="icon" th:href="@{/img1/favicon/favicon.html}" type="image/x-icon" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/img1/favicon/apple-touch-icon-144x144-precomposed.html}">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/img1/favicon/apple-touch-icon-72x72-precomposed.html}">
		<link rel="apple-touch-icon-precomposed" th:href="@{/img1/favicon/apple-touch-icon-precomposed.html}">

		<link rel="stylesheet" th:href="@{/css1/minified.css}">
		<script th:src="@{/js1/modernizr.min.js}"></script>
		<link rel="stylesheet" th:href="@{/css1/owl.carousel.css}">
		<link rel="stylesheet" th:href="@{/css1/owl.theme.css}">
		<script th:src="@{/js1/jquery.min.js}"></script>
		<link th:href="@{/css1/flexslider.css}" rel="stylesheet" />
		<link rel="stylesheet" th:href="@{/css1/responsive.css}">
		<style>
			#main-content .section {
				padding-bottom: 30px;
			}
		</style>
	</head>

	<body class="home">
		<div id="page-wrapper">
			<!--头部  -->
			<header id="site-header" role="banner">
				<!-- HEADER TOP -->
				<div class="header-top">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-7">
								<!-- CONTACT INFO -->
								<div class="contact-info">
									<i class="iconfont-headphones round-icon"></i>
									<strong>+444 (100) 1234</strong>
									<span>(周一- 周五: 09.00 - 21.00)</span>
								</div>
								<!-- // CONTACT INFO -->
							</div>
							<div class="col-xs-12 col-sm-6 col-md-5">
								<ul class="actions unstyled clearfix">
									<li>
										<!-- SEARCH BOX -->
										<div class="search-box">
											<form action="#" method="post">
												<div class="input-iconed prepend">
													<button class="input-icon"><i class="iconfont-search"></i></button>
													<label for="input-search" class="placeholder">在这里搜索</label>
													<input type="text" name="q" id="input-search" class="round-input full-width" required />
												</div>
											</form>
										</div>
										<!-- // SEARCH BOX -->
									</li>
									<li data-toggle="sub-header" data-target="#sub-social">
										<!-- SOCIAL ICONS -->
										<a href="javascript:void(0);" id="social-icons">
											<i class="iconfont-share round-icon"></i>
										</a>

										<div id="sub-social" class="sub-header">
											<ul class="social-list unstyled text-center">
												<li>
													<a href="#"><i class="iconfont-facebook round-icon"></i></a>
												</li>
												<li>
													<a href="#"><i class="iconfont-twitter round-icon"></i></a>
												</li>
												<li>
													<a href="#"><i class="iconfont-google-plus round-icon"></i></a>
												</li>
												<li>
													<a href="#"><i class="iconfont-pinterest round-icon"></i></a>
												</li>
												<li>
													<a href="#"><i class="iconfont-rss round-icon"></i></a>
												</li>
											</ul>
										</div>
										<!-- // SOCIAL ICONS -->
									</li>
									<li data-toggle="sub-header" data-target="#sub-cart">
										<!-- SHOPPING CART -->
										<a href="javascript:void(0);" id="total-cart">
											<i class="iconfont-shopping-cart round-icon"></i>
										</a>

										<div id="sub-cart" class="sub-header">
											<div class="cart-header">
												<span>你的购物车是空的</span>
												<small><a href="cart.html">(See All)</a></small>
											</div>
											<ul class="cart-items product-medialist unstyled clearfix"></ul>
											<div class="cart-footer">
												<div class="cart-total clearfix">
													<span class="pull-left uppercase">总计</span>
													<span class="pull-right total">￥ 0</span>
												</div>
												<div class="text-right">
													<a href="cart.html" class="btn btn-default btn-round view-cart">查看</a>
												</div>
											</div>
										</div>
										<!-- // SHOPPING CART -->
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- ADD TO CART MESSAGE -->
					<div class="cart-notification">
						<ul class="unstyled"></ul>
					</div>
					<!-- // ADD TO CART MESSAGE -->
				</div>
				<!-- // HEADER TOP -->
				<!-- MAIN HEADER -->
				<div class="main-header-wrapper">
					<div class="container">
						<div class="main-header">
							<!-- CURRENCY / LANGUAGE / USER MENU -->
							<div class="actions">
								<div class="center-xs">
									<!-- CURRENCY -->
									<ul class="option-list unstyled">
										<li class="active">
											<a href="#" data-toggle="tooltip" title="人民币">￥</a>
										</li>
										<li>
											<a href="#" data-toggle="tooltip" title="GBP - British Pound">£</a>
										</li>
										<li>
											<a href="#" data-toggle="tooltip" title="EUR - Euro">€</a>
										</li>
									</ul>
									<!-- // CURRENCY -->
									<!-- LANGUAGES -->
									<ul class="option-list unstyled">
										<li class="active">
											<a href="#" data-toggle="tooltip" title="中文">CH</a>
										</li>
										<li>
											<a href="#" data-toggle="tooltip" title="French">FR</a>
										</li>
										<li>
											<a href="#" data-toggle="tooltip" title="Deutsch">DE</a>
										</li>
									</ul>
									<!-- // LANGUAGES -->
								</div>
								<div class="clearfix"></div>
								<!-- USER RELATED MENU -->
								<nav id="tiny-menu" class="clearfix">
									<ul class="user-menu">
										<li>
											<a th:href="@{/customer/toPerson}">我的账户</a>
										</li>
										<li>
											<a th:href="@{/customer/toPerson}">查看</a>
										</li>
										<li>
											<a th:href="@{/Login/back}">登出</a>
										</li>
									</ul>
								</nav>
								<!-- // USER RELATED MENU -->
							</div>
							<!-- // CURRENCY / LANGUAGE / USER MENU -->
							<!-- SITE LOGO -->
							<div class="logo-wrapper">
								<a href="index-2.html" class="logo" title="GFashion - Responsive e-commerce HTML Template">
									<img th:src="@{/images/logo2.png}" alt="Logo" />
								</a>
							</div>
							<!-- // SITE LOGO -->
							<!-- SITE NAVIGATION MENU -->
							<nav id="site-menu" role="navigation">
								<ul class="main-menu hidden-sm hidden-xs">
									<li class="active">
										<a th:href="@{/customer/topagehome}">首页</a>
									</li>
									<li>
										<a href="productList.html">活动</a>
									</li>
									<li>
										<a th:href="@{/menu/toquerymenu1}">餐饮</a>
									</li>
									<li>
										<a href="hotel.html">住宿</a>
									</li>

									<li>
										<a th:href="@{/customer/toPerson}">个人中心</a>
									</li>
								</ul>
							</nav>
							<!-- // SITE NAVIGATION MENU -->
						</div>
					</div>
				</div>
				<!-- // MAIN HEADER -->
			</header>
			<!--轮播图  -->
			<div id="home-slider">
				<div class="flexslider">
					<ul class="slides">
						<!-- THE FIRST SLIDE -->
						<li>
							<!-- THE MAIN IMAGE IN THE SLIDE -->
							<img th:src="@{/rev-slider/img/slides/Street-Fashion.jpg}" alt="" />

							<!-- THE CAPTIONS OF THE FIRST SLIDE -->
							<div class="flex-caption h6 text-bold gfc uppercase animated" data-animation="fadeInLeftBig" data-x="800" data-y="110" data-speed="600" data-start="1200">New Collection</div>

							<div class="flex-caption herotext text-bold gfc animated" data-animation="fadeInRightBig" data-x="580" data-y="140" data-speed="900" data-start="2000">Autumn Fashions</div>

							<div class="flex-caption h6 text-bold gfc text-center animated" data-animation="fadeInDown" data-x="639" data-y="260" data-speed="1600" data-start="2900">
								Comfy knits and warm jackets for cooler Autumn days<br/>
								<a href="products.html" class="btn btn-primary uppercase">Shop Now</a>
							</div>

						</li>

						<!-- THE SECOND SLIDE -->
						<li style="background: #fa6f57;">
							<!-- THE MAIN IMAGE IN THE SLIDE -->
							<img th:src="@{/img1/transparent.png}" alt="" />

							<div class="flex-caption super-giant gfc animated uppercase" data-animation="fadeInUp" data-x="center" data-y="60" data-speed="500" data-start="900">Sale</div>

							<div id="caption-left-round" class="flex-caption round gfc animated uppercase" data-animation="fadeInLeftBig" data-x="140" data-y="60" data-speed="600" data-start="1200">
								<div class="vmid"><span>Mid<br/>Season</span></div>
							</div>

							<div class="flex-caption round gfc animated uppercase" data-animation="fadeInRightBig" data-x="925" data-y="60" data-speed="600" data-start="1200">
								<div class="vmid"><span>Up to<br/>70% off</span></div>
							</div>

							<div class="flex-caption h3 gfc animated uppercase" data-animation="fadeInDown" data-x="center" data-y="250" data-speed="400" data-start="1800"><strong class="text-bold">500’s </strong>of New Products</div>

						</li>

						<!-- THE SECOND SLIDE -->
						<li>
							<!-- THE MAIN IMAGE IN THE SLIDE -->
							<img th:src="@{/rev-slider/img/slides/3303349658_cfaebb811f_o.jpg}" alt="" />

							<div class="flex-caption herotext text-bold gfc bg-dark animated uppercase" data-animation="fadeInUpBig" data-x="760" data-y="60" data-speed="900" data-start="100">Free Shipping</div>

							<div class="flex-caption h2 text-bold gfc bg-dark animated uppercase" data-animation="fadeInUpBig" data-x="797" data-y="175" data-speed="600" data-start="900">On Order over ￥2.000</div>

						</li>

					</ul>
				</div>

				<script>
					jQuery(function($) {
						var $slider = $('#home-slider > .flexslider');
						$slider.find('.flex-caption').each(function() {
							var $this = $(this);
							var configs = {
								left: $this.data('x'),
								top: $this.data('y'),
								speed: $this.data('speed') + 'ms',
								delay: $this.data('start') + 'ms'
							};
							if(configs.left == 'center' && $this.width() !== 0) {
								configs.left = ($slider.width() - $this.width()) / 2;
							}
							if(configs.top == 'center' && $this.height() !== 0) {
								configs.top = ($slider.height() - $this.height()) / 2;
							}

							$this.data('positions', configs);

							$this.css({
								'left': configs.left + 'px',
								'top': configs.top + 'px',
								'animation-duration': configs.speed,
								'animation-delay': configs.delay
							});
						});

						$(window).on('resize', function() {
							var wW = $(window).width(),
								zoom = (wW >= 1170) ? 1 : wW / 1349;
							$('.flex-caption.gfc').css('zoom', zoom);
						});
						$(window).trigger('resize');

						$slider.imagesLoaded(function() {
							$slider.flexslider({
								animation: 'slide',
								easing: 'easeInQuad',
								slideshow: false,
								nextText: '<i class="iconfont-angle-right"></i>',
								prevText: '<i class="iconfont-angle-left"></i>',
								start: function() {
									flex_fix_pos(1);
								},
								before: function(slider) {
									// initial caption animation for next show
									$slider.find('.slides li .animation-done').each(function() {
										$(this).removeClass('animation-done');
										var animation = $(this).attr('data-animation');
										$(this).removeClass(animation);
									});

									flex_fix_pos(slider.animatingTo + 1);
								},
								after: function() {
									// run caption animation
									$slider.find('.flex-active-slide .animated').each(function() {
										var animation = $(this).attr('data-animation');
										$(this).addClass('animation-done').addClass(animation);
									});
								}
							});
						});

						function flex_fix_pos(i) {
							$slider.find('.slides > li:eq(' + i + ') .gfc').each(function() {
								var $this = $(this),
									pos = $(this).data('positions');

								if(pos.left == 'center') {
									pos.left = ($slider.width() - $this.width()) / 2;
									$this.css('left', pos.left + 'px');
									$this.data('positions', pos);
								}
								if(pos.top == 'center') {
									pos.top = ($slider.height() - $this.height()) / 2;
									$this.css('left', pos.top + 'px');
									$this.data('positions', pos);
								}
							});
						}
					});
				</script>
			</div>
			<main id="main-content" role="main">
				<!-- 导航  -->
				<section class="section promos">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<div class="promo accent-background first-child first-row animated" data-animation="fadeInLeft">
									<div class="inner text-center">
										<h1 class="uppercase text-semibold">
										<a href="products.html">
											<span class="inverse-color">活动套餐</span> 高达 50% <span class="inverse-color"></span>
										</a>
									</h1>
										<h5 class="uppercase">前去查看</h5>
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="promo inverse-background first-row animated" data-animation="fadeInDown" th:style="'background: url('+'/images/demo/P2200214.jpg'+') no-repeat;background-size: 100%;'">
									<div class="inner text-center np">
										<div class="ribbon">
											<h6 class="nmb">餐饮套餐</h6>
											<h5 class="text-semibold uppercase nmb">套餐XXXXXX</h5>
											<div class="space10"></div>
											<a href="products.html" class="with-icon prepend-icon"><i class="iconfont-caret-right"></i><span>立即下单</span></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="promo accent-background first-child first-row animated" data-animation="fadeInLeft">
									<div class="inner text-center">
										<h1 class="uppercase text-semibold">
										<a href="products.html">
											<span class="inverse-color">住宿套餐</span> 高达 40% <span class="inverse-color"></span>
										</a>
									</h1>
										<h5 class="uppercase">前去查看</h5>
									</div>
								</div>
							</div>
							

						</div>
					</div>
				</section>
				<!--  活动套餐推荐-->
				<section class="section featured visible-items-4">
					<div class="container">
						<div class="row">
							<header class="section-header clearfix col-sm-offset-3 col-sm-6">
								<h3 class="section-title">活动套餐推荐</h3>
								<p class="section-teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit ac lobortis lacus</p>
							</header>

							<div class="clearfix"></div>

							<!-- BEGIN CAROUSEL -->
							<div id="featured-products" class="add-cart" data-product=".product" data-thumbnail=".entry-media .thumb" data-title=".entry-title > a" data-url=".entry-title > a" data-price=".entry-price > .price">

								<div class="owl-controls clickable top">
									<div class="owl-buttons">
										<div class="owl-prev"><i class="iconfont-angle-left"></i></div>
										<div class="owl-next"><i class="iconfont-angle-right"></i></div>
									</div>
								</div>

								<div class="owl-carousel owl-theme" data-visible-items="4" data-navigation="true" data-lazyload="true">
									<div class="product" data-product-id="1">
										<div class="entry-media">
											<img th:src="@{/images/women/basic/848051-0014_1_t.jpg}" alt="" class="lazyOwl thumb" />
											<div class="hover">
												<a href="product.html" class="entry-url"></a>
												<ul class="icons unstyled">
													<li>
														<div class="circle ribbon ribbon-sale">Sale</div>
													</li>
													<li>
														<a href="images/women/basic/848051-0014_1.jpg" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
													</li>
													<li>
														<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
													</li>
												</ul>
												<div class="rate-bar">
													<input type="range" value="4.5" step="0.5" id="backing1" />
													<div class="rateit" data-rateit-backingfld="#backing1" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
												</div>
											</div>
										</div>
										<div class="entry-main">
											<h5 class="entry-title">
											<a href="#">套餐一</a>
										</h5>
											<div class="entry-price">
												<s class="entry-discount">￥ 350.00</s>
												<strong class="accent-color price">￥ 250.00</strong>
											</div>

										</div>
									</div>

									<div class="product" data-product-id="2">
										<div class="entry-media">
											<img th:src="@{/images/women/basic/688086-0286_1_t.jpg}" alt="" class="lazyOwl thumb" />
											<div class="hover">
												<a href="product.html" class="entry-url"></a>
												<ul class="icons unstyled">
													<li>
														<a href="images/women/basic/688086-0286_1.jpg" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
													</li>
													<li>
														<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
													</li>
												</ul>
												<div class="rate-bar">
													<input type="range" value="4" step="0.5" id="backing2" />
													<div class="rateit" data-rateit-backingfld="#backing2" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
												</div>
											</div>
										</div>
										<div class="entry-main">
											<h5 class="entry-title">
											<a href="#">套餐二</a>
										</h5>
											<div class="entry-price">
												<strong class="price">￥ 350.00</strong>
											</div>

										</div>
									</div>

									<div class="product" data-product-id="3">
										<div class="entry-media">
											<img th:src="@{/images/women/basic/848099-0067_1_t.jpg}" alt="" class="lazyOwl thumb" />
											<div class="hover">
												<a href="product.html" class="entry-url"></a>
												<ul class="icons unstyled">
													<li>
														<div class="circle ribbon ribbon-new">New</div>
													</li>
													<li>
														<a href="images/women/basic/848099-0067_1.jpg" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
													</li>
													<li>
														<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
													</li>
												</ul>
												<div class="rate-bar">
													<input type="range" value="3.5" step="0.5" id="backing3" />
													<div class="rateit" data-rateit-backingfld="#backing3" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
												</div>
											</div>
										</div>
										<div class="entry-main">
											<h5 class="entry-title">
											<a href="#">套餐三</a>
										</h5>
											<div class="entry-price">
												<strong class="price">￥ 450.00</strong>
											</div>
										</div>
									</div>

									<div class="product" data-product-id="4">
										<div class="entry-media">
											<img th:src="@{/images/women/basic/589550-0014_1_t.jpg}" alt="" class="lazyOwl thumb" />
											<div class="hover">
												<a href="product.html" class="entry-url"></a>
												<ul class="icons unstyled">
													<li>
														<a href="images/women/basic/589550-0014_1.jpg" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
													</li>
													<li>
														<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
													</li>
												</ul>
												<div class="rate-bar">
													<input type="range" value="5" step="0.5" id="backing4" />
													<div class="rateit" data-rateit-backingfld="#backing4" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
												</div>
											</div>
										</div>
										<div class="entry-main">
											<h5 class="entry-title">
											<a href="#">套餐四</a>
										</h5>
											<div class="entry-price">
												<strong class="price">￥ 350.00</strong>
											</div>
										</div>
									</div>

									<div class="product" data-product-id="5">
										<div class="entry-media">
											<img th:src="@{/images/women/legging/104331-0014_1_t.jpg}" alt="" class="lazyOwl thumb" />
											<div class="hover">
												<a href="product.html" class="entry-url"></a>
												<ul class="icons unstyled">
													<li>
														<div class="circle ribbon ribbon-sale">Sale</div>
													</li>
													<li>
														<a href="images/women/legging/104331-0014_1.jpg" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
													</li>
													<li>
														<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
													</li>
												</ul>
												<div class="rate-bar">
													<input type="range" value="4.5" step="0.5" id="backing5" />
													<div class="rateit" data-rateit-backingfld="#backing5" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
												</div>
											</div>
										</div>
										<div class="entry-main">
											<h5 class="entry-title">
											<a href="#">套餐五</a>
										</h5>
											<div class="entry-price">
												<s class="entry-discount">￥ 350.00</s>
												<strong class="accent-color price">￥ 250.00</strong>
											</div>
										</div>
									</div>


								</div>

							</div>
							<!-- // END CAROUSEL -->

						</div>
					</div>
				</section>
				<!--  餐饮套餐推荐-->
				<section class="section new-arrivals visible-items-5">
					<div class="container">
						<div class="row">
							<header class="section-header clearfix col-sm-offset-3 col-sm-6">
								<h3 class="section-title">餐饮套餐推荐</h3>
								<p class="section-teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit ac lobortis lacus</p>
							</header>

							<div class="clearfix"></div>

							<!-- BEGIN CAROUSEL -->
							<div id="new-arrivals-products" class="add-cart" data-product=".product" data-thumbnail=".entry-media .thumb" data-title=".entry-title > a" data-url=".entry-title > a" data-price=".entry-price > .price">

								<div class="owl-controls clickable outside">
									<div class="owl-buttons">
										<div class="owl-prev"><i class="iconfont-angle-left"></i></div>
										<div class="owl-next"><i class="iconfont-angle-right"></i></div>
									</div>
								</div>

								<div class="owl-carousel owl-theme" data-visible-items="5" data-navigation="true" data-lazyload="true">
									<div class="product" data-product-id="9">
										<div class="entry-media">
											<img th:src="@{/images/men/jacket/271865-0286_1_t.jpg}" alt="" class="lazyOwl thumb" />
											<div class="hover">
												<a href="product.html" class="entry-url"></a>
												<ul class="icons unstyled">
													<li>
														<div class="circle ribbon ribbon-sale">Sale</div>
													</li>
													<li>
														<a href="images/men/jacket/271865-0286_1.jpg" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
													</li>
													<li>
														<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
													</li>
												</ul>
												<div class="rate-bar">
													<input type="range" value="4.5" step="0.5" id="backing9" />
													<div class="rateit" data-rateit-backingfld="#backing9" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
												</div>
											</div>
										</div>
										<div class="entry-main">
											<h5 class="entry-title">
											<a href="#">套餐一</a>
										</h5>
											<div class="entry-price">
												<s class="entry-discount">￥ 350.00</s>
												<strong class="accent-color price">￥ 250.00</strong>
											</div>
										</div>
									</div>

									<div class="product" data-product-id="10">
										<div class="entry-media">
											<img th:src="@{/images/men/jacket/634082-0014_1_t.jpg}" alt="" class="lazyOwl thumb" />
											<div class="hover">
												<a href="product.html" class="entry-url"></a>
												<ul class="icons unstyled">
													<li>
														<a href="images/men/jacket/634082-0014_1.jpg" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
													</li>
													<li>
														<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
													</li>
												</ul>
												<div class="rate-bar">
													<input type="range" value="4" step="0.5" id="backing10" />
													<div class="rateit" data-rateit-backingfld="#backing10" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
												</div>
											</div>
										</div>
										<div class="entry-main">
											<h5 class="entry-title">
											<a href="#">套餐二</a>
										</h5>
											<div class="entry-price">
												<strong class="price">￥ 350.00</strong>
											</div>
										</div>
									</div>

									<div class="product" data-product-id="11">
										<div class="entry-media">
											<img th:src="@{/images/men/jacket/217365-0014_1_t.jpg}" alt="" class="lazyOwl thumb" />
											<div class="hover">
												<a href="product.html" class="entry-url"></a>
												<ul class="icons unstyled">
													<li>
														<div class="circle ribbon ribbon-new">New</div>
													</li>
													<li>
														<a href="images/men/jacket/217365-0014_1.jpg" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
													</li>
													<li>
														<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
													</li>
												</ul>
												<div class="rate-bar">
													<input type="range" value="3.5" step="0.5" id="backing11" />
													<div class="rateit" data-rateit-backingfld="#backing11" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
												</div>
											</div>
										</div>
										<div class="entry-main">
											<h5 class="entry-title">
											<a href="#">套餐三</a>
										</h5>
											<div class="entry-price">
												<strong class="price">￥ 450.00</strong>
											</div>
										</div>
									</div>

									<div class="product" data-product-id="12">
										<div class="entry-media">
											<img th:src="@{/images/men/blazer/105797-1056_1_t.jpg}" alt="" class="lazyOwl thumb" />
											<div class="hover">
												<a href="product.html" class="entry-url"></a>
												<ul class="icons unstyled">
													<li>
														<a href="images/men/blazer/105797-1056_1.jpg" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
													</li>
													<li>
														<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
													</li>
												</ul>
												<div class="rate-bar">
													<input type="range" value="5" step="0.5" id="backing12" />
													<div class="rateit" data-rateit-backingfld="#backing12" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
												</div>
											</div>
										</div>
										<div class="entry-main">
											<h5 class="entry-title">
											<a href="#">套餐四</a>
										</h5>
											<div class="entry-price">
												<strong class="price">￥ 350.00</strong>
											</div>
										</div>
									</div>

									<div class="product" data-product-id="13">
										<div class="entry-media">
											<img th:src="@{/images/men/jumper/271866-0014_1_t.jpg}" alt="" class="lazyOwl thumb" />
											<div class="hover">
												<a href="product.html" class="entry-url"></a>
												<ul class="icons unstyled">
													<li>
														<div class="circle ribbon ribbon-sale">Sale</div>
													</li>
													<li>
														<a href="images/men/jumper/271866-0014_1.jpg" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
													</li>
													<li>
														<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
													</li>
												</ul>
												<div class="rate-bar">
													<input type="range" value="4.5" step="0.5" id="backing13" />
													<div class="rateit" data-rateit-backingfld="#backing13" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
												</div>
											</div>
										</div>
										<div class="entry-main">
											<h5 class="entry-title">
											<a href="#">套餐五</a>
										</h5>
											<div class="entry-price">
												<s class="entry-discount">￥350.00</s>
												<strong class="accent-color price">￥ 250.00</strong>
											</div>
										</div>
									</div>

									<div class="product" data-product-id="14">
										<div class="entry-media">
											<img th:src="@{/images/men/shirt/803500-6989_1_t.jpg}" alt="" class="lazyOwl thumb" />
											<div class="hover">
												<a href="product.html" class="entry-url"></a>
												<ul class="icons unstyled">
													<li>
														<a href="images/men/shirt/803500-6989_1.jpg" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
													</li>
													<li>
														<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
													</li>
												</ul>
												<div class="rate-bar">
													<input type="range" value="4" step="0.5" id="backing14" />
													<div class="rateit" data-rateit-backingfld="#backing14" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
												</div>
											</div>
										</div>
										<div class="entry-main">
											<h5 class="entry-title">
											<a href="#">套餐六</a>
										</h5>
											<div class="entry-price">
												<strong class="price">￥ 350.00</strong>
											</div>
										</div>
									</div>

									<div class="product" data-product-id="15">
										<div class="entry-media">
											<img th:src="@{/images/men/shirt/217360-0014_1_t.jpg}" alt="" class="lazyOwl thumb" />
											<div class="hover">
												<a href="product.html" class="entry-url"></a>
												<ul class="icons unstyled">
													<li>
														<div class="circle ribbon ribbon-new">New</div>
													</li>
													<li>
														<a href="images/men/shirt/217360-0014_1.jpg" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
													</li>
													<li>
														<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
													</li>
												</ul>
												<div class="rate-bar">
													<input type="range" value="3.5" step="0.5" id="backing15" />
													<div class="rateit" data-rateit-backingfld="#backing15" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
												</div>
											</div>
										</div>
										<div class="entry-main">
											<h5 class="entry-title">
											<a href="#">套餐七</a>
										</h5>
											<div class="entry-price">
												<strong class="price">￥ 450.00</strong>
											</div>
										</div>
									</div>

									

							</div>
							<!-- // END CAROUSEL -->

						</div>
					</div>
				</section>
				<!-- 住宿套餐推荐 -->
				<section class="section new-arrivals visible-items-6">
					<div class="container">
						<div class="row">
							<header class="section-header clearfix col-sm-offset-3 col-sm-6">
								<h3 class="section-title">住宿套餐推荐</h3>
								<p class="section-teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit ac lobortis lacus</p>
							</header>

							<div class="clearfix"></div>

							<!-- BEGIN CAROUSEL -->
							<div id="new-arrivals-products" class="add-cart" data-product=".product" data-thumbnail=".entry-media .thumb" data-title=".entry-title > a" data-url=".entry-title > a" data-price=".entry-price > .price">

								<div class="owl-controls clickable outside">
									<div class="owl-buttons">
										<div class="owl-prev"><i class="iconfont-angle-left"></i></div>
										<div class="owl-next"><i class="iconfont-angle-right"></i></div>
									</div>
								</div>

								<div class="owl-carousel owl-theme" data-visible-items="5" data-navigation="true" data-lazyload="true">
									<div class="product" data-product-id="17">
										<div class="entry-media">
											<img th:src="@{/images/men/jacket/271865-0286_1_t.jpg}" alt="" class="lazyOwl thumb" />
											<div class="hover">
												<a href="product.html" class="entry-url"></a>
												<ul class="icons unstyled">
													<li>
														<div class="circle ribbon ribbon-sale">Sale</div>
													</li>
													<li>
														<a href="images/men/jacket/271865-0286_1.jpg" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
													</li>
													<li>
														<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
													</li>
												</ul>
												<div class="rate-bar">
													<input type="range" value="4.5" step="0.5" id="backing9" />
													<div class="rateit" data-rateit-backingfld="#backing9" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
												</div>
											</div>
										</div>
										<div class="entry-main">
											<h5 class="entry-title">
											<a href="#">套餐一</a>
										</h5>
											<div class="entry-price">
												<s class="entry-discount">￥ 350.00</s>
												<strong class="accent-color price">￥ 250.00</strong>
											</div>
										</div>
									</div>

									<div class="product" data-product-id="18">
										<div class="entry-media">
											<img th:src="@{/images/men/jacket/634082-0014_1_t.jpg}" alt="" class="lazyOwl thumb" />
											<div class="hover">
												<a href="product.html" class="entry-url"></a>
												<ul class="icons unstyled">
													<li>
														<a href="images/men/jacket/634082-0014_1.jpg" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
													</li>
													<li>
														<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
													</li>
												</ul>
												<div class="rate-bar">
													<input type="range" value="4" step="0.5" id="backing10" />
													<div class="rateit" data-rateit-backingfld="#backing10" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
												</div>
											</div>
										</div>
										<div class="entry-main">
											<h5 class="entry-title">
											<a href="#">套餐二</a>
										</h5>
											<div class="entry-price">
												<strong class="price">￥ 350.00</strong>
											</div>
										</div>
									</div>

									<div class="product" data-product-id="19">
										<div class="entry-media">
											<img th:src="@{/images/men/jacket/217365-0014_1_t.jpg}" alt="" class="lazyOwl thumb" />
											<div class="hover">
												<a href="product.html" class="entry-url"></a>
												<ul class="icons unstyled">
													<li>
														<div class="circle ribbon ribbon-new">New</div>
													</li>
													<li>
														<a href="images/men/jacket/217365-0014_1.jpg" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
													</li>
													<li>
														<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
													</li>
												</ul>
												<div class="rate-bar">
													<input type="range" value="3.5" step="0.5" id="backing11" />
													<div class="rateit" data-rateit-backingfld="#backing11" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
												</div>
											</div>
										</div>
										<div class="entry-main">
											<h5 class="entry-title">
											<a href="#">套餐三</a>
										</h5>
											<div class="entry-price">
												<strong class="price">￥ 450.00</strong>
											</div>
										</div>
									</div>

									<div class="product" data-product-id="20">
										<div class="entry-media">
											<img th:src="@{/images/men/blazer/105797-1056_1_t.jpg}" alt="" class="lazyOwl thumb" />
											<div class="hover">
												<a href="product.html" class="entry-url"></a>
												<ul class="icons unstyled">
													<li>
														<a href="images/men/blazer/105797-1056_1.jpg" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
													</li>
													<li>
														<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
													</li>
												</ul>
												<div class="rate-bar">
													<input type="range" value="5" step="0.5" id="backing12" />
													<div class="rateit" data-rateit-backingfld="#backing12" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
												</div>
											</div>
										</div>
										<div class="entry-main">
											<h5 class="entry-title">
											<a href="#">套餐四</a>
										</h5>
											<div class="entry-price">
												<strong class="price">￥ 350.00</strong>
											</div>
										</div>
									</div>

									<div class="product" data-product-id="21">
										<div class="entry-media">
											<img th:src="@{/images/men/jumper/271866-0014_1_t.jpg}" alt="" class="lazyOwl thumb" />
											<div class="hover">
												<a href="product.html" class="entry-url"></a>
												<ul class="icons unstyled">
													<li>
														<div class="circle ribbon ribbon-sale">Sale</div>
													</li>
													<li>
														<a href="images/men/jumper/271866-0014_1.jpg" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
													</li>
													<li>
														<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
													</li>
												</ul>
												<div class="rate-bar">
													<input type="range" value="4.5" step="0.5" id="backing13" />
													<div class="rateit" data-rateit-backingfld="#backing13" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
												</div>
											</div>
										</div>
										<div class="entry-main">
											<h5 class="entry-title">
											<a href="#">套餐五</a>
										</h5>
											<div class="entry-price">
												<s class="entry-discount">￥350.00</s>
												<strong class="accent-color price">￥ 250.00</strong>
											</div>
										</div>
									</div>

									<div class="product" data-product-id="22">
										<div class="entry-media">
											<img th:src="@{/images/men/shirt/803500-6989_1_t.jpg}" alt="" class="lazyOwl thumb" />
											<div class="hover">
												<a href="product.html" class="entry-url"></a>
												<ul class="icons unstyled">
													<li>
														<a href="images/men/shirt/803500-6989_1.jpg" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
													</li>
													<li>
														<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
													</li>
												</ul>
												<div class="rate-bar">
													<input type="range" value="4" step="0.5" id="backing14" />
													<div class="rateit" data-rateit-backingfld="#backing14" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
												</div>
											</div>
										</div>
										<div class="entry-main">
											<h5 class="entry-title">
											<a href="#">套餐六</a>
										</h5>
											<div class="entry-price">
												<strong class="price">￥ 350.00</strong>
											</div>
										</div>
									</div>

									<div class="product" data-product-id="23">
										<div class="entry-media">
											<img th:src="@{/images/men/shirt/217360-0014_1_t.jpg}" alt="" class="lazyOwl thumb" />
											<div class="hover">
												<a href="product.html" class="entry-url"></a>
												<ul class="icons unstyled">
													<li>
														<div class="circle ribbon ribbon-new">New</div>
													</li>
													<li>
														<a href="images/men/shirt/217360-0014_1.jpg" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
													</li>
													<li>
														<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
													</li>
												</ul>
												<div class="rate-bar">
													<input type="range" value="3.5" step="0.5" id="backing15" />
													<div class="rateit" data-rateit-backingfld="#backing15" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
												</div>
											</div>
										</div>
										<div class="entry-main">
											<h5 class="entry-title">
											<a href="#">套餐七</a>
										</h5>
											<div class="entry-price">
												<strong class="price">￥ 450.00</strong>
											</div>
										</div>
									</div>

									<div class="product" data-product-id="24">
										<div class="entry-media">
											<img th:src="@{/images/men/accessories/000095-0014_2_t.jpg}" alt="" class="lazyOwl thumb" />
											<div class="hover">
												<a href="product.html" class="entry-url"></a>
												<ul class="icons unstyled">
													<li>
														<a href="images/men/accessories/000095-0014_2.jpg" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
													</li>
													<li>
														<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
													</li>
												</ul>
												<div class="rate-bar">
													<input type="range" value="5" step="0.5" id="backing16" />
													<div class="rateit" data-rateit-backingfld="#backing16" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
												</div>
											</div>
										</div>
										<div class="entry-main">
											<h5 class="entry-title">
											<a href="#">套餐八</a>
										</h5>
											<div class="entry-price">
												<strong class="price">￥ 350.00</strong>
											</div>
										</div>
									</div>
								</div>

							</div>
							<!-- // END CAROUSEL -->

						</div>
					</div>
				</section>
			
			</main>
			<!-- 尾部 -->
			<footer class="page-footer">

				<!-- WIDGET AREA -->
				<div class="widgets">

					<!-- FIRST ROW -->
					<div class="section">
						<div class="container">
							<div class="row">

								<div class="col-xs-12 col-sm-6 col-md-3">
									<section class="widget widget-text">
										<h5 class="widget-title">研学旅行 </h5>
										<div class="widget-content">
											<p>研学旅行是由学校根据区域特色、学生年龄特点和各学科教学内容需要，组织学生通过集体旅行、集中食宿的方式走出校园，在与平常不同的生活中拓展视野、丰富知识，加深与自然和文化的亲近感，增加对集体生活方式和社会公共道德的体验。</p>
											<p>研学旅行继承和发展了我国传统游学、“读万卷书，行万里路”的教育理念和人文精神，成为素质教育的新内容和新方式。提升中小学生的自理能力、创新精神和实践能力。</p>
										</div>
									</section>
								</div>

								<div class="col-xs-12 col-sm-6 col-md-3">
									<section class="widget widget-text">
										<h5 class="widget-title">营业时间</h5>
										<div class="widget-content">
											<p>周一至周五:-------------------------9.00 至 18.00</p>
											<p>星期六:--------------------------------10.00 至 16.00</p>
											<p>星期天:----------------------------------10.00 至 16.00</p>
											<br/>
											<p>Every 30 day of month Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
										</div>
									</section>
								</div>

								<div class="space40 visible-sm clearfix"></div>

								<div class="col-xs-12 col-sm-6 col-md-3">
									<section class="widget widget-menu">
										<h5 class="widget-title">信息</h5>
										<div class="widget-content">
											<ul class="menu iconed-menu unstyled">
												<li>
													<a href="#"><i class="iconfont-circle-blank menu-icon"></i>加盟</a>
												</li>
												<li>
													<a href="#"><i class="iconfont-circle-blank menu-icon"></i>应聘</a>
												</li>
												<li>
													<a href="#"><i class="iconfont-circle-blank menu-icon"></i>了解我们</a>
												</li>
												<li>
													<a href="#"><i class="iconfont-circle-blank menu-icon"></i>常见问题</a>
												</li>
												<li>
													<a href="#"><i class="iconfont-circle-blank menu-icon"></i>网站地址</a>
												</li>
											</ul>
										</div>
									</section>
								</div>

								<div class="col-xs-12 col-sm-6 col-md-3">
									facebook
								</div>

							</div>
						</div>
					</div>
					<!-- // FIRST ROW -->

					<!-- SECOND ROW -->
					<div class="section">
						<div class="container">
							<div class="row">

								<div class="col-xs-12 col-sm-12 col-md-3">
									<section class="widget widget-menu">
										<h5 class="widget-title">联系信息</h5>
										<div class="widget-content">
											<ul class="menu iconed-list unstyled">
												<li>
													<span class="list-icon"><i class="round-icon iconfont-map-marker"></i></span>
													<div class="list-content">XX省 XX市 XX区 XX街道XX XXX XXX</div>
												</li>
												<li>
													<span class="list-icon"><i class="round-icon iconfont-phone"></i></span>
													<div class="list-content">(+86)15847381748</div>
												</li>
												<li>
													<span class="list-icon"><i class="round-icon iconfont-envelope-alt"></i></span>
													<div class="list-content">Travel study@qq.com</div>
												</li>
											</ul>
										</div>
									</section>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-6">
									<section class="widget widget-ads">
										<div class="widget-content">
											<div class="center-xs">
												<div class="ads">
													<a href="#">
														<img th:src="@{/images/demo/images-footer.jpg}" alt="" />
													</a>
													<div class="ads-caption bottom-right">
														<a href="#" class="btn btn-default btn-round">
															<i class="round-icon iconfont-angle-right"></i>
															<span class="inline-middle">显示更多</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-3">
									<section class="widget widget-subscription">
										<h5 class="widget-title">时事通讯</h5>
										<div class="widget-content">
											<p>订阅成为第一个了解销售，活动和独家优惠的人！</p>
											<form action="#" method="post">
												<div class="input-group">
													<label for="subscription-email" class="placeholder">输入你的电子邮箱</label>
													<input type="email" id="subscription-email" name="email" class="form-control" required />
													<span class="input-group-btn">
												<button class="btn btn-primary">订阅</button>
											</span>
												</div>
											</form>
										</div>
									</section>
								</div>

							</div>
						</div>
					</div>
					<!-- // SECOND ROW -->

				</div>
				<!-- // WIDGET AREA -->

				<div class="footer-sub">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<div class="footer-links center-xs clearfix">
									<ul class="unstyled">
										<li>
											<a href="#">网站地图</a>
										</li>
										<li>
											<a href="#">常见问题</a>
										</li>
										<li>
											<a href="#">为我们工作</a>
										</li>
										<li>
											<a href="#">联系我们</a>
										</li>
									</ul>
								</div>
								<div class="space10"></div>
								<div class="copyright center-xs">
									<p>©2019页面版权所有归研学旅行所有</p>
								</div>
							</div>

							<div class="space40 visible-xs"></div>

							<div class="col-xs-12 col-sm-6 center-xs">
								<div class="pull-right">
									<div class="vmid">
										<span class="uppercase">付款接受&emsp;</span>
										<a href="#"><img th:src="@{/img1/visacard.png}" alt="" width="40" /></a>
										<a href="#"><img th:src="@{/img1/mastercard.png}" alt="" width="40" /></a>
										<a href="#"><img th:src="@{/img1/paypal.png}" alt="" width="40" /></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</footer>
		
		</div>
	</body>
		<script th:src="@{/js1/minified.js}"></script>
		<script th:src="@{/js1/owl.carousel.js}"></script>
		<script th:src="@{/js1/jquery.flexslider-min.js}"></script>
</html>