
<html class="noIE" lang="en-US" xmlns:th="http://www.themleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>GFashion - Responsive e-commerce HTML Template</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="icon" href="img1/favicon/favicon.html" type="/image/x-icon" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img1/favicon/apple-touch-icon-144x144-precomposed.html">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img1/favicon/apple-touch-icon-72x72-precomposed.html">
		<link rel="apple-touch-icon-precomposed" href="/img1/favicon/apple-touch-icon-precomposed.html">
		<link rel="stylesheet" href="/css1/minified.css">
		<script>
			window.jQuery || document.write('<script src="/js1/jquery.min.js"><\/script>');
		</script>
		<script src="/js1/modernizr.min.js"></script>
		<link rel="stylesheet" href="/css1/jquery.nouislider.css">
		<link rel="stylesheet" href="/css1/isotope.css">
		<link rel="stylesheet" href="/css1/innerpage.css">
		<link rel="stylesheet" href="/css1/responsive.css">
	</head>

	<body class="products-view">
		<header id="site-header" role="banner">
			<!-- HEADER TOP -->
			<div class="header-top">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-7">
							<!-- CONTACT INFO -->
							<div class="contact-info">
								<i class="iconfont-headphones round-icon"></i>
								<strong>+444 (100) 1234</strong>
								<span>(周一- 周五: 09.00 - 21.00)</span>
							</div>
							<!-- // CONTACT INFO -->
						</div>
						<div class="col-xs-12 col-sm-6 col-md-5">
							<ul class="actions unstyled clearfix">
								<li>
									<!-- SEARCH BOX -->
									<div class="search-box">
										<form action="#" method="post">
											<div class="input-iconed prepend">
												<button class="input-icon"><i class="iconfont-search"></i></button>
												<label for="input-search" class="placeholder">在这里搜索</label>
												<input type="text" name="q" id="input-search" class="round-input full-width" required />
											</div>
										</form>
									</div>
									<!-- // SEARCH BOX -->
								</li>
								<li data-toggle="sub-header" data-target="#sub-social">
									<!-- SOCIAL ICONS -->
									<a href="javascript:void(0);" id="social-icons">
										<i class="iconfont-share round-icon"></i>
									</a>

									<div id="sub-social" class="sub-header">
										<ul class="social-list unstyled text-center">
											<li>
												<a href="#"><i class="iconfont-facebook round-icon"></i></a>
											</li>
											<li>
												<a href="#"><i class="iconfont-twitter round-icon"></i></a>
											</li>
											<li>
												<a href="#"><i class="iconfont-google-plus round-icon"></i></a>
											</li>
											<li>
												<a href="#"><i class="iconfont-pinterest round-icon"></i></a>
											</li>
											<li>
												<a href="#"><i class="iconfont-rss round-icon"></i></a>
											</li>
										</ul>
									</div>
									<!-- // SOCIAL ICONS -->
								</li>
								<li data-toggle="sub-header" data-target="#sub-cart">
									<!-- SHOPPING CART -->
									<a href="javascript:void(0);" id="total-cart">
										<i class="iconfont-shopping-cart round-icon"></i>
									</a>

									<div id="sub-cart" class="sub-header">
										<div class="cart-header">
											<span>你的购物车是空的</span>
											<small><a href="cart.html">(See All)</a></small>
										</div>
										<ul class="cart-items product-medialist unstyled clearfix"></ul>
										<div class="cart-footer">
											<div class="cart-total clearfix">
												<span class="pull-left uppercase">总计</span>
												<span class="pull-right total">￥ 0</span>
											</div>
											<div class="text-right">
												<a href="cart.html" class="btn btn-default btn-round view-cart">查看</a>
											</div>
										</div>
									</div>
									<!-- // SHOPPING CART -->
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="cart-notification">
					<ul class="unstyled"></ul>
				</div>
			</div>

			<div class="main-header-wrapper">
				<div class="container">
					<div class="main-header">
						<div class="actions">
							<div class="center-xs">
								<ul class="option-list unstyled">
									<li class="active">
										<a href="#" data-toggle="tooltip" title="人民币">￥</a>
									</li>
									<li>
										<a href="#" data-toggle="tooltip" title="GBP - British Pound">£</a>
									</li>
									<li>
										<a href="#" data-toggle="tooltip" title="EUR - Euro">€</a>
									</li>
								</ul>

								<ul class="option-list unstyled">
									<li class="active">
										<a href="#" data-toggle="tooltip" title="中文">CH</a>
									</li>
									<li>
										<a href="#" data-toggle="tooltip" title="French">FR</a>
									</li>
									<li>
										<a href="#" data-toggle="tooltip" title="Deutsch">DE</a>
									</li>
								</ul>
								<!-- // LANGUAGES -->
							</div>
							<div class="clearfix"></div>
							<!-- USER RELATED MENU -->
							<nav id="tiny-menu" class="clearfix">
								<ul class="user-menu">
									<li>
										<a href="Person.html">我的账户</a>
									</li>
									<li>
										<a href="Person.html">查看</a>
									</li>
									<li>
										<a href="login-page.html">登出</a>
									</li>
								</ul>
							</nav>
							<!-- // USER RELATED MENU -->
						</div>
						<!-- // CURRENCY / LANGUAGE / USER MENU -->
						<!-- SITE LOGO -->
						<div class="logo-wrapper">
							<a href="index-2.html" class="logo" title="GFashion - Responsive e-commerce HTML Template">
								<img src="images/logo2.png" alt="Logo" />
							</a>
						</div>
						<!-- // SITE LOGO -->
						<!-- SITE NAVIGATION MENU -->
						<nav id="site-menu" role="navigation">
							<ul class="main-menu hidden-sm hidden-xs">
								<li class="active">
									<a href="pagehome.html">首页</a>
								</li>
								<li>
									<a href="productList.html">活动</a>
								</li>
								<li>
									<a href="menu1.html">餐饮</a>
								</li>
								<li>
									<a href="hotel.html">住宿</a>
								</li>

								<li>
									<a href="Person.html">个人中心</a>
								</li>
							</ul>

						</nav>
						<!-- // SITE NAVIGATION MENU -->
					</div>
				</div>
			</div>
		</header>
		<div id="page-wrapper">
			<div class="breadcrumb-container">
				<div class="container">
					<div class="relative">
						<ul class="bc push-up unstyled clearfix">
							<li>
								<a href="pagehome.html">首页</a>
							</li>
							<li class="active">活动</li>
						</ul>
					</div>
				</div>
			</div>
			<main id="main-content" role="main">
				<div class="container">
					<div class="row">
						<div class="m-t-b clearfix">
							<aside class="col-xs-12 col-sm-4 col-md-3">
								<section class="sidebar push-up">

									<section class="side-section bg-white">
										<header class="side-section-header">
											<h3 class="side-section-title">项目</h3>
										</header>
										<div class="side-section-content">
											<ul id="category-list" class="vmenu unstyled">
												<li>
													<input type="checkbox" id="check-women" class="prettyCheckable" data-label="农业" data-labelPosition="right" value="健身" />
													<ul>
														<li><input type="checkbox" id="check-women-accessories" class="prettyCheckable" data-label="种田" data-labelPosition="right" value="women-accessories" /></li>
														<li><input type="checkbox" id="check-women-swimwear" class="prettyCheckable" data-label="植树" data-labelPosition="right" value="women-swimwear" /></li>
														<li><input type="checkbox" id="check-women-basics" class="prettyCheckable" data-label="抓鱼" data-labelPosition="right" value="women-basics" /></li>
													</ul>
												</li>
												<li>
													<input type="checkbox" id="check-men" class="prettyCheckable" data-label="健身" data-labelPosition="right" value="men" />
													<ul>
														<li><input type="checkbox" id="check-men-accessories" class="prettyCheckable" data-label="骑马" data-labelPosition="right" value="men-accessories" /></li>
														<li><input type="checkbox" id="check-men-jacket" class="prettyCheckable" data-label="射箭" data-labelPosition="right" value="men-jacket" /></li>
														<li><input type="checkbox" id="check-men-jumper" class="prettyCheckable" data-label="攀爬" data-labelPosition="right" value="men-jumper" /></li>
														<li><input type="checkbox" id="check-men-jean" class="prettyCheckable" data-label="游泳" data-labelPosition="right" value="men-jean" /></li>
													</ul>
												</li>
												<li>
													<input type="checkbox" id="check-beauty" class="prettyCheckable" data-label="Beauty & Make-up" data-labelPosition="right" value="makeup" />
												</li>
											</ul>
										</div>
										<footer class="side-section-footer text-center hide">
											<button type="button" id="btn-filter-cat" class="btn btn-primary btn-round uppercase">Clear Filters</button>
										</footer>
									</section>
								</section>
							</aside>
							<section class="col-xs-12 col-sm-8 col-md-9">
								<section class="products-wrapper">
									<header class="products-header">
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-6 center-xs">
												<!-- DISPLAY MODE -->
												<ul class="unstyled inline-li li-m-r-l-sm pull-left">
													<li>
														<a class="round-icon active" href="#" data-toggle="tooltip" data-layout="grid" data-title="Switch to List Grid Mode"><i class="iconfont-th"></i></a>
													</li>
													<li>
														<a class="round-icon" href="#" data-toggle="tooltip" data-layout="list" data-title="Switch to List View Mode"><i class="iconfont-list"></i></a>
													</li>
												</ul>
												<!-- // DISPLAY MODE -->

												<!-- NUMBER OF ITEMS TO BE DISPLAY -->
												<div class="pull-right m-l-lg">
													<span class="inline-middle m-r-sm text-xs">Show</span>
													<div class="inline-middle styled-dd">
														<select>
															<option value="9">9</option>
															<option value="12" selected>12</option>
															<option value="24">24</option>
															<option value="36">36</option>
														</select>
													</div>
												</div>
											</div>
											<div class="space30 visible-xs"></div>
											<!-- PAGINATION -->
											<div class="col-xs-12 col-sm-12 col-md-6 center-xs">
												<ul class="paginator li-m-r-l pull-right">
													<li>
														<a class="round-icon" href="#" data-toggle="tooltip" data-title="Previous Page"><i class="iconfont-angle-left"></i></a>
													</li>
													<li>
														<a href="#">1</a>
													</li>
													<li>
														<a href="#">2</a>
													</li>
													<li>
														<a href="#">3</a>
													</li>
													<li>
														<a href="#">4</a>
													</li>
													<li>
														<a href="#">5</a>
													</li>
													<li>
														<a class="round-icon" href="#" data-toggle="tooltip" data-title="Next Page"><i class="iconfont-angle-right"></i></a>
													</li>
												</ul>
											</div>
											<!-- // PAGINATION -->
										</div>
									</header>
									<div class="products-layout grid m-t-b add-cart" data-product=".product" data-thumbnail=".entry-media .thumb" data-title=".entry-title > a" data-url=".entry-title > a" data-price=".entry-price > .price">
										<div class="product" data-product-id="1" data-category="women|women-jeans|women-skirt" data-brand="brand1" data-price="250" data-colors="red|blue|black|white" data-size="S|M|L">
											<div class="entry-media">
												<img data-src="images/qimai.jpg" alt="" class="lazyLoad thumb" />
												<div class="hover">
													<a href="productInfo.html" class="entry-url"></a>
													<ul class="icons unstyled">
														<li>
															<div class="circle ribbon ribbon-sale">Sale</div>
														</li>
														<li>
															<a href="images/qimai.jpg" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
														</li>
														<li>
															<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
														</li>
													</ul>
													<div class="rate-bar">
														<input type="range" value="4.5" step="0.5" id="backing1" />
														<div class="rateit" data-rateit-backingfld="#backing1" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
													</div>
												</div>
											</div>
											<div class="entry-main">
												<h5 class="entry-title">
												<a href="productInfo.html">骑马</a>
											</h5>
												<div class="entry-description visible-list">
													<p>骑马简介</p>
												</div>
												<div class="entry-price">
													<s class="entry-discount">￥50.00</s>
													<strong class="accent-color price">￥48.00</strong>
													<a href="#" class="btn btn-round btn-default add-to-cart visible-list">加入购物车</a>
												</div>
											</div>
										</div>
										<div class="product" data-product-id="7" data-category="women|women-swimwear|best|new" data-brand="brand5" data-price="150" data-colors="white|black|patternie" data-size="XS|S">
											<div class="entry-media">
												<img data-src="images/zhongtian.jpg" alt="" class="lazyLoad thumb" />
												<div class="hover">
													<a href="productInfo.html" class="entry-url"></a>
													<ul class="icons unstyled">
														<li>
															<div class="circle ribbon ribbon-new">New</div>
														</li>
														<li>
															<a href="images/zhongtian.jpg" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
														</li>
														<li>
															<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
														</li>
													</ul>
													<div class="rate-bar">
														<input type="range" value="3.5" step="0.5" id="backing7" />
														<div class="rateit" data-rateit-backingfld="#backing7" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
													</div>
												</div>
											</div>
											<div class="entry-main">
												<h5 class="entry-title">
												<a href="productInfo.html">种田</a>
											</h5>
												<div class="entry-description visible-list">
													<p>种田简介</p>
												</div>
												<div class="entry-price">
													<strong class="price">￥40.00</strong>
													<a href="#" class="btn btn-round btn-default add-to-cart visible-list">加入购物车</a>
												</div>
											</div>
										</div>
										<div class="product" data-product-id="8" data-category="women|women-dresses|best" data-brand="brand4" data-price="350" data-colors="white|black" data-size="XS|S|L">
											<div class="entry-media">
												<img data-src="images/yinghuayuan1.jpg" alt="" class="lazyLoad thumb" />
												<div class="hover">
													<a href="productInfo.html" class="entry-url"></a>
													<ul class="icons unstyled">
														<li>
															<a href="images/yinghuayuan1.jpg" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
														</li>
														<li>
															<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
														</li>
													</ul>
													<div class="rate-bar">
														<input type="range" value="5" step="0.5" id="backing8" />
														<div class="rateit" data-rateit-backingfld="#backing8" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
													</div>
												</div>
											</div>
											<div class="entry-main">
												<h5 class="entry-title">
												<a href="productInfo.html">樱花园</a>
											</h5>
												<div class="entry-description visible-list">
													<p>樱花园简介</p>
												</div>
												<div class="entry-price">
													<strong class="price">￥70.00</strong>
													<a href="#" class="btn btn-round btn-default add-to-cart visible-list">Add to Cart</a>
												</div>
											</div>
										</div>
									</div>
								</section>
							</section>
						</div>
					</div>
				</div>
			</main>
		</div>
		<footer class="page-footer">

			<!-- WIDGET AREA -->
			<div class="widgets">

				<!-- FIRST ROW -->
				<div class="section">
					<div class="container">
						<div class="row">

							<div class="col-xs-12 col-sm-6 col-md-3">
								<section class="widget widget-text">
									<h5 class="widget-title">研学旅行 </h5>
									<div class="widget-content">
										<p>研学旅行是由学校根据区域特色、学生年龄特点和各学科教学内容需要，组织学生通过集体旅行、集中食宿的方式走出校园，在与平常不同的生活中拓展视野、丰富知识，加深与自然和文化的亲近感，增加对集体生活方式和社会公共道德的体验。</p>
										<p>研学旅行继承和发展了我国传统游学、“读万卷书，行万里路”的教育理念和人文精神，成为素质教育的新内容和新方式。提升中小学生的自理能力、创新精神和实践能力。</p>
									</div>
								</section>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-3">
								<section class="widget widget-text">
									<h5 class="widget-title">营业时间</h5>
									<div class="widget-content">
										<p>周一至周五:-------------------------9.00 至 18.00</p>
										<p>星期六:--------------------------------10.00 至 16.00</p>
										<p>星期天:----------------------------------10.00 至 16.00</p>
										<br/>
										<p>Every 30 day of month Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
									</div>
								</section>
							</div>

							<div class="space40 visible-sm clearfix"></div>

							<div class="col-xs-12 col-sm-6 col-md-3">
								<section class="widget widget-menu">
									<h5 class="widget-title">信息</h5>
									<div class="widget-content">
										<ul class="menu iconed-menu unstyled">
											<li>
												<a href="#"><i class="iconfont-circle-blank menu-icon"></i>加盟</a>
											</li>
											<li>
												<a href="#"><i class="iconfont-circle-blank menu-icon"></i>应聘</a>
											</li>
											<li>
												<a href="#"><i class="iconfont-circle-blank menu-icon"></i>了解我们</a>
											</li>
											<li>
												<a href="#"><i class="iconfont-circle-blank menu-icon"></i>常见问题</a>
											</li>
											<li>
												<a href="#"><i class="iconfont-circle-blank menu-icon"></i>网站地址</a>
											</li>
										</ul>
									</div>
								</section>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-3">
								facebook
							</div>

						</div>
					</div>
				</div>
				<!-- // FIRST ROW -->

				<!-- SECOND ROW -->
				<div class="section">
					<div class="container">
						<div class="row">

							<div class="col-xs-12 col-sm-12 col-md-3">
								<section class="widget widget-menu">
									<h5 class="widget-title">联系信息</h5>
									<div class="widget-content">
										<ul class="menu iconed-list unstyled">
											<li>
												<span class="list-icon"><i class="round-icon iconfont-map-marker"></i></span>
												<div class="list-content">XX省 XX市 XX区 XX街道XX XXX XXX</div>
											</li>
											<li>
												<span class="list-icon"><i class="round-icon iconfont-phone"></i></span>
												<div class="list-content">(+86)15847381748</div>
											</li>
											<li>
												<span class="list-icon"><i class="round-icon iconfont-envelope-alt"></i></span>
												<div class="list-content">Travel study@qq.com</div>
											</li>
										</ul>
									</div>
								</section>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-6">
								<section class="widget widget-ads">
									<div class="widget-content">
										<div class="center-xs">
											<div class="ads">
												<a href="#">
													<img src="images/demo/images-footer.jpg" alt="" />
												</a>
												<div class="ads-caption bottom-right">
													<a href="#" class="btn btn-default btn-round">
														<i class="round-icon iconfont-angle-right"></i>
														<span class="inline-middle">显示更多</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-3">
								<section class="widget widget-subscription">
									<h5 class="widget-title">时事通讯</h5>
									<div class="widget-content">
										<p>订阅成为第一个了解销售，活动和独家优惠的人！</p>
										<form action="#" method="post">
											<div class="input-group">
												<label for="subscription-email" class="placeholder">输入你的电子邮箱</label>
												<input type="email" id="subscription-email" name="email" class="form-control" required />
												<span class="input-group-btn">
												<button class="btn btn-primary">订阅</button>
											</span>
											</div>
										</form>
									</div>
								</section>
							</div>

						</div>
					</div>
				</div>
				<!-- // SECOND ROW -->

			</div>
			<!-- // WIDGET AREA -->

		</footer>
		<script src="/js1/minified.js"></script>
		<script>
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o),
					m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-27646173-3', 'themina.net');
			ga('send', 'pageview');
		</script>
		<script src="/js1/jquery.nouislider.js"></script>
		<script src="/js1/jquery.isotope.min.js"></script>
		<script src="/js1/products.js"></script>
	</body>

</html>