<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>项目管理</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}"/>
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" th:href="@{/css/templatemo-style.css}">
    
  </head>

  <body id="reportsPage">
  	<div class="md-5" id="home">
  	<div class="container"  style="margin-top: 30px;">  
		<div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
        	<input type="text" placeholder="项目名称" class="form-control-sm"/>
        	<input type="text" placeholder="负责人" style="margin-left: 30px;" class="form-control-sm"/>
        	<input type="button" id="" style="border-radius: 30px 30px 30px 30px;width: 100px;margin-left: 30px;" class="btn-primary" value="查询" />
          <div class="tm-bg-primary-dark tm-block tm-block-products" style="margin-top: 30px;">
            <div class="tm-product-table-container">
              <table class="table table-hover tm-table-small tm-product-table">
                <thead>
                  <tr>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">项目名称</th>
                    <th scope="col">建成金额</th>
                    <th scope="col">创建时间</th>
                    <th scope="col">状态</th>
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><input type="checkbox" /></th>
                    <td class=""><a href="edit-project.html" style="color: white;">活动名称</a></td>
                    <td>1,450</td>
                    <td>28 March 2019</td>
                    <td>开放</td>
                    <td>
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                 
                </tbody>
              </table>
            </div>
            <!-- table container -->
            <a
              th:href="@{toinsert}"
              class="btn btn-primary btn-block text-uppercase mb-3">新增项目</a>
            <button class="btn btn-primary btn-block text-uppercase">
            	删除项目
            </button>
          </div>
        </div>
			
      </div>
      </div>

</div>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <!-- https://jquery.com/download/ -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
      $(function() {
        $(".tm-product-name").on("click", function() {
          window.location.href = "edit-product.html";
        });
      });
    </script>
  </body>
</html>