<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>项目管理</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}"/>
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" th:href="@{/css/templatemo-style.css}">
    
  </head>

  <body id="reportsPage">
  	<div class="md-5" id="home">
  	<div class="container"  style="margin-top: 30px;">  
		<div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
        	<form action="query" method="post">
	        	<input type="text" placeholder="项目名称" class="form-control-sm"/>
	        	<input type="text" placeholder="负责人" style="margin-left: 30px;" class="form-control-sm"/>
	        	<input type="submit" id="" style="border-radius: 30px 30px 30px 30px;width: 100px;margin-left: 30px;" class="btn-primary" value="查询" />
	        </form>
          <div class="tm-bg-primary-dark tm-block tm-block-products" style="margin-top: 30px;">
            <div class="tm-product-table-container">
              <table class="table table-hover tm-table-small tm-product-table">
                <thead>
                  <tr>
                    <th scope="col">项目名称</th>
                    <th scope="col">负责人</th>
                    <th scope="col">创建时间</th>
                    <th scope="col">状态</th>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="item : ${list}">
                    <td class="" th:id="${item.id}"><a th:href="@{toproject_xq(id=${item.id})}" style="color: white;" th:text="${item.pname}"></a></td>
                    <td th:text="${item.use.uname}"></td>
                    <td th:text="${#dates.format(item.createtime, 'yyyy-MM-dd HH-mm-ss')}"></td>
                    <td th:if="${item.pstatus eq '1'}">开放</td>
                    <td th:if="${item.pstatus eq '0'}">维修</td>
                    <td th:if="${item.pstatus eq '2'}">检测</td>
                    <td>
                      <a href="javascript:void(0)" onclick="sc(this)" th:id="${item.id}" class="tm-product-delete-link" >
                      	
                        <i class="far fa-trash-alt tm-product-delete-icon delete"></i>
                      </a>
                      
                      <a href="javascript:void(0)" style="font-size: 12px;color:white;" onclick="look_jd(this)">基地→</a>
                    </td>
                    <td>
                    	<a th:href="@{to_Update_Project(id=${item.id})}" style="font-size: 20px;color:white;">✏</a>
                    </td>
                  </tr>
                 
                </tbody>
              </table>
            </div>
            <!-- table container -->
            <a
              th:href="@{toinsert}"
              class="btn btn-primary btn-block text-uppercase mb-3">新增项目</a>
          </div>
          
        </div>
			<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
	          <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
	            <h2 class="tm-block-title">具体基地</h2>
	            <div class="tm-product-table-container" id="xm_show">
	              
	            </div>
	          </div>
	        </div>
      </div>
      </div>

</div>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <!-- https://jquery.com/download/ -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
      $(function() {
        $(".tm-product-name").on("click", function() {
          window.location.href = "edit-product.html";
        });
        
        $("[name=delete_project]").click(function(){
        	var id=$(this).attr(id);
        	
        })
      });
      
      function look_jd(th){
	      	var pid=$(th).parents("tr").find("td:eq(0)").attr("id");
	      	 $.ajax({
	      		url:"queryJd?pid="+pid,
	      		type:"post",
	      		dataType:"json",
	      		success:function(result){
	      			console.log(result);
	      			$("#xm_show").html("");
	      			$.each(result,function(i,obj){
	      				var dt=$("<table class='table tm-table-small tm-product-table'>"+
				        	        "<tbody>"+
					                  "<tr>"+
					                    "<td class='tm-product-name'>"+obj.area.aname+"</td>"+
					                    "<td class='text-center'>"+
					                      "<a href='#' class='tm-product-delete-link'>"+
					                        "<i class='far fa-trash-alt tm-product-delete-icon'></i>"+
					                      "</a>"+
					                    "</td>"+
					                  "</tr>"+
					                "</tbody>"+
					              "</table>");
	      				$("#xm_show").append(dt);
	      			})
	      			
	      		} 
	      	})
    }
      
      function sc(th){
  	    var id=$(th).attr("id");
  	    if(confirm("确定要删除吗？")){
  	     	location.href="project_delete?id="+id;
  		}
  	 }
    </script>
  </body>
</html>