<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>主页管理</title>
<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/templatemo-style.css}">
<style>
.box .status {
	margin-left: 15px;
}

.box .sum {
	margin-left: 5px;
}

.box .time {
	margin-left: 15px;
}

.content {
	margin: 10px;
	color: white;
	padding: 10px 20px 10px 10px;
}

.dingdanhao {
	margin-left: 5px;
}

.box {
	width: 100%;
	padding: 0px 25px;
	margin: 10px;
}

.box .dingdanhead {
	margin-bottom: 10px;
	margin-top: 10px;
	height: 40px;
	padding: 0px 15px;
	border: 1px solid rgb(225, 225, 225);
}

.step {
	margin: 4px 5px 0px 0px;
	display: inline-block;
	border: 1px solid rgb(227, 227, 227);
	background-color: rgba(242, 242, 242, 0.2);
	border-radius: 50%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 30px;
}

.box .dingdanhead h4 a {
	color: white;
}

.box .dingdanhead:hover {
	background-color: #34CE57;
}

.box .dingdanhead h4 {
	height: 100%;
	line-height: 100%;
	color: white;
	font-size: 16px;
	margin-bottom: 0px;
}

#shuxing .form-group {
	padding-bottom: 10px;
}

.form-group p {
	color: white;
	margin-right: 10px;
}

.form-group [type='radio']+span {
	color: white;
}

.tm-block {
	padding: 40px;
	width: 975px;
	-webkit-box-shadow: 1px 1px 5px 0 #455c71;
	-moz-box-shadow: 1px 1px 5px 0 #455c71;
	box-shadow: 1px 1px 5px 0 #455c71;
	height: 100%;
}

.panel-collapse in {
	display: block;
}

.collapsed {
	display: none;
}

.team {
	color: #99ff99;
	margin-left: 10px;
}

#xz_ry .modal-body span {
	display: inline-block;
	width: 150px;
	text-align: center;
}
</style>
</head>
<body id="reportsPage">
	<div class="" id="home">
		<div class="container">
			<div id="xz_ry">
				<div class="modal-dialog"
					style="max-width: 90%; text-align: center;">
					<div class="modal-content"
						style="background: #435c70; color: white;">
						<div class="modal-header">
							<h5 class="modal-title" id="myModalLabel">新增订单</h5>
						</div>
						<div class="modal-body" style="text-align: center;">
							<div style="margin: 30px auto;" class="infoss">
								<span style="margin-left: 50px;">团队</span> <input type="radio"
									name="dd_radio" data="dd_radio" class=""
									style="width: 15px; height: 15px;" /> <span
									style="margin-left: 70px;">个人</span> <input type="radio"
									name="dd_radio" data="gr_radio"
									style="width: 15px; height: 15px;" />
							</div>
							<div id="hide_dd" style="display: none;">
								<span style="margin-top: 20px;">请输入身份证号</span> <input
									type="text" name="card" value="123435231412312331"
									style="margin-left: 20px; height: 30px; margin-top: 20px; width: 30%;" />
								<input type="button" id="queryByFzr"
									style="border-radius: 30px 30px 30px 30px; width: 100px; margin-left: 100px;"
									class="btn-primary" value="查询" /> <br>
							</div>
							<div style="margin-top: 40px; display: none;"
								id="projectproduct_div">
								<span style="margin-left: 50px; margin-bottom: 30px"
									name="ckprojectproduct">选择活动</span> <input type="radio"
									name="productOrProject" xz="1"
									style="width: 15px; height: 15px;" /> <span
									style="margin-left: 70px;" name="ckprojectproduct">选择项目</span>
								<input type="radio" name="productOrProject" xz="2"
									style="width: 15px; height: 15px;" />
								<div name="productHidden" style="display: none;">
									<table
										class="table table-hover tm-table-small tm-product-table"
										style="width: 80%; margin: 30px auto;">
										<thead>
											<tr>
												<th scope="col">&nbsp;</th>
												<th scope="col">活动名称</th>

											</tr>
										</thead>
										<tbody class="proucttable" id="product_tbody">

										</tbody>
									</table>
								</div>
								<div name="projectHidden" style="display: none;">
									<table
										class="table table-hover tm-table-small tm-product-table"
										id="project-table" style="width: 80%; margin: 30px auto;">

										<tr>
											<th scope="col">&nbsp;</th>
											<th scope="col">项目名称</th>
											<th scope="col">状态</th>
										</tr>

									</table>
								</div>
							</div>

						</div>

						<div id="hide_cc" style="display: none; margin-top: 30px">
							<h5>活动项目</h5>
							<table class="table table-hover tm-table-small tm-product-table"
								id="project_table" style="margin-top: 20px;">
								<thead>
									<tr>
										<th>项目名称</th>
										<th>状态</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody class="pruduct_project_tbody">

								</tbody>

							</table>
						</div>

						<div id="xin_paiban" style="display: none;">
							<button class="btn btn-primary" name="xin_paiban_button"
								style="margin-top: 20px; margin-left: 25px; border-radius: 30px;">
								排班</button>
						</div>

						<div id="hide_project_time"
							style="margin-top: 10px;">
							<table id="boxorder" class="table">
							
							</table>
							
							
							</div>


					</div>
					
				</div>
				<!-- /.modal-content -->
			</div>
			<div class="modal-footer">
					
						<input type="button" value="提交" class="btn btn-primary order_submit" style="z-index:999;">
						<!-- <button type="button" name="order_submit" class="btn btn-primary">提交</button> -->
					</div>
		</div>
	</div>
	</div>
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/moment.min.js}"></script>
	<script th:src="@{/js/Chart.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/jquery-ui-datepicker/jquery-ui.min.js}"></script>
	<script th:src="@{/js/vue.js}"></script>

	<script type="text/javascript">
		var pid;
      	var ry_dt;
      	var jd_name;
      	var jd_id;
      	var usertype=1;
		var number1=0;
		var orderson1;
		var pd=1;
		var timelist=[];
		var etimes=new Date();
		var orderson1;
		var hd = 0; 
		var startTime=new Date();
		var i=0;
		var j=0;
		
      $(function() {
      	
		$("#queryByFzr").click(function(){
			
			var cord=$(this).prev("[name=card]").val();
			$.ajax({
				url:"/xjb_projectOrderController/queryByCoard?uid="+cord+"&typeId="+usertype+"",
				type:"post",
				dataType:"json",
				success:function(data){
					console.log(data);
					alert("此用户存在");
					if(data.length>0){
						users=data;
						number=data.length;
					}
					if(data.length==0){
						alert("还未录入团员信息哦");
					}
					$("#projectproduct_div").css("display","block");
				},
				error:function(data){
					alert("此用户不存在，去注册吧");
					location.href="/customer/toadd";
				}
			})
		})
		
        $("#expire_date").datepicker({
          defaultDate: "10/22/2020"
        });
        
         
         /*显示安排人身份证*/
		$("[data=dd_radio]").click(function(){
			if(true){
				$("#hide_dd").css("display","block");
			}
		});
		
		/*显示个人与团队*/
		$("[name=ap_user]").click(function(){
			$(".infoss").removeAttr("hidden");
		})
		
		
		
		var xzid;
		
		/*查询活动与项目如果xzid为1则查询活动为2则查询项目*/
		$("[name=productOrProject]").click(function(){
			
			xzid=$(this).attr("xz");
			
			/*活动*/
			if(xzid==1){
				$("[name=productHidden]").css('display','block');
				$("[name=projectHidden]").css('display','none');
				var product_name=$("[name=product_name]").val();
				$.ajax({
					url:"query_Product",
					type:"post",
					dataType:"json",
					success:function(result){
						
						$("#product_tbody").html(""); 
						$.each(result,function(i,obj){
							var dt=$("<tr>"+
				                    "<th scope='row'><input pid='"+obj.id+"' type='radio' name='look_product'/></th>"+
				                    "<td class='tm-product-name'>"+obj.pname+"</td>"+
				                  "</tr>"+
				                  "<tr hidden='hidden'>"+
				                  "</tr>");
							$("#product_tbody").append(dt);
						})
					}
				});
				/*项目*/
			}else if(xzid==2){
				$("[name=projectHidden]").css('display','block');
				$("[name=productHidden]").css('display','none');
				var project_name=$("[name=project_name]").val();
				$.ajax({
					url:"query_Project",
					type:"post",
					dataType:"json",
					success:function(result){
						var dt;
						$("#project-table").html(""); 
						$.each(result,function(i,obj){
							if(obj.pstatus==1){
								dt=$("<tbody class='one_project_tbody'>"+
										" <tr>"+
											"<td scope='row'><input type='checkbox' pid='"+obj.id+"' class='show_jd'/></td>"+
					                    	"<td class='tm-product-name'>"+obj.pname+"</td>"+
					                    	"<td>开放</td>"+
					                    	"<td></td>"+
					                    "</tr>"+
					                    "</tbody>")
							}else if(obj.pstatus==2){
								dt=$("<tbody class='one_project_tbody'>"+
										" <tr>"+
											"<td scope='row'><input type='checkbox' pid='"+obj.id+"' class='show_jd'/></td>"+
					                    	"<td class='tm-product-name'>"+obj.pname+"</td>"+
					                    	"<td>维修</td>"+
					                    	"<td></td>"+
					                    "</tr>"+
					                    "</tbody>")
							}else if(obj.pstatus==3){
								dt=$("<tbody class='one_project_tbody'>"+
										" <tr>"+
											"<td scope='row'><input type='checkbox' pid='"+obj.id+"' class='show_jd'/></td>"+
					                    	"<td class='tm-product-name'>"+obj.pname+"</td>"+
					                    	"<td>检测</td>"+
					                    	"<td></td>"+
					                    "</tr>"+
					                    "</tbody>")
							}
							
					                   $("#project-table").append(dt);
						})
					}
				});
			}
		})
		
		/*活动查询项目*/
		$("#product_tbody").on("click","[name=look_product]",function(){
			
			if(xzid==2){
				$("#hide_cc").css("display","block");
			}else if(xzid==1){
				$("#hide_cc").css("display","block");
				var pid1=$(this).attr("pid");
				$.ajax({
					url:"/xjb_productController/queryByProdId?productId="+pid1,
					type:"post",
					dataType:"json",
					success:function(result){
						var product_project_dt;
						$(".pruduct_project_tbody").html("");
						$.each(result,function(i,obj){
							if(obj.pro.pstatus==1){
								product_project_dt=$("<tr id='each_project_tr'>"+
					                    "<td scope='col' iid="+obj.pro.id+">"+obj.pro.pname+"</td>"+
					                    "<td scope='col'>开放</td>"+
					                    "<td scope='col'>"+
					                    	"<input type='checkbox' pid='"+obj.pro.id+"' class='show_jd'>"+
					                    "</td>"+
					                     "<td></td>"+				                     
					                 "</tr>")
		                    }else if(obj.pro.pstatus==2){
		                    	product_project_dt=$("<tr id='each_project_tr'>"+
		                    			"<div id='project_div'>"+
					                    "<td scope='col'>"+obj.pro.pname+"</td>"+
					                    "<td scope='col'>维修</td>"+
					                    "<td scope='col'>"+
					                    	"<input type='checkbox' pid='"+obj.pro.id+"' class='show_jd'>"+
					                    "</td>"+
					                     "<td></td>"+
					                     "</div>"+
					                 "</tr>")
		                    }else if(obj.pro.pstatus==3){
		                    	product_project_dt=$("<tr id='each_project_tr'>"+
		                    			"<div id='project_div'>"+
					                    "<td scope='col'>"+obj.pro.pname+"</td>"+
					                    "<td scope='col'>检测</td>"+
					                    "<td scope='col'>"+
					                    	"<input type='checkbox' pid='"+obj.pro.id+"' class='show_jd'>"+
					                    "</td>"+
					                     "<td></td>"+
					                     "</div>"+
					                 "</tr>")
		                    }
							$(".pruduct_project_tbody").append(product_project_dt);
						})
					}
				});
			}
			
		})
		
		
		
		/*选择活动点击项目查询基地与工作人员*/
		$("#project_table").on("click",".show_jd",function(){
				$("#xin_paiban").css("display","block");
				pid=$(this).attr("pid");
		}) 
		
		$("[name=xin_paiban_button]").click(function(){
			if(confirm("您以选完项目了吗")){
				$("#hide_project_time").css("display","block");
				var lis=[];
				$(".show_jd").each(function(){
					if(this.checked){
						var o={};
						o.iid=$(this).attr("pid");
						o.typeid=1;
						lis.push(o);
					}
				})
				i=0;
				var list=JSON.stringify(lis);
				orderson1=list;
				
				Xm(number); 
			}else{
				$(".show_jd").each(function(){
					$(this).prop("checked",false);
				})
			}
		});
		
		/*新增订单*/
		$(".order_submit").click(function(){
			alert("qwe");
			console.log("qweqweqw");
			/*订单从表*/
			var orderson=[];
			var typeid;
			var orderwork=[];
			var opklist=[];
			var wulist=[];
			var iid;
			if(xzid==1){
				alert("活动")
				$("[name=look_product]").each(function(){
					if(this.checked){
						var odr = {};
						typeid=5;
						iid=$(this).attr("pid")
						odr.typeid = typeid;
						odr.iid = iid;
						orderson.push(odr);
					}
				})
				
				$("#boxorder tr").each(function(){
					/*订单项目排班表*/
					wulist=[];
					var wuser={};
					/*安排人员*/
					wuser.productstaffid=$(this).find("td:eq(4)").find("span").attr("sid");
					wulist.push(wuser);
					var ordertime={};
					/*开始时间*/
					ordertime.starttime=$(this).find("td:eq(2)").text();
					/*结束时间*/
					ordertime.endtime=$(this).find("td:eq(3)").text();
					/*项目id*/
					ordertime.iid=$(this).find("td:eq(0)").next("input").val();
					/*基地id*/
					ordertime.name1=$(this).find("td:eq(1)").next("input").val();
					ordertime.list=wulist;
					opklist.push(ordertime);
				})
				
				/* if(xzid==2){
					
				} */
				orderwork.push({list:opklist});
			}else if(xzid==2){
				alert("项目")
				$(".show_jd").each(function(){
					if(this.checked){
						var odr1={};
						typeid=1;
						iid=$(this).parents("tr").find("td:eq(0)").attr("iid");
						odr1.typeid = typeid;
						odr1.iid = iid;
						orderson.push(odr1);
					}
				})
				wulist=[];
				$("#boxorder").each(function(){
					/*订单项目排班表*/
					var wuser={};
					/*安排人员*/
					wuser.productstaffid=$(this).find("td:eq(4)").find("span").attr("sid");
					wulist.push(wuser);
					var ordertime={};
					/*开始时间*/
					ordertime.starttime=$(this).find("td:eq(2)").text();
					/*结束时间*/
					ordertime.endtime=$(this).find("td:eq(3)").text();
					/*基地id*/
					ordertime.name1=$(this).find("td:eq(1)").next("input").val();
					ordertime.list=wulist;
					opklist.push(ordertime);
				})
				orderwork.push({list:opklist});
			}
			
			var o={};
			o.order_work=orderwork;
			o.order_son=orderson;
			o=JSON.stringify(o);
			console.log(o);
		 	$.ajax({
				url:"insert",
				type:"post",
				data:o,
				processData:false, 
 				contentType:"application/json;charset=UTF-8",
 				dataType:"text",
				success:function(result){
					
					alert("新增成功")
					location.href="order/query";
				}
			});  
		})
      })
      
function XmPb(id,pname,area,time,etime,pid,aid,typeid,staffid,staname) {
    	  console.log(staffid)
    	  console.log(staname)
			var div = document.createElement("tr");
			div.classList.add("detail1");
			div.classList.add("row");
			var p1 = document.createElement("td");
			p1.classList.add("col-2");
			p1.innerHTML = pname;
			div.appendChild(p1)
			var inputp=document.createElement("input");
			inputp.value=pid;
			inputp.setAttribute("type","hidden");
			inputp.classList.add("pid");
			div.appendChild(inputp);
			var p2 = document.createElement("td");
			p2.classList.add("col-2");
			p2.innerHTML = area;
			div.appendChild(p2)
			var inputa=document.createElement("input");
			inputa.value=aid;
			inputa.setAttribute("type","hidden");
			inputa.classList.add("aid");
			div.appendChild(inputa);
			var p3 = document.createElement("td");
			p3.classList.add("col-3");
			var span1 = document.createElement("span");
			span1.classList.add("startTime");
			span1.innerHTML = time;
			p3.appendChild(span1);
			div.appendChild(p3);
			var p4 = document.createElement("td");
			p4.classList.add("col-3");
			var span2 = document.createElement("span");
			span2.classList.add("endTime");
			span2.innerHTML = etime;
			p4.appendChild(span2);
			div.appendChild(p4);
			
			var p5 = document.createElement("td");
			p5.classList.add("col-2");
			var span3 = document.createElement("span");
			span3.setAttribute("sid",staffid);
			span3.innerHTML = staname;
			p5.appendChild(span3);
			div.appendChild(p5);
			$("#boxorder").append(div);
			/* $.each($("#boxorder tr"),function(index,item){
				if($(item).find("[name='productid']").val()==id&&$(item).find(".typeidss").val()==typeid)
					$(item).after(div);
			}) */
		}
		
      function DataXm(data,number1) {
			pd=1;
			timelist=[];
			hd=0;
			var etime1 = Date.parse(new Date());
			for(var i = 0; i < data.length; i++) {
				var be1 = 0;
				if(data[i].ix != null) {
					if(data[i].ix.length == undefined) {
						for(var h = 0; h < data[i].ix.areas.length; h++) {
							var indexss=0;
							$.each(data[i].ix.areas[h].worktimes, function(index, item) {
								$.each(item, function(index1, item1) {
									var time3 = Date.parse(new Date(item1.startTime));
									var pro = {};
										if(hd == 0 && timelist[hd] == null && time3 > etime1 && number1 < data[i].ix.galleryful) {
											var index=Math.floor((Math.random()*item1.ulist.length));
												if(item1.ulist[index].staff!=null){
													pro.sid = item1.ulist[index].staff.id;
													pro.staffname= item1.ulist[index].staff.ulist.uname;
												}
											pro.time = item1.startTime;
											pro.area = data[i].ix.areas[h].aname;
											pro.pname = data[i].ix.pname;
											pro.etime = item1.endTime;
											pro.pid=data[i].ix.id;
											pro.aid = data[i].ix.areas[h].id;
											pro.pd=""+data[i].iid+""+""+data[i].typeid+"";
											
											timelist[hd] = pro;
											be1++;
											indexss=1;
										} else
										if(timelist[hd] == null && hd != 0 && timelist[hd - 1] != null && item1.startTime > timelist[hd - 1].etime && time3 > etime1 && number1 < data[i].ix.galleryful) {
												var index=Math.floor((Math.random()*item1.ulist.length));
												if(item1.ulist[index].staff!=null){
													pro.sid = item1.ulist[index].staff.id;
													pro.staffname= item1.ulist[index].staff.ulist.uname;
												}
											pro.time = item1.startTime;
											pro.area = data[i].ix.areas[h].aname;
											pro.pname = data[i].ix.pname;
											pro.etime = item1.endTime;
											pro.pid=data[i].ix.id ;
											pro.aid = data[i].ix.areas[h].id;
											pro.pd=""+data[i].iid+""+""+data[i].typeid+"";
											timelist[hd] = pro;
											be1++;
											indexss=1;
										} else
											if(timelist[hd] != null && timelist[hd].time > item1.startTime&&(timelist[hd - 1]!=null && timelist[hd - 1].etime < item1.startTime||hd==0)&& time3 > etime1 && number1 < data[i].ix.galleryful) {
											var pro = {};
											var index=Math.floor((Math.random()*item1.ulist.length));
												if(item1.ulist[index].staff!=null){
													pro.sid = item1.ulist[index].staff.id;
													pro.staffname= item1.ulist[index].staff.ulist.uname;
												}
											pro.time = item1.startTime;
											pro.area = data[i].ix.areas[h].aname;
											pro.pname = data[i].ix.pname;
											pro.etime = item1.endTime;
											pro.pid=data[i].ix.id;
											pro.aid = data[i].ix.areas[h].id;
											pro.pd=""+data[i].iid+""+""+data[i].typeid+"";
											timelist[hd] = pro;
											be1++;
											indexss=1;
										}
								})
							})
							
							if(indexss==0){
								pd=0;
							}
							if(be1 != 0) {
								break;
								be1 = 0;
							}
						}
						hd++;
					}else {
						for(var j = 0; j < data[i].ix.length; j++) {
							var be = 0;
							for(var h = 0; h < data[i].ix[j].areas.length; h++) {
								var indexss=0;
								$.each(data[i].ix[j].areas[h].worktimes, function(index, item) {
									$.each(item, function(index1, item1) {
										
										var time3 = Date.parse(new Date(item1.startTime));
										var pro = {};
												if(hd == 0 && timelist[hd] == null && time3 > etime1 && number1 < data[i].ix[j].galleryful) {
													var index=Math.floor((Math.random()*item1.ulist.length));
														if(item1.ulist[index].staff!=null){
															pro.sid = item1.ulist[index].staff.id;
															pro.staffname= item1.ulist[index].staff.ulist.uname;
														}
													pro.time = item1.startTime;
													pro.area = data[i].ix[j].areas[h].aname;
													pro.pname = data[i].ix[j].pname;
													pro.etime = item1.endTime;
													pro.pid=data[i].ix[j].id;
													pro.aid = data[i].ix[j].areas[h].id;
													pro.pd=""+data[i].iid+""+""+data[i].typeid+"";
													timelist[hd] = pro;
													be++;
													indexss=1;
												} else
												if(timelist[hd] == null && hd != 0 &&timelist[hd - 1]!=null&& item1.startTime > timelist[hd - 1].etime && time3 > etime1 && number1 < data[i].ix[j].galleryful) {
													var index=Math.floor((Math.random()*item1.ulist.length));
														if(item1.ulist[index].staff!=null){
															pro.sid = item1.ulist[index].staff.id;
															pro.staffname= item1.ulist[index].staff.ulist.uname;
														}
													pro.time = item1.startTime;
													pro.area = data[i].ix[j].areas[h].aname;
													pro.pname = data[i].ix[j].pname;
													pro.etime = item1.endTime;
													pro.pid=data[i].ix[j].id;
													pro.aid = data[i].ix[j].areas[h].id;
													pro.pd=""+data[i].iid+""+""+data[i].typeid+"";
													timelist[hd] = pro;
													be++;
													indexss=1;
												} else
													if(timelist[hd] != null && timelist[hd].time > item1.startTime&&(timelist[hd - 1]!=null && timelist[hd - 1].etime < item1.startTime||hd==0)&& time3 > etime1 && number1 < data[i].ix[j].galleryful) {
														var pro = {};
														var index=Math.floor((Math.random()*item1.ulist.length));
															if(item1.ulist[index].staff!=null){
																pro.sid = item1.ulist[index].staff.id;
																pro.staffname= item1.ulist[index].staff.ulist.uname;
															}
														pro.time = item1.startTime;
														pro.area = data[i].ix[j].areas[h].aname;
														pro.pname = data[i].ix[j].pname;
														pro.etime = item1.endTime;
														pro.pid=data[i].ix[j].id;
														pro.aid = data[i].ix[j].areas[h].id;
														pro.pd=""+data[i].iid+""+""+data[i].typeid+"";
														timelist[hd] = pro;
														be++;
														indexss=1;
														console.log(timelist[hd].time>item1.startTime)
													}
									})
								})
								if(indexss==0){
									pd=0;
								}		
								if(be != 0) {
									break;
									be = 0;
								}
							}
							hd++;
						}
					}
				}
			}
		}

	      
	      	
	      function Xm(number1){
				if(i%3==0&&i!=0){
					j++;
				}
				var startTime1=startTime.getFullYear()+"-"+(startTime.getMonth()+1)+"-"+(startTime.getDate()+j)+" "+"7:30:00";
				var endTime1=startTime.getFullYear()+"-"+(startTime.getMonth()+1)+"-"+(startTime.getDate()+i)+" "+"7:30:00";
				i++;
				 $.ajax({
						url:'/shopcartshh/query',
				  		data:{"orderson":orderson1,"startTime":startTime1,"endTime":endTime1},
				  		dataType:'json',
				  		type:'post',
				  		timeout:10000,
				  		success:function(data){
					  			DataXm(data,number1);
					  			if(pd==1){
					  				for (var m=0;m<timelist.length;m++) {
					  						console.log(timelist);
					  						var times=new Date(timelist[m].time);
					  						var time="2019-"+(times.getMonth()+1)+"-"+times.getDate()+" "+times.getHours()+":"+times.getMinutes()+":"+times.getSeconds();
					  						var etimes=new Date(timelist[m].etime);
					  						var etime="2019-"+(etimes.getMonth()+1)+"-"+etimes.getDate()+" "+etimes.getHours()+":"+etimes.getMinutes()+":"+etimes.getSeconds();
						  					XmPb(timelist[m].id,timelist[m].pname,timelist[m].area,time,etime,timelist[m].pid,timelist[m].aid,timelist[m].typeid,timelist[m].sid,timelist[m].staffname)
					  				}
	  									
								}else{
										Xm(number1);
								};
						}
					}); 
		}
    </script>

</body>

</html>