<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Single</title>
<meta charset="utf-8">
<link th:href="@{/css1/bootstrap.css}" rel='stylesheet' type='text/css' />
<script type="text/javascript" th:src="@{/js1/jquery.min.js}"></script>
<script th:src="@{/js1/bootstrap.min.js}"></script>
<link th:href="@{/css1/style1.css}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
<style>
</style>
<link href='http://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
				<!-- Include the Etalage files -->
					<link rel="stylesheet" th:href="@{/css1/etalage.css}">
					<script th:src="@{/js1/jquery.etalage.min.js}"></script>
				<!-- Include the Etalage files -->
				<script>
						jQuery(document).ready(function($){
			
							$('#etalage').etalage({
								thumb_image_width: 300,
								thumb_image_height: 400,
								
								show_hint: true,
								click_callback: function(image_anchor, instance_id){
									alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
								}
							});
							// This is for the dropdown list example:
							$('.dropdownlist').change(function(){
								etalage_show( $(this).find('option:selected').attr('class') );
							});

					});
				</script>
</head>
<body>
	
	
	
	
    <div class="main">
		<div class="container">
		  <div class="single">
		   <div class="row content">
		   	<div class="col-md-3">
		   	   <ul class="product_reviews">
		   	   	<h3><i class="arrow"> </i><span>销售排行榜</span></h3>
		   	   	<li>
		   	   		<ul class="review1">
		   	   			<li class="review1_img"><img th:src="@{/images/pic1.jpg}" class="img-responsive" alt=""/></li>
		   	   			<li class="review1_desc"><h3><a href="#">鱼香肉丝</a><span class="badge" style="color: white; background-color: red;">1</span></h3><p><span class="actual1" style="color: red;">$12.00</span></p></li>
		   	   			<div class="clearfix"> </div>
		   	   		</ul>
		   	   	</li>
		   	   	<li>
		   	   		<ul class="review1">
		   	   			<li class="review1_img"><img th:src="@{/images/pic1.jpg}" class="img-responsive" alt=""/></li>
		   	   			<li class="review1_desc"><h3><a href="#">鱼香肉丝</a><span class="badge" style="color: white; background-color: red;">1</span></h3><p><span class="actual1" style="color: red;">$12.00</span></p></li>
		   	   			<div class="clearfix"> </div>
		   	   		</ul>
		   	   	</li>
		   	   	<li>
		   	   		<ul class="review1">
		   	   			<li class="review1_img"><img th:src="@{/images/pic1.jpg}" class="img-responsive" alt=""/></li>
		   	   			<li class="review1_desc"><h3><a href="#">鱼香肉丝</a><span class="badge" style="color: white; background-color: red;">1</span></h3><p><span class="actual1" style="color: red;">$12.00</span></p></li>
		   	   			<div class="clearfix"> </div>
		   	   		</ul>
		   	   	</li>
		   	   	<li>
		   	   		<ul class="review1">
		   	   			<li class="review1_img"><img th:src="@{/images/pic1.jpg}" class="img-responsive" alt=""/></li>
		   	   			<li class="review1_desc"><h3><a href="#">鱼香肉丝</a><span class="badge" style="color: white; background-color: red;">1</span></h3><p><span class="actual1" style="color: red;">$12.00</span></p></li>
		   	   			<div class="clearfix"> </div>
		   	   		</ul>
		   	   	</li>
		   	   	<li>
		   	   		<ul class="review1">
		   	   			<li class="review1_img"><img th:src="@{/images/pic1.jpg}" class="img-responsive" alt=""/></li>
		   	   			<li class="review1_desc"><h3><a href="#">鱼香肉丝</a><span class="badge" style="color: white; background-color: red;">1</span></h3><p><span class="actual1" style="color: red;">$12.00</span></p></li>
		   	   			<div class="clearfix"> </div>
		   	   		</ul>
		   	   	</li>
		   	   
		   	   </ul>
		   	   
		   	</div>
		   	<div class="col-md-9" th:each="item,stack : ${list}">
		   	   <div class="single_image">
					     <ul id="etalage">
							<li th:each="items,stack1 : ${item.mlist}">
								<img class="etalage_thumb_image"   th:src="${items.url}"  alt=""/>
								<img class="etalage_source_image"  th:src="${items.url}"  alt=""/>
							</li>
						</ul>
				</div>
					    <div class="single_right">
				        	<h3 th:text="${item.mname}"> </h3>
				        	<p class="m_5" th:text="${item.name1}"></p>
				        	<br>
				        	<span th:if="${item.list!=null}" th:text="套餐详情"></span>
				        	<div th:if="${item.list!=null}" th:each="mitem : ${item.list}">
				        		<span th:text="${mitem.mname}" style="color: green;"></span>
				        	</div>
				        	<div class="price_single">
							 <!--  <span class="yj reducedfrom">$66.00</span> -->
							  <span class="xj actual1" th:text="'$'+${item.price}"></span>
							</div>
				        	<div class="btn-group" role="group" aria-label="..." style="margin-bottom: 10px;">
							  <button type="button" class="jian btn btn-default">-</button>
							  <button type="button" class="btn btn-default">1</button>
							  <button type="button" class="jia btn btn-default">+</button>
							</div>
							<script>
								$(function(){
									var yj1=$(".yj").html();
									var xj1=$(".xj").html();
									$(".jia").click(function(){
										var yj=yj1;
										var xj=xj1;
										var num=$(this).prev().html();
										num=parseInt(num)+1;
										$(this).prev().html(num);	
										yj=yj.substring(1);
										yj=parseFloat(yj)*num;
										$(".yj").html("$"+yj.toFixed(2));
										xj=xj.substring(1);
										xj=parseFloat(xj)*num;
										$(".xj").html("$"+xj.toFixed(2));
									})
									$(".jian").click(function(){
										var yj=yj1;
										var xj=xj1;
										var num=$(this).next().html();
										if(num>0){
											num=parseInt(num)-1;
											$(this).next().html(num);
											yj=yj.substring(1);
											yj=parseFloat(yj)*num;
											$(".yj").html("$"+yj.toFixed(2));
											xj=xj.substring(1);
											xj=parseFloat(xj)*num;
											$(".xj").html("$"+xj.toFixed(2));
										}
										
									})
								})
								
							</script>
							<div class="btn_form">
							   <form>
								 <input type="submit" value="加入购物车" title="">
							  </form>
							</div>
							<ul class="add-to-links">
    			              <li><img th:src="@{/images/wish.png}" alt=""><a href="javascript:void(0)"><span th:text="${item.likecount}"></span> 位用户赞了</a></li>
    			            </ul>
          </div> 
          
          	
          
          
		</div>
		<!--评论-->
			
	  </div>
	 		<div class="row contact">
	 			<div class="col-md-3"></div>
	 			<div class="col-md-9">
	 				<ul class="media-list">
					  <li class="media" th:each="pitem : ${plist}">
					    <div class="media-left">
					      <a href="#">
					        <img class="media-object" th:src="${pitem.muser.name2}" alt="...">
					      </a>
					    </div>
					    <div class="media-body"  style="border: 1px solid #fff;">
					      <h4 class="media-heading" th:text="${pitem.muser.uname}"></h4>
					      	<p style="font-size: 16px;" th:text="${pitem.content}"></p>
					    </div>
					  </li>
					</ul>
	 			</div>
	 		</div>
		  </div>
	</div>

</body>
</html>

