<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>团队管理</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
		<link rel="stylesheet"  th:href="@{/css/fontawesome.min.css}">
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
		<link rel="stylesheet" th:href="@{/css/templatemo-style.css}" >
		
		<style type="text/css">
			#tab {
				max-height: 465px;
				margin-bottom: 15px;
				overflow-y: auto;
			}
			
			tbody tr td a {
				color: white;
			}
			
			tbody tr td a:hover {
				color: #00FF66;
			}
		</style>
	</head>

	<body id="reportsPage">
		<div class="" id="home">
			<div class="container">
				<div class="row tm-content-row">
					<div class="col-12 tm-block-col">
						<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
							<h2 class="tm-block-title">团队列表</h2>
							<div class="row">
								<form class="form-inline col-md-11" method="post" style="margin-bottom: 10px;" th:action="@{/team/toteam}">
									<div class="form-group" style="margin:0px 10px 0px 0px;">
										<label for="exampleInputName2">团队名称:</label>
										<input type="text" th:value="${tname}" name="tname" style="margin-left: 5px;" class="form-control" id="exampleInputName2" placeholder="团队姓名">
									</div>
									<div class="form-group" style="margin:0px 10px 0px 0px;">
										<label>负责人名称: </label>
										<input type="text" th:value="${uname}" name="uname" style="margin-left: 5px;" class="form-control" id="exampleInputName2" placeholder="负责人姓名">
									</div>
									<input type="submit" class="btn btn-info" value="查询">
								</form>
							</div>
							<div id="tab">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">团队ID</th>
											<th scope="col">团队名称</th>
											<th scope="col">团队负责人</th>
											<th scope="col">操作</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="it,indexs :${list}">
											<th scope="row"><b th:text="${it.id}"></b></th>
											<td>
												<b th:text="${it.name1}"></b>
											</td>	
											<td>
												<div class="tm-status-circle  moving" ></div>
												<span th:text="${it.use.uname}" ></span>
											</td>
											<td>
												<a th:href="@{/team/toTeamDetails(id=${it.id})}" class="urls" uri="team/toTeamDetails">查看</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</body>
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<!-- https://jquery.com/download/ -->
	<script th:src="@{/js/moment.min.js}"></script>
	<!-- https://momentjs.com/ -->
	<script th:src="@{/js/Chart.min.js}"></script>
	<!-- http://www.chartjs.org/docs/latest/ -->
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- https://getbootstrap.com/ -->
	<script th:src="@{/js/tooplate-scripts-cy.js}"></script>

</html>