<!DOCTYPE html>
<html class="noIE" lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>个人中心</title>
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
	<link rel="icon" th:href="@{/img1/favicon/favicon.html}" type="image/x-icon" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/img1/favicon/apple-touch-icon-144x144-precomposed.html}">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/img1/favicon/apple-touch-icon-72x72-precomposed.html}">
	<link rel="apple-touch-icon-precomposed" th:href="@{/img1/favicon/apple-touch-icon-precomposed.html}">
	<link rel="stylesheet" th:href="@{/css1/minified.css}">
	<script>window.jQuery || document.write('<script th:src="@{/js1/jquery.min.js}"><\/script>');</script>
	<script th:src="@{/js1/jquery.min.js}"></script>
	<script th:src="@{/js1/modernizr.min.js}"></script>	
	<!-- PARTICULAR PAGES CSS FILES -->
	<link rel="stylesheet" th:href="@{/css1/innerpage.css}">
	<!-- // PARTICULAR PAGES CSS FILES -->
	<link rel="stylesheet" th:href="@{/css1/responsive.css}">
</head>
<style>
		.form-group div p{
				display: inline-block;margin-right: 20px;
				}
				.form-group div p select{
					   background: #d5d5d5;
					   border-radius: 5px;
					   width: 100px;
				}
</style>
	<body>
		<div class="panel-group checkout" id="checkout-collapse">
			<div class="panel panel-default">
				<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#checkout-collapse" href="#checkout-collapse3">
												<span class="step">02</span>
												个人资料修改
											</a>
										</h4>
									</div>
						<div id="checkout-collapse3" class="panel-collapse in">
										<div class="panel-body" >
											<form class="form-horizontal" th:action="@{/customer/updateUsers}" method="post" role="form">
												<div class="row">
													<div class="col-xs-12 col-sm-12 col-md-6">
														<input type="hidden" th:value="${users.id}" name="id"> 
															<input type="hidden" th:value="${users.typeid}" name="typeid"> 
														<input type="hidden" th:value="${users.idcardno}" name="idcardno"> 
														<div class="form-group stylish-input col-sm-6">
															<label for="inputFirstname" class="col-sm-3 col-lg-2 control-label required">账号:</label>
															<div class="col-sm-9 col-lg-8">
																<input type="text" class="form-control" name="uname" readonly="readonly" th:value="${users.uname}" id="inputFirstname" />
															</div>	
														</div>
														<div class="form-group stylish-input col-sm-6">
															<label for="inputEmail2" class="col-sm-3 col-lg-4 control-label required">账号密码:</label>
															<div class="col-sm-9 col-lg-8">
																<input type="text" th:value="${users.upassword}" name="upassword" class="form-control" id="inputEmail2" />
															</div>
														</div>
														<div class="form-group stylish-input col-sm-6">
															<label for="inputPhone" class="col-sm-3 col-lg-4 control-label required">电话:</label>
															<div class="col-sm-9 col-lg-8">
																<input type="text" th:value="${users.phone}" name="phone" class="form-control" id="inputPhone" />
															</div>
														</div>
														<div class="form-group stylish-input col-sm-6">
															<label for="inputCompany" class="col-sm-3 col-lg-4 control-label">身高:</label>
															<div class="col-sm-9 col-lg-8">
																<input type="text" class="form-control" name="height" th:value="${users.height}" id="inputCompany" />
															</div>
														</div>
														<div class="form-group stylish-input col-sm-6">
															<label for="inputAddress2" class="col-sm-3 col-lg-4 control-label">体重:</label>
															<div class="col-sm-9 col-lg-8">
																<input type="text" class="form-control" name="width" th:value="${users.width}" id="inputAddress2" />
															</div>
														</div>
														<div class="form-group stylish-input col-sm-6">
															<label for="inputCity" class="col-sm-3 col-lg-4 control-label ">居住地址:</label>
															<div class="col-sm-9 col-lg-8">
																<input type="text" th:value="${users.address}" class="form-control" name="address" id="inputCity" />
															</div>
														</div>
														<div class="form-group stylish-input col-sm-6">
															<label  class="col-sm-3 col-lg-4 control-label" style="margin-right: 20px;">性别:</label>
															<div id="divone">
																<input type="radio" name="name1" value="男"   class="prettyCheckable" th:checked="${users.name1=='男'}">男
																<input type="radio" name="name1" value="女"   class="prettyCheckable" th:checked="${users.name1=='女'}">女
															</div>
														</div>
													</div>
													 
												</div>
												<div class="space20 clearfix"></div>
												<input type="submit" class="btn btn-primary" style="margin-left: 20px" value="修改"> 
											</form>
									
										</div>
									</div>
			</div>
		</div>
<script th:src="@{/js1/minified.js}"></script>
<script th:src="@{/js1/products.js}"></script>
	
</body>
</html>