<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.commissionMapper">
	<resultMap id="BaseResultMap"
		type="com.accp.domain.commission">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="productId" property="productid"
			jdbcType="INTEGER" />
		<result column="PostionId" property="postionid"
			jdbcType="INTEGER" />
		<result column="royaltyAmount" property="royaltyamount"
			jdbcType="DOUBLE" />
		<result column="conditions" property="conditions"
			jdbcType="INTEGER" />
		<result column="name1" property="name1" jdbcType="VARCHAR" />
		<result column="name2" property="name2" jdbcType="VARCHAR" />
		<result column="name3" property="name3" jdbcType="VARCHAR" />
		<result column="name4" property="name4" jdbcType="VARCHAR" />
		<result column="name5" property="name5" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap type="com.accp.domain.commission" id="Map"
		extends="BaseResultMap">
		<association property="pro"
			javaType="com.accp.domain.project">
			<id column="id" property="id" jdbcType="INTEGER" />
		</association>
		<association property="pos"
			javaType="com.accp.domain.positions">
			<id column="id" property="id" jdbcType="INTEGER" />
		</association>
	</resultMap>
	<!-- 查询员工的提成 -->
	<select id="commissionQuery" resultMap="Map">
		SELECT SUM(co.`royaltyAmount`) AS royaltyAmount FROM commission AS co
		INNER JOIN project AS pr ON pr.`id`=co.`productId`
		INNER JOIN positions AS po ON po.`id`=co.`PostionId`
		INNER JOIN staff AS st ON po.`id`=st.`PostionId`
		INNER JOIN users AS us ON us.`id`=st.`userId`
		INNER JOIN `orderproductwork` AS od ON od.`iid`=pr.`id`
		INNER JOIN `worduser` AS wu ON wu.`workId`=od.`id` AND wu.`productStaffId`=st.`id`
		WHERE st.`id`=#{stid}
	</select>


	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, productId, PostionId, royaltyAmount, conditions, name1,
		name2, name3,
		name4,
		name5
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.accp.domain.commissionExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from commission
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from commission
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from commission
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.accp.domain.commissionExample">
		delete from commission
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.accp.domain.commission">
		insert into commission (id,
		productId, PostionId,
		royaltyAmount, conditions, name1,
		name2, name3,
		name4,
		name5)
		values (#{id,jdbcType=INTEGER},
		#{productid,jdbcType=INTEGER},
		#{postionid,jdbcType=INTEGER},
		#{royaltyamount,jdbcType=DOUBLE}, #{conditions,jdbcType=INTEGER},
		#{name1,jdbcType=VARCHAR},
		#{name2,jdbcType=VARCHAR},
		#{name3,jdbcType=VARCHAR},
		#{name4,jdbcType=VARCHAR},
		#{name5,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.accp.domain.commission">
		insert into commission
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="productid != null">
				productId,
			</if>
			<if test="postionid != null">
				PostionId,
			</if>
			<if test="royaltyamount != null">
				royaltyAmount,
			</if>
			<if test="conditions != null">
				conditions,
			</if>
			<if test="name1 != null">
				name1,
			</if>
			<if test="name2 != null">
				name2,
			</if>
			<if test="name3 != null">
				name3,
			</if>
			<if test="name4 != null">
				name4,
			</if>
			<if test="name5 != null">
				name5,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="productid != null">
				#{productid,jdbcType=INTEGER},
			</if>
			<if test="postionid != null">
				#{postionid,jdbcType=INTEGER},
			</if>
			<if test="royaltyamount != null">
				#{royaltyamount,jdbcType=DOUBLE},
			</if>
			<if test="conditions != null">
				#{conditions,jdbcType=INTEGER},
			</if>
			<if test="name1 != null">
				#{name1,jdbcType=VARCHAR},
			</if>
			<if test="name2 != null">
				#{name2,jdbcType=VARCHAR},
			</if>
			<if test="name3 != null">
				#{name3,jdbcType=VARCHAR},
			</if>
			<if test="name4 != null">
				#{name4,jdbcType=VARCHAR},
			</if>
			<if test="name5 != null">
				#{name5,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.accp.domain.commissionExample"
		resultType="java.lang.Integer">
		select count(*) from commission
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update commission
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.productid != null">
				productId = #{record.productid,jdbcType=INTEGER},
			</if>
			<if test="record.postionid != null">
				PostionId = #{record.postionid,jdbcType=INTEGER},
			</if>
			<if test="record.royaltyamount != null">
				royaltyAmount = #{record.royaltyamount,jdbcType=DOUBLE},
			</if>
			<if test="record.conditions != null">
				conditions = #{record.conditions,jdbcType=INTEGER},
			</if>
			<if test="record.name1 != null">
				name1 = #{record.name1,jdbcType=VARCHAR},
			</if>
			<if test="record.name2 != null">
				name2 = #{record.name2,jdbcType=VARCHAR},
			</if>
			<if test="record.name3 != null">
				name3 = #{record.name3,jdbcType=VARCHAR},
			</if>
			<if test="record.name4 != null">
				name4 = #{record.name4,jdbcType=VARCHAR},
			</if>
			<if test="record.name5 != null">
				name5 = #{record.name5,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update commission
		set id = #{record.id,jdbcType=INTEGER},
		productId =
		#{record.productid,jdbcType=INTEGER},
		PostionId =
		#{record.postionid,jdbcType=INTEGER},
		royaltyAmount =
		#{record.royaltyamount,jdbcType=DOUBLE},
		conditions =
		#{record.conditions,jdbcType=INTEGER},
		name1 =
		#{record.name1,jdbcType=VARCHAR},
		name2 =
		#{record.name2,jdbcType=VARCHAR},
		name3 =
		#{record.name3,jdbcType=VARCHAR},
		name4 =
		#{record.name4,jdbcType=VARCHAR},
		name5 =
		#{record.name5,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.accp.domain.commission">
		update commission
		<set>
			<if test="productid != null">
				productId = #{productid,jdbcType=INTEGER},
			</if>
			<if test="postionid != null">
				PostionId = #{postionid,jdbcType=INTEGER},
			</if>
			<if test="royaltyamount != null">
				royaltyAmount = #{royaltyamount,jdbcType=DOUBLE},
			</if>
			<if test="conditions != null">
				conditions = #{conditions,jdbcType=INTEGER},
			</if>
			<if test="name1 != null">
				name1 = #{name1,jdbcType=VARCHAR},
			</if>
			<if test="name2 != null">
				name2 = #{name2,jdbcType=VARCHAR},
			</if>
			<if test="name3 != null">
				name3 = #{name3,jdbcType=VARCHAR},
			</if>
			<if test="name4 != null">
				name4 = #{name4,jdbcType=VARCHAR},
			</if>
			<if test="name5 != null">
				name5 = #{name5,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.accp.domain.commission">
		update commission
		set productId =
		#{productid,jdbcType=INTEGER},
		PostionId =
		#{postionid,jdbcType=INTEGER},
		royaltyAmount =
		#{royaltyamount,jdbcType=DOUBLE},
		conditions =
		#{conditions,jdbcType=INTEGER},
		name1 = #{name1,jdbcType=VARCHAR},
		name2 = #{name2,jdbcType=VARCHAR},
		name3 = #{name3,jdbcType=VARCHAR},
		name4 = #{name4,jdbcType=VARCHAR},
		name5 = #{name5,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>