<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.projectMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.project" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pName" property="pname" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="safeTime" property="safetime" jdbcType="TIMESTAMP" />
    <result column="pstatus" property="pstatus" jdbcType="VARCHAR" />
    <result column="mincrowd" property="mincrowd" jdbcType="INTEGER" />
    <result column="maxcrowd" property="maxcrowd" jdbcType="INTEGER" />
    <result column="minheight" property="minheight" jdbcType="DOUBLE" />
    <result column="maxheight" property="maxheight" jdbcType="DOUBLE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="tid" property="tid" jdbcType="INTEGER" />
    <result column="needTime" property="needtime" jdbcType="VARCHAR" />
    <result column="galleryful" property="galleryful" jdbcType="INTEGER" />
    <result column="cost" property="cost" jdbcType="DOUBLE" />
    <result column="leadingoffcial" property="leadingoffcial" jdbcType="INTEGER" />
    <result column="newPrice" property="newprice" jdbcType="DOUBLE" />
    <result column="name1" property="name1" jdbcType="VARCHAR" />
    <result column="name2" property="name2" jdbcType="VARCHAR" />
    <result column="name3" property="name3" jdbcType="VARCHAR" />
    <result column="name4" property="name4" jdbcType="VARCHAR" />
    <result column="name5" property="name5" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <!-- 项目查询所有 -->
  <resultMap type="com.accp.domain.project" id="queryAll_result" extends="BaseResultMap">
	  <collection property="ptype" column="id" ofType="com.accp.domain.projecttype">
	  	<id column="id" property="id" jdbcType="INTEGER" />
	    <result column="ptName" property="ptname" jdbcType="VARCHAR" />
	  </collection>
	  <collection property="ilist" column="id" ofType="com.accp.domain.images" select="com.accp.mapper.imagesMapper.queryByIid">  
	   <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="url" property="url" jdbcType="VARCHAR" />
	    <result column="iid" property="iid" jdbcType="INTEGER" />
	    <result column="typeId" property="typeid" jdbcType="INTEGER" />
	  </collection> 
  	<collection property="sta" column="id" ofType="com.accp.domain.staff">
  		<id property="id"  column="id"/>
  		<result property="userid" column="userid"/>
  		<result property="entrytime" column="entrytime"/>
  		<result property="departuretime" column="departuretime"/>
  		<result property="departmentid" column="departmentid"/>
  		<result property="postionid" column="postionid"/>
  		<result property="state" column="state"/>
  	</collection>
  	<collection property="use" column="id" ofType="com.accp.domain.users">
  		<id property="id"  column="id"/>
  		<result property="uname" column="uname"/>
  		<result property="upassword" column="upassword"/>
  		<result property="idcardno" column="idcardno"/>
  		<result property="phone" column="phone"/>
  		<result property="address" column="address"/>
  		<result property="height" column="height"/>
  		<result property="width" column="width"/>
  		<result property="typeid" column="typeid"/>
  	</collection>
  </resultMap>
  
  <select id="queryAll" resultMap="queryAll_result">
  	SELECT *,`user`.`uName` AS `uname`,`pro`.`pName` AS `pname` FROM `project` AS `pro`
	INNER JOIN `projecttype` AS `pt`
	ON `pt`.`id`=`pro`.`tid`
	INNER JOIN `staff` AS `sta`
	ON `pro`.`leadingoffcial`=`sta`.`userId`
	INNER JOIN `users` AS `user`
	ON `sta`.`userId`=`user`.`id`
	<where>
		<if test="pname!= null">
			or `pname` liek concat ('%',#{pname},'%')
		</if>
		<if test="id!=null">
			or `id`=#{id}
		</if>
		<!-- <if test="pid!=null">
			or `pid` =#{pid}
		</if> -->
		<!-- <if test="uname!=null">
			or `user`.`uName`=#{uname}
		</if> -->
	</where>
  </select>
  
  <!-- 查询活动项目 -->
  <select id="queryByProjectId" resultType="com.accp.domain.project">
  	SELECT * FROM `project` WHERE `id`=#{id}
  </select>
  
  
  <!-- 查询项目详情 -->
  <resultMap type="com.accp.domain.project" id="queryBy_Xq_result" extends="BaseResultMap">
	  <collection property="ptype" column="id" ofType="com.accp.domain.projecttype">
	  	<id column="id" property="id" jdbcType="INTEGER" />
	    <result column="ptName" property="ptname" jdbcType="VARCHAR" />
	  </collection>
	  <collection property="ilist" column="id" ofType="com.accp.domain.images" select="com.accp.mapper.imagesMapper.queryByIid">  
	   <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="url" property="url" jdbcType="VARCHAR" />
	    <result column="iid" property="iid" jdbcType="INTEGER" />
	    <result column="typeId" property="typeid" jdbcType="INTEGER" />
	  </collection> 
  	<collection property="sta" column="id" ofType="com.accp.domain.staff">
  		<id property="id"  column="id"/>
  		<result property="userid" column="userid"/>
  		<result property="entrytime" column="entrytime"/>
  		<result property="departuretime" column="departuretime"/>
  		<result property="departmentid" column="departmentid"/>
  		<result property="postionid" column="postionid"/>
  		<result property="state" column="state"/>
  	</collection>
  	<collection property="use" column="id" ofType="com.accp.domain.users">
  		<id property="id"  column="id"/>
  		<result property="uname" column="uname"/>
  		<result property="upassword" column="upassword"/>
  		<result property="idcardno" column="idcardno"/>
  		<result property="phone" column="phone"/>
  		<result property="address" column="address"/>
  		<result property="height" column="height"/>
  		<result property="width" column="width"/>
  		<result property="typeid" column="typeid"/>
  	</collection>
  </resultMap>
  
  
	<select id="projectXq_queryById" resultMap="queryBy_Xq_result">
		SELECT *,`user`.`uName` AS `uname`,`pro`.`pName` AS `pname` FROM `project` AS `pro`
		INNER JOIN `projecttype` AS `pt`
		ON `pt`.`id`=`pro`.`tid`
		INNER JOIN `staff` AS `sta`
		ON `pro`.`leadingoffcial`=`sta`.`userId`
		INNER JOIN `users` AS `user`
		ON `sta`.`userId`=`user`.`id`
		WHERE `pro`.`id`=#{id}
	</select>
	  
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, pName, description, createTime, safeTime, pstatus, mincrowd, maxcrowd, minheight, 
    maxheight, remark, price, tid, needTime, galleryful, cost, leadingoffcial, newPrice, 
    name1, name2, name3, name4, name5
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.projectExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from project
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from project
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.projectExample" >
    delete from project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>

  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.accp.domain.project" >
    insert into project (id, pName, description, 
      createTime, safeTime, pstatus, 
      mincrowd, maxcrowd, minheight, 
      maxheight, remark, price, 
      tid, needTime, galleryful, 
      cost, leadingoffcial, newPrice, 
      name1, name2, name3, 
      name4, name5)
    values (#{id,jdbcType=INTEGER}, #{pname,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{safetime,jdbcType=TIMESTAMP}, #{pstatus,jdbcType=VARCHAR}, 
      #{mincrowd,jdbcType=INTEGER}, #{maxcrowd,jdbcType=INTEGER}, #{minheight,jdbcType=DOUBLE}, 
      #{maxheight,jdbcType=DOUBLE}, #{remark,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, 
      #{tid,jdbcType=INTEGER}, #{needtime,jdbcType=VARCHAR}, #{galleryful,jdbcType=INTEGER}, 
      #{cost,jdbcType=DOUBLE}, #{leadingoffcial,jdbcType=INTEGER}, #{newprice,jdbcType=DOUBLE}, 
      #{name1,jdbcType=VARCHAR}, #{name2,jdbcType=VARCHAR}, #{name3,jdbcType=VARCHAR}, 
      #{name4,jdbcType=VARCHAR}, #{name5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.project" >
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pname != null" >
        pName,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="safetime != null" >
        safeTime,
      </if>
      <if test="pstatus != null" >
        pstatus,
      </if>
      <if test="mincrowd != null" >
        mincrowd,
      </if>
      <if test="maxcrowd != null" >
        maxcrowd,
      </if>
      <if test="minheight != null" >
        minheight,
      </if>
      <if test="maxheight != null" >
        maxheight,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="tid != null" >
        tid,
      </if>
      <if test="needtime != null" >
        needTime,
      </if>
      <if test="galleryful != null" >
        galleryful,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="leadingoffcial != null" >
        leadingoffcial,
      </if>
      <if test="newprice != null" >
        newPrice,
      </if>
      <if test="name1 != null" >
        name1,
      </if>
      <if test="name2 != null" >
        name2,
      </if>
      <if test="name3 != null" >
        name3,
      </if>
      <if test="name4 != null" >
        name4,
      </if>
      <if test="name5 != null" >
        name5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="safetime != null" >
        #{safetime,jdbcType=TIMESTAMP},
      </if>
      <if test="pstatus != null" >
        #{pstatus,jdbcType=VARCHAR},
      </if>
      <if test="mincrowd != null" >
        #{mincrowd,jdbcType=INTEGER},
      </if>
      <if test="maxcrowd != null" >
        #{maxcrowd,jdbcType=INTEGER},
      </if>
      <if test="minheight != null" >
        #{minheight,jdbcType=DOUBLE},
      </if>
      <if test="maxheight != null" >
        #{maxheight,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="needtime != null" >
        #{needtime,jdbcType=VARCHAR},
      </if>
      <if test="galleryful != null" >
        #{galleryful,jdbcType=INTEGER},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DOUBLE},
      </if>
      <if test="leadingoffcial != null" >
        #{leadingoffcial,jdbcType=INTEGER},
      </if>
      <if test="newprice != null" >
        #{newprice,jdbcType=DOUBLE},
      </if>
      <if test="name1 != null" >
        #{name1,jdbcType=VARCHAR},
      </if>
      <if test="name2 != null" >
        #{name2,jdbcType=VARCHAR},
      </if>
      <if test="name3 != null" >
        #{name3,jdbcType=VARCHAR},
      </if>
      <if test="name4 != null" >
        #{name4,jdbcType=VARCHAR},
      </if>
      <if test="name5 != null" >
        #{name5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.projectExample" resultType="java.lang.Integer" >
    select count(*) from project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update project
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pname != null" >
        pName = #{record.pname,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.safetime != null" >
        safeTime = #{record.safetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pstatus != null" >
        pstatus = #{record.pstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.mincrowd != null" >
        mincrowd = #{record.mincrowd,jdbcType=INTEGER},
      </if>
      <if test="record.maxcrowd != null" >
        maxcrowd = #{record.maxcrowd,jdbcType=INTEGER},
      </if>
      <if test="record.minheight != null" >
        minheight = #{record.minheight,jdbcType=DOUBLE},
      </if>
      <if test="record.maxheight != null" >
        maxheight = #{record.maxheight,jdbcType=DOUBLE},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.tid != null" >
        tid = #{record.tid,jdbcType=INTEGER},
      </if>
      <if test="record.needtime != null" >
        needTime = #{record.needtime,jdbcType=VARCHAR},
      </if>
      <if test="record.galleryful != null" >
        galleryful = #{record.galleryful,jdbcType=INTEGER},
      </if>
      <if test="record.cost != null" >
        cost = #{record.cost,jdbcType=DOUBLE},
      </if>
      <if test="record.leadingoffcial != null" >
        leadingoffcial = #{record.leadingoffcial,jdbcType=INTEGER},
      </if>
      <if test="record.newprice != null" >
        newPrice = #{record.newprice,jdbcType=DOUBLE},
      </if>
      <if test="record.name1 != null" >
        name1 = #{record.name1,jdbcType=VARCHAR},
      </if>
      <if test="record.name2 != null" >
        name2 = #{record.name2,jdbcType=VARCHAR},
      </if>
      <if test="record.name3 != null" >
        name3 = #{record.name3,jdbcType=VARCHAR},
      </if>
      <if test="record.name4 != null" >
        name4 = #{record.name4,jdbcType=VARCHAR},
      </if>
      <if test="record.name5 != null" >
        name5 = #{record.name5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update project
    set id = #{record.id,jdbcType=INTEGER},
      pName = #{record.pname,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      safeTime = #{record.safetime,jdbcType=TIMESTAMP},
      pstatus = #{record.pstatus,jdbcType=VARCHAR},
      mincrowd = #{record.mincrowd,jdbcType=INTEGER},
      maxcrowd = #{record.maxcrowd,jdbcType=INTEGER},
      minheight = #{record.minheight,jdbcType=DOUBLE},
      maxheight = #{record.maxheight,jdbcType=DOUBLE},
      remark = #{record.remark,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DOUBLE},
      tid = #{record.tid,jdbcType=INTEGER},
      needTime = #{record.needtime,jdbcType=VARCHAR},
      galleryful = #{record.galleryful,jdbcType=INTEGER},
      cost = #{record.cost,jdbcType=DOUBLE},
      leadingoffcial = #{record.leadingoffcial,jdbcType=INTEGER},
      newPrice = #{record.newprice,jdbcType=DOUBLE},
      name1 = #{record.name1,jdbcType=VARCHAR},
      name2 = #{record.name2,jdbcType=VARCHAR},
      name3 = #{record.name3,jdbcType=VARCHAR},
      name4 = #{record.name4,jdbcType=VARCHAR},
      name5 = #{record.name5,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.project" >
    update project
    <set >
      <if test="pname != null" >
        pName = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="safetime != null" >
        safeTime = #{safetime,jdbcType=TIMESTAMP},
      </if>
      <if test="pstatus != null" >
        pstatus = #{pstatus,jdbcType=VARCHAR},
      </if>
      <if test="mincrowd != null" >
        mincrowd = #{mincrowd,jdbcType=INTEGER},
      </if>
      <if test="maxcrowd != null" >
        maxcrowd = #{maxcrowd,jdbcType=INTEGER},
      </if>
      <if test="minheight != null" >
        minheight = #{minheight,jdbcType=DOUBLE},
      </if>
      <if test="maxheight != null" >
        maxheight = #{maxheight,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="tid != null" >
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="needtime != null" >
        needTime = #{needtime,jdbcType=VARCHAR},
      </if>
      <if test="galleryful != null" >
        galleryful = #{galleryful,jdbcType=INTEGER},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=DOUBLE},
      </if>
      <if test="leadingoffcial != null" >
        leadingoffcial = #{leadingoffcial,jdbcType=INTEGER},
      </if>
      <if test="newprice != null" >
        newPrice = #{newprice,jdbcType=DOUBLE},
      </if>
      <if test="name1 != null" >
        name1 = #{name1,jdbcType=VARCHAR},
      </if>
      <if test="name2 != null" >
        name2 = #{name2,jdbcType=VARCHAR},
      </if>
      <if test="name3 != null" >
        name3 = #{name3,jdbcType=VARCHAR},
      </if>
      <if test="name4 != null" >
        name4 = #{name4,jdbcType=VARCHAR},
      </if>
      <if test="name5 != null" >
        name5 = #{name5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.project" >
    update project
    set pName = #{pname,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      safeTime = #{safetime,jdbcType=TIMESTAMP},
      pstatus = #{pstatus,jdbcType=VARCHAR},
      mincrowd = #{mincrowd,jdbcType=INTEGER},
      maxcrowd = #{maxcrowd,jdbcType=INTEGER},
      minheight = #{minheight,jdbcType=DOUBLE},
      maxheight = #{maxheight,jdbcType=DOUBLE},
      remark = #{remark,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      tid = #{tid,jdbcType=INTEGER},
      needTime = #{needtime,jdbcType=VARCHAR},
      galleryful = #{galleryful,jdbcType=INTEGER},
      cost = #{cost,jdbcType=DOUBLE},
      leadingoffcial = #{leadingoffcial,jdbcType=INTEGER},
      newPrice = #{newprice,jdbcType=DOUBLE},
      name1 = #{name1,jdbcType=VARCHAR},
      name2 = #{name2,jdbcType=VARCHAR},
      name3 = #{name3,jdbcType=VARCHAR},
      name4 = #{name4,jdbcType=VARCHAR},
      name5 = #{name5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>