<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.teamMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.team" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mainiUserId" property="mainiuserid" jdbcType="INTEGER" />
    <result column="name1" property="name1" jdbcType="VARCHAR" />
    <result column="name2" property="name2" jdbcType="VARCHAR" />
    <result column="name3" property="name3" jdbcType="VARCHAR" />
    <result column="name4" property="name4" jdbcType="VARCHAR" />
    <result column="name5" property="name5" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap type="com.accp.domain.team" id="MapYp" extends="BaseResultMap">
  	<association property="use" javaType="com.accp.domain.users">
  		<id property="id" column="mainiUserId"/>
  		<result property="uname" column="uname"/>
  	</association>
  </resultMap>
  
  <resultMap type="com.accp.domain.team" id="resultMap" extends="BaseResultMap">
  	 <collection property="teams" column="id" ofType="com.accp.domain.teammember">
  	 	<association property="user"  javaType="com.accp.domain.users">
  	 		 <id column="id" property="id" jdbcType="INTEGER" />
		    <result column="uName" property="uname" jdbcType="VARCHAR" />
		    <result column="uPassword" property="upassword" jdbcType="VARCHAR" />
		    <result column="idCardNo" property="idcardno" jdbcType="VARCHAR" />
		    <result column="phone" property="phone" jdbcType="VARCHAR" />
		    <result column="address" property="address" jdbcType="VARCHAR" />
		    <result column="height" property="height" jdbcType="DOUBLE" />
		    <result column="width" property="width" jdbcType="DOUBLE" />
		    <result column="TypeId" property="typeid" jdbcType="INTEGER" />
		    <result column="name1" property="name1" jdbcType="VARCHAR" />
		    <result column="name2" property="name2" jdbcType="VARCHAR" />
		    <result column="name3" property="name3" jdbcType="VARCHAR" />
		    <result column="name4" property="name4" jdbcType="VARCHAR" />
		    <result column="name5" property="name5" jdbcType="VARCHAR" />
  	 	</association>
  	 </collection>
  </resultMap>
  
  <!-- 查询团体中的人 -->
  <select id="QueryTidUsers" resultMap="resultMap">
  		SELECT u.*,t.* FROM `team`  AS t 
		JOIN `teammember` AS tm ON t.`id`=tm.`teamId`
		JOIN `users` AS u ON  u.`id`=tm.`memberId`
		WHERE t.id=#{id}
  </select>
  
  <select id="selectBymainiUserId" resultMap="BaseResultMap">
  		SELECT * FROM `team` WHERE `mainiUserId`=#{id}
  </select>
  
  <select id="queryByuid" resultType="com.accp.domain.teammember">
  		SELECT * FROM `team` WHERE `mainiUserId`=#{id}
  </select>
  
    <select id="queryshh" resultMap="BaseResultMap">
  		SELECT * FROM `team` WHERE `mainiUserId`=#{userid}
  </select>
  
  <select id="selectAllTeam" resultMap="MapYp">
  	 SELECT t.*,uname  FROM team AS t INNER JOIN users AS u ON t.`mainiUserId`=u.`id`
  	 <where>
  	 	<if test="tname!=null and tname!=''">
  	 	 	and t.name1 LIKE CONCAT('%',#{tname},'%')
  	 	</if>
  	 	<if test="uname!=null and uname!=''">
  	 	 	and u.`uName` LIKE CONCAT('%',#{uname},'%')
  	 	</if>
  	 </where>
  </select>
  <!-- 查询最新的团队 -->
  <select id="NewTid" resultType="com.accp.domain.team">
  	SELECT * FROM `team` ORDER BY `id` DESC LIMIT 0,1
  </select>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mainiUserId, name1, name2, name3, name4, name5
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.teamExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from team
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from team
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from team
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.teamExample" >
    delete from team
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.accp.domain.team" >
    insert into team (id, mainiUserId, name1, 
      name2, name3, name4, 
      name5)
    values (#{id,jdbcType=INTEGER}, #{mainiuserid,jdbcType=INTEGER}, #{name1,jdbcType=VARCHAR}, 
      #{name2,jdbcType=VARCHAR}, #{name3,jdbcType=VARCHAR}, #{name4,jdbcType=VARCHAR}, 
      #{name5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.team" >
    insert into team
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mainiuserid != null" >
        mainiUserId,
      </if>
      <if test="name1 != null" >
        name1,
      </if>
      <if test="name2 != null" >
        name2,
      </if>
      <if test="name3 != null" >
        name3,
      </if>
      <if test="name4 != null" >
        name4,
      </if>
      <if test="name5 != null" >
        name5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mainiuserid != null" >
        #{mainiuserid,jdbcType=INTEGER},
      </if>
      <if test="name1 != null" >
        #{name1,jdbcType=VARCHAR},
      </if>
      <if test="name2 != null" >
        #{name2,jdbcType=VARCHAR},
      </if>
      <if test="name3 != null" >
        #{name3,jdbcType=VARCHAR},
      </if>
      <if test="name4 != null" >
        #{name4,jdbcType=VARCHAR},
      </if>
      <if test="name5 != null" >
        #{name5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.teamExample" resultType="java.lang.Integer" >
    select count(*) from team
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update team
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.mainiuserid != null" >
        mainiUserId = #{record.mainiuserid,jdbcType=INTEGER},
      </if>
      <if test="record.name1 != null" >
        name1 = #{record.name1,jdbcType=VARCHAR},
      </if>
      <if test="record.name2 != null" >
        name2 = #{record.name2,jdbcType=VARCHAR},
      </if>
      <if test="record.name3 != null" >
        name3 = #{record.name3,jdbcType=VARCHAR},
      </if>
      <if test="record.name4 != null" >
        name4 = #{record.name4,jdbcType=VARCHAR},
      </if>
      <if test="record.name5 != null" >
        name5 = #{record.name5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update team
    set id = #{record.id,jdbcType=INTEGER},
      mainiUserId = #{record.mainiuserid,jdbcType=INTEGER},
      name1 = #{record.name1,jdbcType=VARCHAR},
      name2 = #{record.name2,jdbcType=VARCHAR},
      name3 = #{record.name3,jdbcType=VARCHAR},
      name4 = #{record.name4,jdbcType=VARCHAR},
      name5 = #{record.name5,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.team" >
    update team
    <set >
      <if test="mainiuserid != null" >
        mainiUserId = #{mainiuserid,jdbcType=INTEGER},
      </if>
      <if test="name1 != null" >
        name1 = #{name1,jdbcType=VARCHAR},
      </if>
      <if test="name2 != null" >
        name2 = #{name2,jdbcType=VARCHAR},
      </if>
      <if test="name3 != null" >
        name3 = #{name3,jdbcType=VARCHAR},
      </if>
      <if test="name4 != null" >
        name4 = #{name4,jdbcType=VARCHAR},
      </if>
      <if test="name5 != null" >
        name5 = #{name5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.team" >
    update team
    set mainiUserId = #{mainiuserid,jdbcType=INTEGER},
      name1 = #{name1,jdbcType=VARCHAR},
      name2 = #{name2,jdbcType=VARCHAR},
      name3 = #{name3,jdbcType=VARCHAR},
      name4 = #{name4,jdbcType=VARCHAR},
      name5 = #{name5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>